[2018-02-09 18:59] iegomez opened #1 "Refactor exported things"
Need to refactor unnecessarily exported functions and fields.

[2018-02-09 19:00] iegomez opened #2 "Postgres invalid message format"
Need to reproduce this error and fix any ecaping/encoding issues related:
[code]

[2018-04-09 01:30] zcxzcxczcx opened #3 "how to use?"
hi,could you please give us more introductions about this plugin.Now I could not run it exactly,but there are little ducuments to find.

[2018-04-09 01:36] iegomez commented on #3
Hi! Documentation for configuring the plugin is available at the readme, but I'd be glad to guide you on installing or using it.

What have you done already and what issues are you facing? It'd be great if you could share any error logs and configurations (just omit or mock the sensitive parts, such as DB credentials).

[2018-04-09 23:43] zcxzcxczcx commented on #3
Firstly,Thank you very much that you can guide me.
Now I am facing the issue is that there is  authorization  for a user in a topic,but the user still denied by the mosquitto service for the topic

[2018-04-09 23:49] iegomez commented on #3
Which backend(s) are you using (just regular files or something else)? Did you register them correctly?

If you share your mosquitto configuration (usually /etc/mosquitto/mosquitto.conf, and anything under /etc/mosquitto/conf.d/, depending on your configuration), and your password and acls files if you are using the Files backend (again, probably located at something like /etc/mosquitto/auth-plugi

[2018-04-10 02:47] zcxzcxczcx commented on #3
I am using mysql as backend.And I have complemented Authentication function in the test_user table.
Belowing are my register information（I use the secret  word to instead of true info,I can ensure these infos are correct ）:
auth_plugin /etc/mosquitto/go-auth.so
auth_opt_backends mysql
auth_opt_log_level debug
auth_opt_mysql_host secret
auth_opt_mysql_port 3306
auth_opt_mysql_user 保密
auth_opt_mysql

[2018-04-10 12:46] iegomez commented on #3
Hi, I've just pushed a little change that'll print some debug messages for Mysql checks, including ACL ones. Could you try running mosquitto manually (stop mosquitto service and then something like `sudo mosquitto /etc/mosquitto/mosquitto.conf`), ideally with redis cache turned off so (check the readme for cache instructions), so we can see what gets printed when checking the ACL for your failing

[2018-04-14 00:33] douglaszuqueto opened #4 "Raspberry plugin support"
Is it possible to compile the plugin for Raspberry?

[2018-04-14 01:12] iegomez commented on #4
I once ran the full loraserver stack, including mosquitto, on a Raspberry, but I can't recall if I also used the plugin and don't have access to the RPi based gateways to check right now.

If you are patient enough, I could test it on monday and let you know; if you are eager to try it, just go ahead and compile it: hopefully it will work without any issue, and if not, we can work out the solution

[2018-04-14 01:16] douglaszuqueto commented on #4
Thank you @iegomez . I hope so!

I'll start the process to try to compile here as well. If I can get a result by then, I'll come back here.

Thank you again.

[2018-04-14 01:40] iegomez commented on #3
@zcxzcxczcx Did you have any luck checking the debug messages?

[2018-04-16 18:18] iegomez commented on #4
Well, I can now confirm that it works on a Raspberry Pi 3. I added detailed instructions on building mosquitto in the general case and some notes for Raspberry Pi to the readme, but basically what you need is to install and/or build necessary dependencies for mosquitto (websockets, ssl, etc.), build mosquitto itself, install Go for armv6l and then build the plugin as usual.

Be sure to pull or clo

[2018-04-17 14:07] gusseleet opened #5 "Possible to use with docker?"
Hi!

I'm trying to setup this with docker. This is my current config-file:
[code]
When I try to build this I get this error:
[code]

Is there any other way you could use this plugin with docker?

[2018-04-17 14:24] iegomez commented on #5
Hi! I have little experience with docker, but this is not a docker issue. You get this error because the Go compiler can't find mosquitto's headers:

`auth-plugin.c:6:23: fatal error: mosquitto.h: No such file or directory`

You either need to install mosquitto-dev or build mosquitto from source in your image to have the headers available for the plugin, which doesn't happen when you only run this

[2018-04-17 14:37] gusseleet commented on #5
Hi!

I changed the line to   `apt-get update && apt-get install -y mosquitto-dev mosquitto mosquitto-clients` but the Go compiler still can't find mosquitto.h. Must be something with docker then.

[2018-04-17 14:52] iegomez commented on #5
Mmm..., it sounds as the headers aren't placed where the plugin can see them when mosquitto-dev is installed, e.g., /usr/include/mosquitto.h. You could try to see where the files are located (mosquitto.h and mosquitto_plugin.h) and make a symlink to them.

Anyway, I'd recommend that you build mosquitto manually in your docker image instead of installing from packages to have better control (for ex

[2018-04-17 19:38] gusseleet commented on #5
I solved it when it was build from source.

[2018-04-17 19:38] #5 closed

[2018-04-17 19:45] gusseleet opened #6 "Documentation on how it works"
I don't really understand how the plugin works.

When and how is the postgres queries executed? Lets say "select password_hash from "user" where username = $1 and is_active = true limit 1".  Is this plugin purly for limiting users when subbing to a topic via MQTT?

[2018-04-17 21:15] iegomez commented on #6
I left an answer at the original post in the loraserver forum: https://forum.loraserver.io/t/filter-messages-on-the-network-server-or-before/1163/5.

[2018-04-17 23:44] iegomez commented on #6
I'm closing this issue so we can keep the discussion in the forum.

[2018-04-17 23:44] #6 closed

[2018-04-18 02:43] douglaszuqueto commented on #4
@iegomez, i managed to make it work (after a lot of work hehe).

Actually, this project can open many doors to other implementations. Thank you

Cheers!

[2018-04-18 13:13] iegomez commented on #4
Great news!

What other implementations are you thinking about?

[2018-04-20 01:07] douglaszuqueto commented on #4
With such freedom I think of 2 things:

* Adapt to more specific business rules;
* Create a log layer;

[2018-04-20 14:25] iegomez commented on #4
If you need any help with those or any other ideas, reach me here, at the lorserver (forum)[https://forum.loraserver.io/], or drop me a line at iegomez@ucl.cl / iegomez@manglar.cl. Of course, if you wish to contribute any implementation, just file a new PR.

Cheers!

[2018-04-20 14:25] #4 closed

[2018-04-30 09:44] gusseleet opened #7 "When is the different queries executed?"
When is pg_superquery executed instead of pg_userquery? Does the topic decides this?

[2018-04-30 15:13] iegomez commented on #7
The pg_userquery query is used to authenticate a user, i.e., check username/password when a client connects. It doesn' do authorization, only authentication.

When present, pg_superuser is executed when checking ACLs, just before running pg_aclquery. It serves as a way to define seruper users that can subscribe or publish to any topic if pg_superquery returns true. If false, then pg_aclquery is ex

[2018-05-02 14:17] iegomez commented on #7
Does that clear your doubts?

[2018-06-30 04:28] iegomez commented on #3
I'm closing this issue for now as it seems inactive. If you need to add anything about it, just comment here.

[2018-06-30 04:28] #3 closed

[2018-07-28 05:44] vincems opened #8 "Cannot dynamically load executible"
Hi folks,

I'm not sure if this is platform specific or I'd done something dumb.
Environment details:
  DISTRIB_ID=Ubuntu
  DISTRIB_RELEASE=16.04
  DISTRIB_CODENAME=xenial
  DISTRIB_DESCRIPTION="Ubuntu 16.04.5 LTS"

After a fresh compile of the latest release of the auth plug-in I'm getting an error
The original Makefile had the following:
        go build -buildmode=c-shared -o go-auth.so

but th

[2018-07-28 19:03] iegomez commented on #8
Hi!

What version of Go are you running? And did you run `make`or just tried `go build -buildmode=c-shared -o go-auth.so`on its own?

[2018-07-28 20:42] vincems commented on #8
Thanks for getting back iegomez ...

go version
go version go1.10.2 linux/amd64

Using the make directly from git resulted in:
make
[code]

I have also tried manually running each command from the Make file - with the same result.

Tweaking the position of the -o argument results in a clean compile - but then the resultant .so won't load.

Cheers
  Vince.

[2018-07-28 22:22] iegomez commented on #8
Well, that's kind of baffling. This week I built the plugin on an Azure VM running Ubuntu 17.10, on a Linode VM running Ubuntu 16.04, on my work machine running Debian 9 and a couple of hours ago on OS X 10.12, and all worked fine just executing `make`.

I'll see if I can reproduce it at work on monday, but I think moving the flag position shouldn't matter and it's odd that it behaves differently

[2018-07-30 16:51] iegomez commented on #8
Did you have any luck? I haven't been able to reproduce it in any of my setups, so it sounds specific to yours. You could write some basic go file that exports functions using cgo and see if that compiles using the same schema from the Makefile. If it doesn't, then there's definitely something going on at your setup.

[2018-07-30 18:09] vincems commented on #8
Hi - after upgrading to 1.10.3 and testing my latest compile - which definitely generated a SO rather than an executable - things started working :)  Not sure why - I'll experiment further once I have my project back on track - for now it's awesome to get a 'Not authorized' message :)

Thanks for your help.

[2018-07-30 21:30] iegomez commented on #8
Great!

I'll be closing this for now, but let me know if you run into any other issue.

Cheers!

[2018-07-30 21:30] #8 closed

[2018-08-01 22:34] iegomez opened #9 "Add new options"
These are some possible enhancements I'm considering:

1) Strict mode: allow to restrict authentication and acl to be done by the same backend. This means if user "my-user" is authed by Postgres, then only Postgres ACLs count for it.

2) Same backend multiple times: allow to have different instances of the same type of backend. This means that I can have 2 Postgres instances that checks against 2

[2018-11-04 00:01] ibrahimkoujar opened #10 "Build failed"
Hello
I am trying to build this package and I have zero knowledge in go.
after install golang and gogcc etc.
this error appeared
`go build -buildmode=c-archive go-auth.go
go-auth.go:15:2: cannot find package "plugin" in any of:
	/usr/src/plugin (from $GOROOT)
	/home/ik/go/src/plugin (from $GOPATH)
Makefile:2: recipe for target 'all' failed
make: *** [all] Error 1
`

What can I do to fix this probl

[2018-11-04 00:17] iegomez commented on #10
Hi! What OS are you running? This package allows to write custom backends using Go's plugin package (https://golang.org/pkg/plugin/), which only supports Linux and macOS.

If that's the problem (i.e., you are running Windows), then the direct "fix" is to modify go-auth.go and remove the custom plugin funcionality and then build the package. An alternative could be to run mosquitto and this package

[2018-11-04 01:11] ibrahimkoujar commented on #10
Thanks for your response the problem solved I was installed go in wrong way.

But there is another problem and that's why I moved from jpmens package to this one

the problem is when user try to connect to the broker its work normally but when he try subscribe to unauthorized topic the package disconnecting the user socket from broker, its happened only with subscribe.

Thanks.

[2018-11-04 01:28] ibrahimkoujar commented on #10
mqtt client app

`var mqtt = require('mqtt');

var mqttClient = mqtt.connect('mqtt://localhost:1883', {
	username: "device_1",
	password: "secret",
});

mqttClient.on('connect', function () {
	mqttClient.subscribe("topic2");
	console.log("App connected to MQTT Broker!");
});`

[2018-11-05 13:50] iegomez commented on #10
Sorry for the delay. The behavior you are seeing is from mosquitto, not a particular plugin. Mosquitto will disconnect the client when not authorized, so you must handle reconnection at the frontend.

[2018-11-08 18:32] iegomez commented on #10
I see that indeed it was a problem at mosquitto as per this issue: https://github.com/eclipse/mosquitto/issues/1016.
I'll close this issue now as it's not related to the plugin and it was fixed there.

Thanks for bringing it up and getting them to solve it!

[2018-11-08 18:32] #10 closed

[2018-11-11 08:25] lchjczw opened #11 "find a problem when subscribe to a readonly topic in the mosquitto1.5.4,but no problem in the mosquitto1.4.15"
In this case, the table has a column `rw` containing 1 for
readonly topics, 2 for writeonly topics and 3 for readwrite topics:

SELECT topic FROM acl WHERE (username = $1) AND (rw = $2 or rw = 3)

find a problem when subscript a  topic in the mosquitto1.5.4,but no problem in the mosquitto1.4.15

I faild when subscribe to the readonly topic in the mosquitto1.5.4

[2018-11-11 11:15] lchjczw commented on #11
compile with mosquitto1.4.15 ，then run with mosquitto1.5.4,  mosquitto-go-auth is no problem

[2018-11-11 22:08] iegomez commented on #11
Hi! Mosquitto 1.5.x added a new topics access variant, MOSQ_ACL_SUBSCRIBE, with value 0x04. You can check it here: https://github.com/eclipse/mosquitto/blob/master/src/mosquitto_plugin.h#L204.

I believe that's what's causing your problem. Could you confirm it by adding `rw = 4` to your check?

[2018-11-15 12:52] iegomez commented on #11
@lchjczw, were you able to try what I suggested?

[2018-11-15 17:08] iegomez commented on #11
Ok, I'll leave it open until you try it then.

[2018-11-15 17:15] lchjczw commented on #11
I have tried again, but it was still no go.

[2018-11-15 19:33] lchjczw commented on #11
My log directory does not have permission to write, so the log is not recorded. I will fill it in for you when I am not busy.

[2018-11-19 11:31] gjt211 opened #12 "Build fails"
Hi I am having trouble on a centos7 system.

I have installed the following;
[code]
I set the go path as `export PATH=$PATH:/usr/local/go/bin` as per the go instructions. I created the test go application and compiled/ran it ok.

I then git cloned this repository, changed to the directory and ran make.

Output is as follows;
[code]

[2018-11-19 13:45] iegomez commented on #12
Hi! You are missing Go dependencies. This should work: `make requirements`.
Then you can build with a simple `make`.

[2018-11-20 23:31] gjt211 commented on #12
Hi @iegomez
Thank you for your initial response, and your follow-up message.
I am currently away from home until the end of the week. I will certainly be checking over the weekend and will update/close with my results depending on the outcome.

[2018-11-21 12:17] iegomez commented on #11
Hi, @lchjczw. Where you able to retrieve the logs?

[2018-11-23 15:33] lchjczw commented on #11
compile with mosquitto1.4.15 ，
run with mosquitto1.5.4,
mosquitto-go-auth is no problem

this is all log:

1542985609: mosquitto version 1.5.4 starting
1542985609: Config loaded from /etc/mosquitto/mosquitto.conf.
1542985609: Opening websockets listen socket on port 9001.
1542985609: Opening ipv4 listen socket on port 1883.
1542985609: Opening ipv6 listen socket on port 1883.
1542985609: Warning:

[2018-11-23 15:36] lchjczw commented on #11
config:

auth_plugin /root/go/src/github.com/iegomez/mosquitto-go-auth/go-auth.so
auth_opt_backends mysql
auth_opt_mysql_host localhost
auth_opt_mysql_port 3306
auth_opt_mysql_dbname mqtt
auth_opt_mysql_user mqtt
auth_opt_mysql_password tzb8KzLAcBe5fE4T
auth_opt_mysql_userquery SELECT pass_word FROM client WHERE client_name = ? AND is_active=1 limit 1
auth_opt_mysql_superquery SELECT COUNT(*) FROM

[2018-11-23 15:36] lchjczw commented on #11
@iegomez this is all

[2018-11-23 15:41] lchjczw commented on #11
@iegomez

user1:admin
      super
user2:test
  /lchjczw/1 sub 1
  /lchjczw/2 pub 2
  /lchjczw/3 sub/pub 4

[2018-11-23 15:43] iegomez commented on #11
Those are just mosquitto stdout logs. Please try with something like this to get the complete log. Also, be sure to enable full logging at mosquitto (`log_type all` at mosquitto.conf) and the plugin (`log_level debug` at the plugin conf).

`sudo journalct -u mosquitto`

That should give you something more like this (taken from one of my running instances):

[code]

[2018-11-23 16:20] lchjczw commented on #11
1542989463: mosquitto version 1.5.4 starting
1542989463: Config loaded from /etc/mosquitto/mosquitto.conf.
1542989463: Opening websockets listen socket on port 9001.
1542989463: Opening ipv4 listen socket on port 1883.
1542989463: Opening ipv6 listen socket on port 1883.
1542989463: Warning: Address family not supported by protocol
1542989463: New connection from 182.138.218.61 on port 1883.
15429

[2018-11-23 16:55] iegomez commented on #11
It's not immediately clear what's going on, though everything seems fine in the logs. Also, I don't what you mean with your last message.

Anyway, I'm a bit busy right now, but I'll take a look as soon as I can.

[2018-11-25 06:08] iegomez commented on #11
Just to check if you saw my earlier comment:

I don't really know what you mean with that.

[2018-11-26 04:32] lchjczw commented on #11
![11](https://user-images.githubusercontent.com/12480676/48993202-5a1c3380-f177-11e8-9693-31cb012a7ddb.png)

[2018-11-26 04:37] lchjczw commented on #11
Mix up the mosquitto log with the mosquitto-go-auth log

[2018-11-26 04:38] lchjczw commented on #11
@iegomez

[2018-11-29 13:55] iegomez commented on #11
Did you have any luck checking things?

[2018-12-07 06:13] iegomez commented on #12
Hi, @gjt211.

Any luck testing?

[2018-12-07 15:16] iegomez commented on #12
Hi! No problem.

Best regards.

[2018-12-12 15:07] Bacto opened #13 "No release?"
Hi,

Thanks for this promising plugin!

Unfortunately it seems that no release have been published yet.
Is it possible to publish one to follow new versions in future please?

Thanks :)

[2018-12-12 15:58] iegomez commented on #13
Hi! Thank you for your kind words.

I believe you only mean version releases, i.e., tag versions and release tarballs or zips with the current code, or are you looking for binary releases too? The first case seems like a good idea, I'll check the current code for any cleanup needs and make a first release today following semver probably (I'll start at 0.1.0 for now).

Let me know what you think.

[2018-12-12 16:10] Bacto commented on #13
Sorry if I wasn't clear enough.
I meant version releases, no binary releases.

Thanks for your prompt reply and action :)

[2018-12-12 17:33] iegomez commented on #13
Oh, no, it was clear enough, I was just wondering if binaries were requested too. I've just made a release against tag 0.1.0 available but didn't include any binaries as it's probably best to build manually against the correct version of mosquitto.

Let me know if there's anything else, or just close the issue otherwise.
Thanks for the feedback!

[2018-12-13 09:40] Bacto commented on #13
It's perfect. Thank you :)

[2018-12-13 09:40] #13 closed

[2018-12-13 12:39] Bacto opened #14 "Segmentation fault on Alpine Linux (Musl)"
Hi,

Unfortunately the plugin doesn't work on Alpine Linux: Mosquitto crashes because of a segfault.
From GDB, I've got this trace: `#0  0x00007f3a34102660 in runtime.sysargs () from /usr/local/lib/go-auth.so`

It seems that there is a bug with GO c-shared builds and Musl.

More informations can be found on this issue:
https://github.com/golang/go/issues/13492

Unfortunately, I have no idea if the

[2018-12-13 12:50] iegomez commented on #14
Hi, that's really unfortunate. Sadly, I don't run Alpine Linux nor musl as libc. I could test this in some kind of sandbox (so I don't mess up my work machine) when I get the time, but it'd probably be better and faster if you could test it with newest Go version instead of the 1.10.3 mentioned in the readme to see if it works.

If it doesn't, then I'm sorry, there's probably nothing I can do from

[2018-12-13 12:56] Bacto commented on #14
I've tried with Go version 1.11.2 and unfortunately it doesn't work neither, so we are in a dead way for now, waiting for Go to resolve this issue :-/

[2018-12-13 13:07] iegomez commented on #14
Sorry to hear that. If you could get meaningful traces with gdb and delve, it could help to reply to that issue to see if it gets some traction.

All I can recommend for now is to go with https://github.com/jpmens/mosquitto-auth-plug instead, or if you wanna have some fun maybe fork this and replace the cgo efi with some communication layer (I always wanted to see how fast gRPC could work for this

[2018-12-13 15:40] Bacto commented on #14
I don't develop in Go so I can't start a such big project ;)
I finished by compiling mosquitto-go-auth with libc.

[2018-12-13 18:15] iegomez commented on #14
Was that enough?

[2018-12-14 11:39] Bacto commented on #14
Yes but not on Alpine Linux as we have to use Musl on it.
I've finished by using an Ubuntu (with libc)

[2018-12-14 15:34] iegomez commented on #14
I've never used Alpine Linux so I didn't know if you could swap for another libc.
Thanks for the report and your help testing things.

I'll close it now.

[2018-12-14 15:34] #14 closed

[2018-12-17 21:11] iegomez commented on #11
I'm closing this for inactivity, but feel free to reopen it if you gather any new info.

[2018-12-17 21:11] #11 closed

[2018-12-17 21:11] iegomez commented on #2
Closing this as it's very old and not relevant anymore.

[2018-12-17 21:11] #2 closed

[2018-12-17 21:11] iegomez commented on #1
Closing this as it's not relevant anymore.

[2018-12-17 21:11] #1 closed

[2019-02-15 15:15] iegomez commented on #12
I'll close this issue for inactivity, but feel free to reopen it or a new one if you have any more trouble.

[2019-02-15 15:15] #12 closed

[2019-03-29 15:01] gaetancollaud opened #15 "Official docker image"
Hello,

Would it be possible to have an official docker image published on dockerhub ?

I will use what I found in #5 for now but it could be great to have an official image instead.

Best regards

[2019-03-29 15:14] iegomez commented on #15
Hi! Absolutely, it sounds like a good idea. I'll try to look into it today if I get the time or next monday. I'll let you know where I get with it.

[2019-03-29 15:24] gaetancollaud commented on #5
Installing `libmosquitto-dev` also work:
[code]

[2019-03-29 15:34] gaetancollaud commented on #15
Great !

This is what I got so far (I will update when it works, right now it crash at boot, not sure why..., but I think it's just my mosquitto.conf)

[code]

[2019-03-29 15:48] iegomez commented on #15
What's the error you get when it crashes?

[2019-03-29 16:05] gaetancollaud commented on #15
That's the issue... I have no error. It just crash
[code]

My mosquitto.conf:
[code]

[2019-03-29 16:21] gaetancollaud commented on #15
I've just tried with the last source (instead of the release 2.0.0), but same `Segmentation fault error` :(

[2019-03-29 18:21] iegomez commented on #15
It probably is, I still haven't tried Alpine.

If it helps, I just modified a bit an image I had to hack to serve loraserver, lora-app-server, mosquitto and the plugin some time ago. I know almost nothing about docker so it's probably awful, but it works and maybe you can tidy it up to make something useful. The Dockerfile looks like this:
[code]

I just pushed a repo that includes the conf files:

[2019-04-01 11:57] gaetancollaud commented on #15
This is a working version, but not optimized at all since it uses `ubuntu:latest`
[code]

[2019-04-01 13:38] iegomez commented on #15
Hi, I just came upon this: https://github.com/sgerrand/alpine-pkg-glibc. Haven't tried it myself though.

I also saw this issue, where the last comment mentions some workaround for libc: https://github.com/docker-library/golang/issues/209.

[2019-04-13 06:53] iegomez commented on #15
Hi, @gaetancollaud. Sorry I haven't done anything yet, I couldn't get the time. Were you able to try any of those?

On another note, when you submitted the PR fixing the HTTP status code I accepted and merged it through github, but still it doesn't show among contributions. Any idea on what could have gone wrong? To be honest, I'm more accustomed to submitting PRs to other projects, I never had on

[2019-04-26 17:17] #15 closed

[2019-05-02 09:23] NoelzeN opened #17 "Error when running make requirements"
When I try to install the Plugin, I get an error when running make requirements command.

dep ensure -v
/home/nrehwald/mosquitto/src/mosquitto-go-auth is not within a known GOPATH/src
make: *** [requirements] Error 1
[root@vmi150543 mosquitto-go-auth]# echo $GOPATH
/home/nrehwald/mosquitto
[root@vmi150543 mosquitto-go-auth]# pwd
/home/nrehwald/mosquitto/src/mosquitto-go-auth

To me it looks like a

[2019-05-02 13:47] iegomez commented on #17
Your path is wrong, it should be $GOPATH/src/github.com/iegomez/mosquitto-go-auth. Also, Go 1.11.5 supports Go modules, you may want to enable it to let modules handle dependencies.

On another note, I just pushed a change to support mosquitto 1.6 or newer, as the plugin signatures were changed. As with 1.5.X, C flags need to be exported before building (check the readme).

[2019-05-03 09:04] NoelzeN commented on #17
Thanks a lot for the hint iegomez, indeed changing the path fixed the error I had. For reference if anyone else has this issue in the future, my sample configuration:

/home/nrehwald/mosquitto

[root@vmi150543 mosquitto-go-auth]# pwd
/home/nrehwald/mosquitto/src/github.com/iegomez/mosquitto-go-auth

After these changed, make requirements went through without issues:

dep ensure -v
(1/17) Wrote git

[2019-05-03 09:04] #17 closed

[2019-05-06 08:30] NoelzeN opened #18 "Issue with ACL on MySQL"
I have set up mosquitto-go-auth with mosquitto 1.6.0 and user checks are successful, however I have issues with the ACL checks. I took my knowledge from the Postgres part of the documentation and just transfered it to MySQL Queries:

replaced with the integer value `1` signifying a read-only access attempt
(SUB) or `2` signifying a read-write access attempt (PUB).

(See https://github.com/iegomez/

[2019-05-06 13:29] iegomez commented on #18
Subscribing to test/1/test should work, but test/2/test not, as write privileges don't grant read.
Could you show any logs to see what's going on?

[2019-05-06 14:29] NoelzeN commented on #18
Ok, that is good to know. Was not 100% clear to me from the Documentation but then Sub is 1, Pub is 2 and PubSub is 3, that's fine. However, I can only subscribe to the topic where PubSub (3) is set. Also for test/1/test I get a rejection. My Log looks like this (Subscribing to 1,2 and 3 after another. Only connecting to test/3/test is successful though the log doesn't show it)
`1557152527: New co

[2019-05-06 15:56] iegomez commented on #18
That's odd. Could you try adding some debug printing to the CheckAcl method at backends/mysql.go? Maybe printing `aclTopic` and `topic` to what's getting compared, printing `o.AclQuery` and `acc` to check for typos or something weird, etc.

[2019-05-07 08:11] NoelzeN commented on #18
Thanks for your quick replies. I have added for debugging in backends/mysql.go function CheckAcl the following lines:

`log.Debugf("ACL Query: %s\n", o.AclQuery)
log.Debugf("Account int32: %d\n", acc)
log.Debugf("Username: %s\n", username)
log.Debugf("Topic: %s\n", topic)`

Right at the start of the function and added 2 debugs for aclTopic:

`log.Debugf("ACL Topic before strings.Replace:  %s\n, ac

[2019-05-07 13:39] iegomez commented on #18
Ok, as I suspected, you're indeed getting subscribe requests, which appeared in Mosquitto 1.5 and are also part of 1.6 as defined here (from the latest `mosquitto_plugin.h`): https://github.com/eclipse/mosquitto/blob/master/src/mosquitto_plugin.h#L25.
You can read how it differs from `MOSQ_ACL_READ` here: https://github.com/eclipse/mosquitto/blob/master/src/mosquitto_plugin.h#L204
So all you need

[2019-05-07 14:07] NoelzeN commented on #18
Allright, thanks a lot for your support :)

[2019-05-07 14:07] #18 closed

[2019-05-10 12:17] NoelzeN commented on #18
Btw, during testing further with loraserver when wondering why the server didn't get any messages I found out you need to set rw=4 so it can subscribe and rw=1 so it actually receives messages, otherwise it subscribes but doesn't get any messages

[2019-05-17 04:11] sanhardik opened #19 "Disconnect the client when subscribe is not authorized"
Hello,
Amazing work on the plugin.
I am trying to test the setup with mosquitto and the plugin.
When I try to subscribe to a topic that a particular user is not authorized, I get a SUBACK. Should the client not get disconnected since the subscription is not authorized ?

Details:
Mosquitto version 1.5.7

I have set it up password and acls for 2 users.

[code]

User test and test1 are only allowed

[2019-05-17 14:45] iegomez commented on #19
Hi!

It's up to mosquitto to decide what happens to the client connection when access is denied for some topic, there's nothing the plugin can do about it. And no, the intended behavior is not to disconnect clients (it was actually a bug a few versions ago), just not to deliver messages on that topic to unauthorized ones.

Right now logs from the plugin are directed to stderr, but it seems like a

[2019-05-17 15:59] iegomez commented on #19
I just added stderr, stdout and file log options.

[2019-05-20 02:06] sanhardik commented on #19
@iegomez Thanks for the quick reply.

[2019-05-20 02:06] #19 closed

[2019-05-29 16:35] huiser opened #20 "Error on plugin load: runtime.tlsg: initial-exec TLS resolves to dynamic definition"
2019-05-29T16:26:23: mosquitto version 1.6.2 starting
2019-05-29T16:26:23: Config loaded from /mosquitto/mosquitto.conf.
2019-05-29T16:26:23: Loading plugin: /mosquitto/go-auth.so
2019-05-29T16:26:23: Error: Unable to load auth plugin "/mosquitto/go-auth.so".
2019-05-29T16:26:23: Load error: Error relocating /mosquitto/go-auth.so: runtime.tlsg: initial-exec TLS resolves to dynamic definition in /m

[2019-05-29 16:36] huiser commented on #20
# Builder image
FROM golang:1.12-alpine as builder

ENV PATH=/src/go/bin:/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

RUN install -d /src && \
    install -d /src/mosquitto && \
    install -d /src/mosquitto-auth

RUN apk add --no-cache \
    curl \
    c-ares-dev \
    gcc \
    git \
    g++ \
    libwebsockets-dev \
    make \
    musl-dev \
    openssl-dev \

[2019-05-29 16:38] huiser commented on #20
[Dockerfile.txt](https://github.com/iegomez/mosquitto-go-auth/files/3233510/Dockerfile.txt)

[2019-05-29 16:45] iegomez commented on #20
There's an [ongoing bug](https://github.com/golang/go/issues/13492) when using cgo (which the plugin uses to implement mosquitto's expected plugin interface) on Alpine as it uses muslibc instead of glibc, as referenced in https://github.com/iegomez/mosquitto-go-auth/issues/14.

I mentioned some possible workarounds at https://github.com/iegomez/mosquitto-go-auth/issues/15#issuecomment-478582777, b

[2019-06-03 20:56] Stayer opened #21 "MongoDB problem"
[code]

My mongo configuration:
1. `admin` user with password `pass`
2. full access to any database
3. I generate password `test` for table `users` using `pw -p test`, user the same (test)
4. connection info are the same in mongo and mosquitto config

Without plugin everything works

[2019-06-03 21:43] iegomez commented on #21
I just pushed a change because the `username` option for Mongo wasn't being set. Could you check to see if that fixes your problem by pulling the latest version?

I'll be changing the Mongo driver as `mgo` has been unmaintained for a long while. So if your problem remains unfixed with that small change, I should have the new driver running tomorrow or at least some day this week.

[2019-06-04 03:10] Stayer commented on #21
Unfortunately, it doesn't work. The same errors

[2019-06-04 03:32] Stayer commented on #21
The same situation with Redis backend? Can't run it

[code]
I tried different redis versions, with and w/o password, different db id

[2019-06-04 04:47] iegomez commented on #21
Could you give the Redis versions you tried? I ran the tests at work and had no issue with Redis, but maybe my version was too old and I won't be able to check until the morning (it's 00:47 here).

I'll try to finish the Mongo migration and test Redis versions during the day to see if I can get it fixed as soon as possible.

[2019-06-04 07:33] Stayer commented on #21
Latest redis on docker (version 5.0.5) https://hub.docker.com/_/redis/
Now it's working on version 4

[2019-06-04 12:23] huiser commented on #20
I can't get it working with Alpine, using the suggestion above.
I switched to the 'debian:stable-slim' base image, for now. If I have time, I will give it another try.

[2019-06-04 16:31] iegomez commented on #21
Okay, I've just pushed some changes that include the migration to the official mongodb driver. I tried it with and without auth, all tests are passing.

I also tried and ran tests with and without auth against Redis 5.0.5 and everything worked fine. The error `backends error` doesn't have to do with the Redis connection: it's shown when the plugin's conf file provides and invalid backend, e.g., mi

[2019-06-04 16:39] iegomez commented on #20
Ok, thanks. I don't use docker and don't have the time right now to learn it properly and come up with a decent image, but I'll leave this open for the future.

In case you get it to work or believe that an alternative such as using `debian:stable-slim` is good enough and you want to contribute with docker related additions just make a PR, or let me know if you'd like me to link to an external rep

[2019-06-04 22:52] Stayer commented on #21
Ok, I will check very soon, thanks!

[2019-06-07 15:08] Stayer commented on #21
Everything works! Thank you so much

[2019-06-07 15:08] #21 closed

[2019-06-16 02:18] sanhardik commented on #12
I am facing the following issue while trying to run `make`

[code]

[2019-06-16 05:46] wattanakorn495 opened #22 "HTTP plugin open file leak"
the mosquitto log show too many file open

then i try counting open file in /proc/'PID'/fd
using this command ""watch -n 0.5 "ls -l | wc -l"
and found that when broker get new client connection, opened file increase by 3 (maybe from GetUser, GetSuperuser and CheckAcl ) and when the client disconnect, opened file reduce only 1

and i try change "return httpRequest..." to "return true"
the problem i

[2019-06-16 22:54] sanhardik opened #23 "Restart needed for change in ACL"
Hello,
This is more of a question then an issue.

I am using the files backend
While adding new users and acls, does mosquitto need to be restarted on every new addition or change ?

I tried changing acl's but they didnt get picked up until I restarted mosquitto

[2019-06-17 16:55] iegomez commented on #23
Yes, static acls are loaded on startup. If you need to dynamically add or remove users and acls I suggest using a different backend for that.

[2019-06-17 16:57] iegomez commented on #22
Thanks for reporting this. I'll give it a look and try to fix it as soon as possible.

[2019-06-17 19:09] iegomez commented on #22
I haven't been able to reproduce this. Are you sure it's the plugin the one not returning the file descriptors and not something else? Are you testing this against an HTTP service in the same machine which could potentially be the culprit?

[2019-06-17 21:48] sanhardik commented on #23
Thanks @iegomez

[2019-06-17 21:48] #23 closed

[2019-06-21 06:31] sanhardik commented on #18
I was facing the same issue and based on the this discussion, I set the `rw = 4`. Now it seems that user id 2 and 3 can subscribe and publish to those respective topics.
That doesnt seem right ?

[code]

[code]

[2019-06-21 18:07] iegomez commented on #20
Hi, @huiser. I tried some workarounds a couple of days ago but couldn't get it to work with Alpine. I had started building another image based on `debian:stable-slim` but we got robbed at work and hadn't pushed it.

So I intend to rework on it next monday and add it to the repo in a `docker` directory that would look something like this:
[code]

That's unless you wish to contribute your `debian:st

[2019-06-21 19:56] samsonchen opened #25 "auth_cache_seconds and acl_cache_seconds problem"
The handling of auth_cache_seconds and acl_cache_seconds does not seem to be right? I made a fix on my fork.

[2019-06-21 21:15] iegomez commented on #25
Nice catch and thanks for the PR, I've just merged it.

[2019-06-21 21:15] #25 closed

[2019-06-22 15:36] wattanakorn495 commented on #22
@iegomez
sorry for late response

i solved it by moving htpp client and http transport into HTTP struct

[code]

and initialize inside NewHTTP

[code]

[2019-06-26 22:09] iegomez commented on #20
I just added an example based in `debian:stable-slim` at the `docker` dir.
As I mentioned earlier and now at the example's readme, any contributions or help is very welcome.

[2019-06-26 22:09] #20 closed

[2019-07-18 08:07] golmujik opened #26 "Please help me brother (MongoDB issue) error:- cannot decode string into an integer type"
I followed everything from the readme and I almost done set up everything including mosquitto build, Go-Auth plugin build and all.

But when I linked the Mongo DB and try to authenticate I get an error which I got from the log of mosquitto
`time="2019-07-18T13:24:49+05:30" level=info msg="Cleaning up plugin"
time="2019-07-18T13:24:50+05:30" level=info msg="Backend registered: Mongo"
time="2019-07-

[2019-07-18 08:12] golmujik commented on #26
In the cluster the DB name is go-auth and the collections are users, & acls

the document in the users collection is here

`{"_id":"5a4e760f708ba1a1601fa40f","username":"test","password":"$6$ZdpM/sdypubRHD6k$ZXJsi65/9iPvvIrnF3FDvs8tLOBIQ6T6TFolEvalszyIr7pxv1y2G2k6yBWpbHr50kf3BmeXrKTnGSIIIHw3Wg==","superuser":true,"acls":[{"topic":"test/topic/1","acc":1},{"topic":"single/topic/+","acc":1},{"topic":

[2019-07-18 08:49] golmujik commented on #26
I have an update:-
When I replaced `123456` with `$6$ZdpM/sdypubRHD6k$ZXJsi65/9iPvvIrnF3FDvs8tLOBIQ6T6TFolEvalszyIr7pxv1y2G2k6yBWpbHr50kf3BmeXrKTnGSIIIHw3Wg==`
in the password object in database, I stopped getting the previous error and get this new error when I subscribe or publish any thing. When I check with `systemctl status mosquitto.service`

Jul 18 14:15:11 user systemd[1]: mosquitto.servic

[2019-07-19 07:13] iegomez commented on #26
Hi. I’m on vacation and don’t have a computer with me so there’s little I can do, but I suggest you check the logs (e.g., sudo systemctl -u mosquitto -f -n 50) or try running mosquitto manually to see what’s crashing.

[2019-07-19 09:16] golmujik commented on #26
Hi there @iegomez. A big thank you for replying 🥇  :)

Even when you are on vacation, means a lot for me :)

I checked the logs of Mosquitto and Mongo and got that the error was because of the plugin's `main.CheckBackendsAuth()` function which check for the hashed password & as I said before I replaced `$6$ZdpM/sdypubRHD6k$ZXJsi65/9iPvvIrnF3FDvs8tLOBIQ6T6TFolEvalszyIr7pxv1y2G2k6yBWpbHr50kf3BmeXrKT

[2019-07-19 09:16] #26 closed

[2019-07-19 14:53] golmujik commented on #26
Hi, @iegomez  I have one more little query, Can I use MongoDB atlas instead of localhost because it will help me a lot.

[2019-07-19 17:37] iegomez commented on #26
I’ve never used it so I guess you’ll just have to try. Good luck!

[2019-07-30 12:54] henryk opened #27 "git-ignore Gopkg.lock?"
`dep ensure` (as executed by `make requirements`) autogenerates/updates `Gopkg.lock`.
This leads to an unclean checkout for basically every user of `make requirements`.
Maybe `Gopkg.lock` should be removed from the repository and added to `.gitignore`?

[2019-07-30 13:39] iegomez commented on #27
I haven't used `dep` in quite a while and was actually thinking about removing it and just keep Go modules. But I see at least you are using it, so I've just removed the lock file. This means that reproducible builds are left to the user.

[2019-07-30 13:39] #27 closed

[2019-08-07 13:41] sudobhat opened #28 "Wrong error codes in acl check"
(auth-plugin.c line 99 and 111)
When the acl check returns 500, the error code is  MOSQ_ERR_ACL_DENIED. But it should be  MOSQ_ERR_UNKNOWN.

In the C plugin, the error codes are correct.

[2019-08-07 14:57] iegomez commented on #28
I believe you mean when an HTTP or JWT backend returns 500, not the acl check.
Mosquitto only has these returns for acl checks:
[code]
So when you say:

I agree it's useful to tell a 200 (or another) code with an error from a 500 code, but the available returns don't map to https status codes and thus the specific return is an implementation detail.

You mean in https://github.com/jpmens/mosquitto

[2019-08-08 12:17] sudobhat commented on #28
Hello, Thanks for the reply.

It is true, but with the error code MOSQ_ERR_ACL_DENIED, mosquitto does not disconnect from the client. But, when the error code is  MOSQ_ERR_UNKNOWN, mosquitto is disconnected from the client.

At least for me, it is useful to have the possibility to disconnect mosquitto from the client in the event of ACL check failure. (in case of http backend)

[2019-08-08 19:01] iegomez commented on #28
What version of mosquitto are you using? I'm not sure that disconnection is the desired result and it was indeed a [bug](https://github.com/iegomez/mosquitto-go-auth/issues/10) on an earlier version of mosquitto.

[2019-08-13 13:50] iegomez commented on #28
Do you know where I can find documentation for this? I just want to make sure any decision is justified.

In any case, as I said, this would not be a light change. For starters, a faulty http service could disconnect clients which don't even expect to be authed against an external http service and would be correctly allowed access weren't for the faulty backend. Thus this needs discussions and cle

[2019-08-17 06:39] jboulton opened #29 "Compilling on arm."
Hi,
I'm having problems compiling on an Odroid C2 running ubuntu 18.04. I'm getting
$go build -buildmode=c-shared -o go-auth.so
# github.com/iegomez/mosquitto-go-auth
/tmp/go-build779123523/b001/_x003.o: In function `mosquitto_auth_acl_check':
auth-plugin.c:(.text+0x430): undefined reference to `mosquitto_client_id'
auth-plugin.c:(.text+0x43c): undefined reference to `mosquitto_client_username'
co

[2019-08-17 21:04] iegomez commented on #29
That usually means you forgot the exports before building, i.e., run this before `make`:
[code]

[2019-08-19 07:31] vava24680 opened #30 "Strange behavior with mysql backend"
Hi, I encountered a strange behavior with mysql backend.

When the anonymous user tries to connect to the broker, anonymous user can successfully connect to the broker but anonymous user can't publish or subscribe any messages.

Is this a normal behavior or a bug?

Thank you

[2019-08-19 16:27] iegomez commented on #29
I don't have an Odroid C2 to try it and the necessary flags seem to be set, so I don't know what's wrong. My best guess is that the flags aren't getting picked up by the running terminal (but I have no idea why would that even happen), so maybe exporting them before does the trick?
[code]
I honestly don't know what could be the problem, but hopefully you can fix it and tell us later in case anyone

[2019-08-19 16:32] iegomez commented on #30
Are you setting `allow_anonymous true` at `mosquitto's` conf while setting up the plugin too? Because in that case I think `mosquitto` would let anonymous clients connect, but the plugin doesn't allow anonymous users and thus neither authenticates nor authorizes them. Also, this scenario would be backend independent, i.e., it has nothing to do with the `mysql` one.

I've thought about including su

[2019-08-20 03:13] vava24680 commented on #30
Thank you. I find out that `allow_anonymous false` should be set explicitly for disabling connection from anonymous user.
Sorry for the title that says "strange behavior with mysql backend". I should investigate more deeply.

Also I have a question about the anonymous user, what you means is that creating a user account for anonymous connection and set some acl rules on this user?

[2019-08-20 13:12] vava24680 commented on #18
Sorry for re-asking the question, but I am still confused about what is difference between read permission and subscribe permission. Can you help me to understand the difference?

Thank you very much!!!

[2019-08-20 15:27] iegomez commented on #18
From the header:
[code]
The main difference is that `subscribe` is checked at first, when a client connects and tells the broker it wants to subscribe to some topic, while `read` is checked when an actual message is being published to that topic, which makes it particular. So in practice you could deny general subscriptions such as `#` by returning `false` from the `acl` check when you receive `MO

[2019-08-20 15:43] iegomez commented on #30
If you check [`mosquitto's` conf man page](https://mosquitto.org/man/mosquitto-conf-5.html), you'll see that static `ACLs` may mention rules for anonymous users:

The thing is these general rules are achievable with some default user, e.g. every client that's granted general permissions should connect with username `<insert-your-desired-default-here>`, and you can throw those rules in your `ACLs`

[2019-08-20 15:55] vava24680 commented on #18
Thank you iegomez. But how to write the acl rules in the backend like mysql or postgresql if I need to do something like this

Thank you~

[2019-08-20 16:07] iegomez commented on #18
These are the values for the `acc`:
[code]
So if you want to treat `read` and `subscribe` differently, just set different rules for `acc` 1 and 4.

[2019-08-20 16:16] vava24680 commented on #18
So i have to explicitly set acl rules with each topic by assigning proper acc value and add a acl rule which disables the wildcard subscription. Is that correct?

[2019-08-20 16:23] iegomez commented on #18
If you want to. You don't **need** to treat `read` and `subscribe` differently, `mosquitto` just allows you to do it by writing different rules for them. Also, the `#` wildcard is just an example of how this mechanism could work, but it's not tied to `#` or any other pattern in particular.
In summary, if you are fine with clients subscribing to patterns that would match the topics they can read, t

[2019-08-21 01:53] vava24680 commented on #18
Oh I understand what you stated.
If a user wants to subscribe to a topic pattern and get messages from that topic pattern, there are must be acl rules stating that this user has subscribe(4) and read(1) permission. But if the user is restricted to get messages from some topics, the subscribe acl rules and read acl rules should set separately.

[2019-08-30 21:08] iegomez opened #31 "Review MOSQ_ACL_SUBSCRIBE behaviour"
All backends should have consistent behaviour regarding the MOSQ_ACL_SUBSCRIBE access.

[2019-09-03 19:43] gloffreda opened #32 "Connection error MongoDB Backend"
Hi there

I’m getting this error:

[code]

Even though my parameters are all corrects, I’ve placed a debug on source code mongo.go and got:

[code]

Maybe a relevant information, my Mongo Server isn’t on localhost, but in another VPS on same network and firewall rules are tuned.

if I try connecting to the same database using same credentials in command line I’m getting no problems:

[code]

Why d

[2019-09-04 16:57] iegomez commented on #32
As I mentioned at the forum, I'm not sure why you're seeing that `localhost` mention. The `host` option is only used [here](https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/mongo.go#L85) to set the `uri`:
[code]
I just started a new job and I'm very short in time, so if you could try writing a dummy Go program that connects to your remote instance and see if there's any problem, t

[2019-09-05 01:25] gloffreda commented on #32
It is really weird.
I wrote a dummy go script and happens the same when I execute on server.

I don't have your email and not feeling comfortable to give the address and credentials in an open space, if you have a way to PM you it would be great if you could test it.

Thanks

[2019-09-05 01:34] iegomez commented on #32
Yeah, I imagined it could have something to do with some driver option as it didn't make sense to me either. Tomorrow I'll have time to do some tests and let you know what I can find. Also, you can reach me at iegomez@uc.cl (it's in my profile) or PM me at the loraserver's forum (I just didn't want to mix things in the public topic), whichever you prefer.

[2019-09-05 23:06] iegomez commented on #32
I fixed a couple of things (e.g., you had no port set) on the dummy Go program you sent me an tried it, getting:
[code]
It's a similar error, but it doesn't mention `localhost`. Then I realized you were actually connecting from the same server and using the internal `ip-XXX-XX-XX-XXX.sa-east-1.compute.internal` hostname in the original issue, which should resolve to `localhost` in that machine. So

[2019-09-05 23:16] gloffreda commented on #32
Hi there

Sure. You can play with as long as you need.
I’m investigating about replica set. I need to use change streams on mongodb but have no replica, it is a single host and it has localhost configured on replica.
Don’t know how to it in another way so I’m working on understanding if it can bother the client connection.

Sorry about internal DNS, I’ve just copied and pasted on the file and didn

[2019-09-06 16:22] gloffreda commented on #32
It is solved, a very nice and explained answer in SO can be found here:

https://stackoverflow.com/questions/57778089/mongodb-go-driver-looking-on-localhost-when-should-not/57814946#57814946

So for your future users whose need to use Replica Set in a single server may fall on this pitfall.
Maybe, a little mention on doc can save time.
Thank you very much for your interested in helping the problem

[2019-09-06 16:22] #32 closed

[2019-09-06 21:38] iegomez commented on #32
Great! I'm glad that you could solve it and thanks for the research, I'll add a mention to the docs.

Cheers!

[2019-09-27 07:04] karlTGA opened #33 "No authorization possible with a costum plug in"
Hallo @iegomez ,

i try to write a auth plugin that based on oauth2 and I think i found a bug in the costum plugin integration. The function `CheckPluginAcl` seems to return every time a false. The answer of the checks doesnt matter.

https://github.com/iegomez/mosquitto-go-auth/blob/4fa788213f81d391b639ce1d48fb274652889be4/go-auth.go#L736

[2019-09-27 13:29] iegomez commented on #33
You're absolutely right, I'll fix it right away and make a new release. Thanks for reporting it.

[2019-09-27 13:39] iegomez commented on #33
I've just pushed the change so the checks now looks like this:
[code]
Could you confirm it works for you so I can release it?

[2019-10-01 06:55] karlTGA commented on #33
Thank you for the fast reply and the fix. I've tested it and with this fix it work like a charm.

[2019-10-01 12:08] iegomez commented on #33
Great, I'll make the release then. Thanks again for reporting this.

[2019-10-01 12:08] #33 closed

[2019-10-29 16:06] dvn01 opened #34 "build always failed on "go-auth.h" No-Such File"
Hi Ignacio,

First thanks for the new plugin, I have being using JPMens auth plugin for a while now however that doesn't seems to work with newer versions of mosquitto.

You'll have to forgive now, because I am neither a linux or go developer. Because of project constraints I don't have time to sit a learn really learn both, so hopefully you can help me out.

I am running on Amazon Linux 2 AMI cen

[2019-10-29 16:16] dvn01 commented on #34
Wow quick replay,

Thanks again and no problem as least I know which path to take.

Cheers.

[2019-11-01 11:19] sseide opened #35 "Question - comptibility of PBKDF2 passwords between jpmens plugin and this"
We used the `jpmens/mosquitto-auth-plug` mosquitto plugin with PBKDF2. Trying to switch the auth plugin to this one we cannot authenticated users anymore as passwords do not match.

As booth plugins use PBKDF2 with the same string format i thought passwords generated via jpmens `np` Tool or via NodeJS module `manolodd/mosquitto-pbkdf2` would work in your plugin too. Your `commons/HashCompare` func

[2019-11-03 09:06] iegomez commented on #35
Hi, Stefan!
I'm sorry for not responding earlier. I don't have an answer right now but I'll look into it during the week. It does seem weird as before writing this plugin I also used `jpemns'` one and I made sure that passwords were compatible on switching, so maybe something changed later and I didn't notice it. So thanks for reporting the issue and I'll look into it as soon as possible.

[2019-11-05 11:30] sseide commented on #35
Thanks for answering - and no problem about time.

One difference i see so far is the fixed keylength (24) booth other projects use to generate the key:
Your library uses differnet sizes depnding on algorithm used (but never 24)

jpmens "np" tool:

https://github.com/jpmens/mosquitto-auth-plug/blob/34c1ab00ce22f0e32faf3a2563019fb97e60e687/np.c#L39-L41

and same inside the nodejs module to create c

[2019-11-05 13:58] iegomez commented on #35
Again, haven't had a chance to take a proper look, but I remembered that in order to be compatible with the formerly known as [LoRaServer project](chirpstack.io) (from which the PBKDF" implementation is taken, as this plugin was intended to be used with that project originally), you had to pass the `-DRAW_SALT` to `jpmen's` plugin on compilation for it to work. You can check why in the `Passwords`

[2019-11-06 14:15] sseide commented on #35
I have not compiled via RAW_SALT, seen this flag inside jpmens code bot not looked into it deeper.
This would explain the differences - I'll check.

The NodeJs implementation does not allow this config-change AFAIR. Will have a look there too and may patch it if i find a working solution...

[2019-11-10 18:35] Ciruxx opened #38 "Redis backend query options"
Hi, thanks for your work!
I would ask about `auth_opt_redis_userquery` and` auth_opt_redis_aclquery`, why were these options removed?

Is there any way to customize the queries?

Thanks!

[2019-11-14 15:20] iegomez commented on #38
Sorry, I hadn't seen the issue before.

What do you mean with removed? Those never existed as such. The correct way to define Redis rules (which include `user`, `superuser` and `acl` permissions) is covered here: https://github.com/iegomez/mosquitto-go-auth#redis.

Not as a configuration option, so you'd have to modify the source code and then rebuild the plugin.

[2019-11-21 13:59] Ciruxx commented on #38
Sorry, I read this:

and thought it was compatible with `mosquitto-auth-plug`.

Are you going to implement this feature?

Thank you!

[2019-11-21 15:07] iegomez commented on #38
Sorry, no, they are not compatible in that sense, Redis backends work differently in each plugin.

I'm not sure about adding support for `auth_opt_redis_userquery` and `auth_opt_redis_aclquery` (as in `jpmen's` plugin) because those only allow to query for an existing user and match against exact topics for ACLs, providing no way to check for user password, allow superusers or to control read/writ

[2019-11-26 17:52] dvn01 commented on #34
Hi Ignacio,

I couldn't figure out the issue with the Go paths and needed to get the broker up and running, so I just reconfigure the JPMens pluging and mosquitto 1.5.9.

Thank anyways.

[2019-11-26 17:52] #34 closed

[2019-11-26 22:20] iegomez commented on #34
I'm sorry it didn't work for you. If you ever want to give it another try and can supply more details on any possible errors, just reopen the issue and I'll try to help wherever I can.

[2019-12-05 14:13] SirHeisenberg commented on #35
Hello @sseide

I also had problems generating compatible hashes with Mosquitto Go Auth but I could solved it. I implemented a quite similar algorithm than @iegomez but in PHP.

It may come handy for you so I'll quote it here:

`
function generar_hash($password)
{
	//Salt size (16 bytes)
	$saltSize = 16;
	//Iterations
	$iterations = 100000;
	//Algorithm
	$algorithm = "sha512";

	//Generates a rando

[2019-12-06 10:36] wildstray opened #39 "Debian support"
Hello, we're using go-auth in replacement of archived project mosquitto-auth-plugin. We strongly rely on Debian installation (and for mosquitto-go-auth there was the deb package) so I think one of the only missing feature of this project is Debian support.
I forked your repository and I'm working on it, I'll submit a PR soon but I'll happier if somebod else can/want contribute. I find two issue in

[2019-12-07 05:19] iegomez commented on #39
Hi! I hadn't thought about distributing a deb package (or any other) because I find building the plugin pretty straightforward, but if you want to contribute I'll be happy to review that PR.

[2019-12-19 09:13] wildstray commented on #39
Hi, I submitter the PR...

[2019-12-19 20:32] iegomez commented on #39
Sorry, I've been a bit busy, I'll try to look at it tomorrow.

[2020-01-04 21:59] mnezerka commented on #22
Hi all, I see issue is closed, but no there is no fix in codebase. I see same behavior as @wattanakorn495. Mosquitto consumes all sockets (~54K) and is not able to open any HTTP requests towards authentication HTTP service. What was the reason for closing this issue, please?

[2020-01-05 20:49] lithium3d opened #41 "Checksum error"
I'm having the next problem:

go build -buildmode=c-archive go-auth.go
go: verifying github.com/go-stack/stack@v1.8.0/go.mod: checksum mismatch
        downloaded: h1:G7mAYYxgmS0lVkHyy2hEOLQCFB0DlQFTMLWggykrydY=
        go.sum:     h1:v0f6uXyyMGvRgIKkXu+yp6POWl0qKG85gN/melR3HDY=
make: *** [Makefile:2: all] Error 1

Any idea?

[2020-01-06 19:06] iegomez commented on #41
Sorry, I just tried a fresh install locally and it compiles correctly, I'm afraid I'm not able to reproduce this.

[2020-01-06 19:09] iegomez commented on #22
It was closed by the OP because he found a solution. As I wasn't able to reproduce the problem, I didn't make any changes to the code. I'm opening the issue again in case you can provide any more details on the error.

[2020-01-06 20:21] mnezerka commented on #22
I was able to reproduce the problem. My setup is simple - single machine with dockers, where mosquitto + auth plugin is running in one docker container, the auth service, written in go, runs in another container. I'm sure it can be reproduced by anybody who tries it, nothing complex to set up.

I first tried to test my auth service independently from fake client, which generated "mosquitto-auth-li

[2020-01-06 20:35] iegomez commented on #22
Thanks for the detailed description. And I agree, it doesn't make sense that the connections leak, but if it's presenting a real problem to users such as yourself then I'll gladly accept a PR with the mentioned change if you're willing to take the time.

[2020-01-06 22:02] lithium3d commented on #41
I made a full new install of ubuntu, I got a different error now:

go build -buildmode=c-shared -o go-auth.so
# github.com/iegomez/mosquitto-go-auth
/usr/bin/ld: $WORK/b001/_x003.o: in function `mosquitto_auth_acl_check':
auth-plugin.c:(.text+0x3ec): undefined reference to `mosquitto_client_id'
/usr/bin/ld: auth-plugin.c:(.text+0x3f8): undefined reference to `mosquitto_client_username'
collect2: e

[2020-01-06 22:03] lithium3d commented on #41
This was probably an aftermath of a wrong installation...

[2020-01-06 22:17] iegomez commented on #41
Did you export the needed flags for compiling the plugin for mosquitto versions 1.5 and up? If you did so and installed mosquitto from apt, did you install the mosquitto-dev package too?

[2020-01-07 14:13] lithium3d commented on #41
No the mosquitto-dev was not installed. I did the flags, I just installed it and run make again but still the same error

[2020-01-07 14:15] iegomez commented on #41
Then I'd recommend uninstalling mosquitto and mosquitto-dev, and then building it manually. You may follow the instructions from the readme, just change mosquitto version accordingly.

[2020-01-07 14:16] lithium3d commented on #41
Whats the best way to get rid of everything?

[2020-01-07 14:19] iegomez commented on #41
I think `sudo apt remove --purge mosquitto-dev mosquitto` should be enough, but I can't say for sure.

[2020-01-07 14:21] lithium3d commented on #41
Do I need to destroy the go-auth dir?

[2020-01-07 14:30] iegomez commented on #41
You mean your clone of this repo? No, it's not needed. I'm just suggesting you get rid of mosquitto itself and rebuild it so the plugin may find the necessary dependencies.

[2020-01-07 15:15] lithium3d commented on #41
Still the same problem..

[2020-01-07 15:41] iegomez commented on #41
Check that `mosquitto_broker.h` is present at `/usr/local/include`. If it's not, then you should reinstall mosquitto as something isn't right; if it is, maybe you exported the flags in a different terminal than that where you're building the plugin.

[2020-01-07 20:04] lithium3d commented on #41
I have followed your instructions, but I'm still getting the same error. Just irritating

[2020-01-07 20:13] iegomez commented on #41
I'm sorry about that, but it's kind of difficult helping you to locate the issue from a distance and I'm running out of general ideas.

[2020-01-10 13:58] iegomez commented on #41
I'll close this for now, just send me a message if there's any news.

[2020-01-10 13:58] #41 closed

[2020-01-10 14:00] #22 closed

[2020-01-12 22:09] coldfire84 commented on #35
I'm in a similar situation to @sseide, I have ~1200 users with mosquitto-auth-plug compatible PBKDF2 passwords, using the default configuration (i.e. no RAW SALT flag). Database encoding for salt and hash fields is base64 (as set via 'encoding' option in [passport-local-mongoose](https://github.com/saintedlama/passport-local-mongoose)).

Accepting you may not want to change this generally, if I we

[2020-01-13 21:51] coldfire84 commented on #35
Have done some further testing tonight, and even with passport-local-mongoose salt and hash field encoding set to 'hex' (and resetting user password to regenerate PBKDF2$ string) the comparison still fails (using the supplied pw-utility)/ authentication fails via mosquitto-go-auth.

[2020-01-14 11:33] sseide commented on #35
fun fact @coldfire84 : due to the compatibility problems with this go modules we had switched to your fork of jpmens repo with the fixes for mosquitto 1.6 (https://github.com/coldfire84/mosquitto-auth-plug.git)... Therefor did not invest any further time on how to get the go version running (i'm no go programmer).

But it seems this is only a temporal solution?

[2020-01-14 21:26] coldfire84 commented on #35
The reality is that jpmens plugin is no longer being developed, so in my opinion, it is only a matter of time before this becomes an issue.

I recently tested/ updated my own service to Mosquitto 1.6.8, so this isn't an immediate problem though.

[2020-01-14 21:29] coldfire84 commented on #35
So I've made some progress with this, but identified an issue/ required development elsewhere.

I discovered that passport-local-mongoose wasn't using raw salt when generating password hashes, which explains the pw utility test issues I was having. I've raised a PR to address the identified issue: https://github.com/saintedlama/passport-local-mongoose/issues/298

With the change to raw salt, the p

[2020-01-14 21:47] coldfire84 opened #43 "Add option to supply authSource for auth_opt_mongo_username"
With the jpmens plugin I was able to define a connection string that specified the authSource, as-per https://docs.mongodb.com/manual/reference/connection-string/#components.

I don't think I'm able to do this with the existing plugin options, snipped from the readme:
[code]

These options assume that the `auth_opt_mongo_username` exists in the same db as the users we wish to authenticate via the

[2020-01-16 22:13] coldfire84 commented on #35
@sseide I have a temporary branch that I'm currently testing that will work with jpmens plugin-generated/ compatible hashes: https://github.com/coldfire84/mosquitto-go-auth/tree/pr-mosquitto-auth-plug-compat - it would be great if you could feedback on the functionality in your environment.

The only change you'll need to make if you use this is to include an additional option in the mosquitto con

[2020-01-21 04:16] shaneyake opened #46 "MySQL Read Only Not Working."
Hi,

I can get MySQL to have write only with an 'rw' value of 2 and read-write with 'rw' value of 3 but if I set it to 1. It doesn't work.

I tried writing my own query to save the '?' inputs and got $username on the first ? as expect and 2 for write and 4 for read on the second '?'

Does anyone know what is wrong? Thanks

[2020-01-21 08:36] gbcat commented on #46
Facing the same problem. I am using PostgreSQL.

[2020-01-21 13:24] iegomez commented on #46
Take a look at prior issues for more details (e.g.. https://github.com/iegomez/mosquitto-go-auth/issues/18), but in short it has to do with Mosquitto 1.5.x and later having another option, MOSQ_ACL_SUBSCRIBE, associated to 4. So if your clients are trying to subscribe to the topics before or instead of reading it and they don't have permissions for that, they'll be rejected.

The solution for this

[2020-01-23 09:28] vvksahoo opened #47 "How to generate PBKDF2 password ?"
Hi,
I want deploy mosquitto-go-auth in docker.
[code]
Once container is spin up , doing docker exec -it <container_name>  /bin/bash and try to execute this '/opt/mosquitto-auth-plug/n' to generate the password so getting error saying 'there no such file/directory ' . Cant identity what i am doing wrong here ?

[2020-01-23 13:30] iegomez commented on #46
@shaneyake, were you able to make it work?

[2020-01-24 06:02] shaneyake commented on #46
I have not been able to make it work.
Do you have an example SQL query?

Thanks

[2020-01-24 14:24] iegomez commented on #46
It depends on what your data looks like, but let's say your table has columns [username, topic, acc], and that you have a query like `SELECT topic FROM acl WHERE (username = $1) AND rw = $2`, then to enable that user to receive messages on a topic you'd need to have rows:
[code]
This means that the user is able to subscribe and read.

Now, depending on your requirements, this could be treated diff

[2020-01-24 23:09] shaneyake commented on #46
Okay cool, that works. Thanks for all the help!

[2020-01-24 23:09] #46 closed

[2020-01-29 01:59] iegomez commented on #47
Sorry, I missed this issue.

It seems like a simple typo (either in the command you executed or when writing this issue), as there's no `n` binary generated as suggested by your mention of `/opt/mosquitto-auth-plug/n`. Could you provide more details on this so I may help?

By the way, I'd recommend using the latest 0.6.1 release instead as it has a critical bug fix for the `plugin` backend.

[2020-01-30 17:03] aldobongio opened #48 "Question - clientid not sent to login ?"
Hi, is there a specific motivation (maybe Mosquitto is enforcing it) behind the fact that the HTTP plugin passes as parameter the clientId only when invoking the "acl" method ? Why the "login" method is prevented from receiving the clientid ?

[2020-01-31 03:09] iegomez commented on #48
Indeed `mosquitto` didn't use to pass the `clientid` through `mosquitto_auth_unpwd_check`, while it did on `mosquitto_auth_acl_check`, but now both receive a pointer to the `client` struct. So it seems like it's definitely possible to extract the `clientid` from that and pass it along in the backends, but this needs checking, as `acl` checks get the user name from this struct, while `auth` checks

[2020-01-31 05:27] alochym01 opened #49 "How to uncheck the superusers"
Hi all

is there any option to uncheck username start with S character

# Usernames with this fnmatch(3) (a.k.a glob(3))  pattern are exempt from the
# module's ACL checking
auth_opt_superusers S*

thank you

[2020-01-31 07:44] aldobongio commented on #48
Hi, thanks for the detailed explanation.
A possible use case would be keeping track, on the HTTP backend, of username/clientid combinations or of the only clientid requests for monitoring. For instance if two devices by accident are configured with the same clientid and connect with the 'autoreconnect' flag the MQTT broker will continously kick off one and then the other, and they will continously

[2020-01-31 14:57] wildstray opened #50 "mosquitto-go-auth crash (and mosquitto crashes followed suit) for unexpected hash format"
After a test witeeh incomplete password hashes in db, mosquitto service crashed with SIGABRT.
In the logs:
[code]

So I realized that passwordHash in HashCompare() is not validated. This issue can simply solved checking the len of resulting slice after the Split:

[code]

[2020-01-31 14:58] coldfire84 commented on #50
I think the fix for this has been introduced in this PR: https://github.com/iegomez/mosquitto-go-auth/pull/45

[2020-01-31 21:08] iegomez commented on #48
Sounds fair. As mentioned, I'll have to take a look first and if the `clientid` is passable, then I'll add it to ACL checks next week.

[2020-02-06 17:16] iegomez commented on #50
Yeah, Chris was looking into that on his PR so I didn't make any separate efforts, but I'd be happy to accept this change as a separate specific PR.

[2020-02-06 17:17] iegomez commented on #49
Hi.  I'm not sure what you are asking here, so could you explain this a little better?

[2020-02-08 04:45] iegomez commented on #48
Hey @aldobongio , sorry I haven't implemented this yet, I had a pretty busy week.
Anyway, I got some little time today to start a new branch and make some changes leading to the `clientid` being passed and hope it'll be done by Monday or Tuesday. Would you be able to test that branch when I finally push it?

[2020-02-08 09:54] aldobongio commented on #48
Sure, I will be happy to test it.
Thanks!

[2020-02-08 16:00] alochym01 commented on #49
hi @iegomez
from the https://github.com/jpmens/mosquitto-auth-plug
there is an option to uncheck authentication  for superuser start with S* in mosquitto config file

https://github.com/jpmens/mosquitto-auth-plug/blob/master/examples/mosquitto-mysql.conf

how i can do it in mosquitto-go-auth plugin

thank you

[2020-02-11 18:18] iegomez commented on #49
Ok, from that link I get that users following the `S*` pattern don't need to be checked against ACLs even if they don't satisfy the `auth_opt_superquery`. This is not supported in this plugin.

[2020-02-13 12:48] iegomez commented on #48
Hey, just wanted to let you know that I have a few thing going on these days so I'm pushing this to next week. Sorry for the inconvenience.

[2020-02-15 08:11] alochym01 commented on #49
thank you

[2020-02-15 08:11] #49 closed

[2020-02-22 02:31] iegomez commented on #48
@aldobongio I'm terribly sorry for the time it took me, but I'm happy to announce that I finally got the change done. I already merged it to master, but you may check all changes in this PR: https://github.com/iegomez/mosquitto-go-auth/pull/52.

Please let me know if there's any issue or something I missed.

[2020-02-22 04:18] iegomez commented on #50
I just did some refactoring and took the time to include this. Thanks for the report @wildstray!

[2020-02-22 04:18] #50 closed

[2020-02-22 04:42] iegomez commented on #47
I'm firing a new release in a few minutes and closing this for inactivity, but please reopen it or file a new issue if you continue having problems.

[2020-02-22 04:42] #47 closed

[2020-02-22 04:47] iegomez commented on #38
I'm sorry but I don't think I'll add support for this, but I'm open for a contribution that adds it **and** keeps the current functionality. Let me know if you'd be interested in doing such work. In the meantime, I'll close this issue.

[2020-02-22 04:47] #38 closed

[2020-02-22 06:48] iegomez commented on #30
Going against my words, I'll close this because I believe the easy workaround fits better the idea of having "anonymous" clients. But still, I'd love to see you argue against it! Just let me know.

[2020-02-22 06:48] #30 closed

[2020-02-22 06:49] iegomez commented on #9
Despite these being my ideas (and liking the second one a lot), I don't think I'll be pursuing them, so I'll close this issue.

[2020-02-22 06:49] #9 closed

[2020-02-22 06:53] iegomez commented on #28
Since there was no feedback for the proposed discussion, I'll close this.

[2020-02-22 06:53] #28 closed

[2020-02-22 06:54] iegomez commented on #29
Since there was no feedback on this, I'll close it.

[2020-02-22 06:54] #29 closed

[2020-02-22 09:52] aldobongio commented on #48
I will try it the next week and I will let you know if it works.

Thanks again!

[2020-02-26 07:42] aldobongio opened #55 "Build from source is not working - undefined: plErr/ipErr/gErr/bErr"
Trying to build the current master (commit_id: `d53b09a41d38209781645ed9b9a62838823ffde3`) the process fails with a go error.
Trying instead to build the commit associated with #52 (commit_id: `0e39a99963755636a20ce54b973d4892cad66248`) it works.

The error is the following, it seems related to #53:
[code]

[2020-02-28 23:23] iegomez commented on #55
Oops, sorry about that, I didn't commit some changes when refactoring. It's fixed now.

[2020-03-02 12:51] #55 closed

[2020-03-03 14:27] aldobongio commented on #48
Hi, finally I checked the HTTP authentication: clientid was correctly sent on login.
So the issue can be closed.

Thanks!

[2020-03-03 19:33] #48 closed

[2020-03-13 15:13] vvksahoo opened #56 "How to restrict the user for read-only(SUB) using mosquitto-go-auth with postgres DB?"
I am trying to configure postgres DB with mosquitto-go-auth .
[code]
With this configuration :
What's working :
- Particular user can publish on particular topic(which is mentioned on DB column aslo) , basically read-only is happening .
- Particular user can publish on particular topic and subscribe to that particular topic also , basically read-write is happening .
What's not working : I want to

[2020-03-18 13:20] iegomez commented on #56
Hey, for starters you're mixing things up: publishing isn't reading but writing (and subscribing is _like_ reading, not writing).

That said, these are the possible `acc` values:
[code]
Read/Write is also supported with `acc` 3 for compatibility.

So from your example the user **shouldn't be allowed to publish** and if he's being granted permission to do so there's some other problem going on (may

[2020-03-19 16:00] vvksahoo commented on #56
Thank you so much for your response , will update here soon.

[2020-04-01 14:05] IsabelManiega opened #57 "auth error: sasl conversation error: unable to authenticate using mechanism \"SCRAM-SHA-1\": Authentication failed."
Hi,
I have an issue when I check the connection with mongoDB in mosquitto.

My configuration is described as follows:

# mosquitto.conf:
pid_file /var/run/mosquitto.pid

persistence true
persistence_location /var/lib/mosquitto/

log_dest file /var/log/mosquitto/mosquitto.log
log_type all

include_dir /etc/mosquitto/conf.d

# /etc/mosquitto/conf.d/mosquitto-go-auth.conf:

auth_plugin /var/mosquitto

[2020-04-02 17:53] iegomez commented on #57
Hi, I'm not sure about this, I'll take a look as soon as I get the time. In the meantime please check this issue (https://github.com/iegomez/mosquitto-go-auth/issues/43) and PR (https://github.com/iegomez/mosquitto-go-auth/pull/44) to see if they could be related.

[2020-04-03 06:44] IsabelManiega commented on #57
Hi!,
Yes I think that the problem is the same (#43).
I have changed mongo.go and generated the plugin, but I have a problem:
![image](https://user-images.githubusercontent.com/25103614/78331302-0b11ba00-7586-11ea-909c-bb606a2858ae.png)

Is it necessary some change more?
sorry, I didn't develop code in golang.

Thanks a lot

[2020-04-03 14:18] iegomez commented on #57
I introduced `clientid` for the `GetUser` method in this commit: https://github.com/iegomez/mosquitto-go-auth/commit/0e39a99963755636a20ce54b973d4892cad66248
The code you're looking at to implement the changes for MongoDB doesn't consider this, so just make sure to check my commit to keep the method signature correct.

[2020-04-16 07:07] IsabelManiega commented on #57
Thanks ! I obtained go-auth.so!
My change is here: https://github.com/IsabelManiega/mosquitto-go-auth.

[2020-04-16 07:23] IsabelManiega commented on #18
Hi!
I am checking my users in mongodb backend.
I have a problem when I put **superuser: true** and acc: 1 in one topic, the user not only subscribe in this topic, also in all topics and publish publish in all of them, the problem is the **superuser**. It is not a correct process for the user. Exist other process?

[2020-04-16 19:30] iegomez commented on #18
Hi @IsabelManiega. Setting `superuser` to `true` effectively grants the user with permissions to publish and subcribe to any topic, so it doesn't matter how you configure topics ACLs at that point. If you want ACLs to be taken into account, set `superuser` to `false`.

Also, this issue is unrelated.

[2020-04-16 19:37] iegomez commented on #57
Great! I haven't merged the changes because I'm waiting on some tests from Chris to ensure everything works, but it'll get to master soon.

[2020-04-17 09:12] IsabelManiega commented on #18
The problem is that:

If I select: "superuser" = False, (a normal user),
I have 3 possible permissions: (R, W, R/W):
Write: It is working, (the user is only able to write)
ReadWrite: It is working, (the user is able to both write and read)

but..
Read: It is not working.  (I use MongoDB).
When I select this option, the user is NOT able to read.

AND, If I select "superuser=True", the user will be

[2020-04-17 16:13] iegomez commented on #18
@IsabelManiega I believe you're missing exactly what's discussed in this issue: allowing for subscribe. If your client is sending `acc` 4, which stands for subscribe, before reading then it'll fail because you don't have that ACL. Try setting `read` and `subscribe` permissions to the topic, that is 2 ACLs for the same topic, one with `acc` 1 and the other 4, and see if that works.

[2020-04-17 18:20] IsabelManiega commented on #18
Thanks!!!
I have just created my user:
{
    "_id" : ObjectId("5e994c75fc4f7805f97e3d4a"),
    "username" : "Prueba",
    "password" : "PBKDF2$sha512$100000$gkFNM/6IQhxuFXm8uRd49w==$7VvfH4KkE9lYpgCBRci4xURIAFpAJYNxq3HcmBLqMlKnbPup7PTVSmCxz0pH9XCy9ff/cf6/95Mm7wALe1tysg==",
    "superuser" : false,
    "acls" : [ { "topic" : "test/#",  "acc" : 1.0},
                  { "topic" : "test/#", "acc" : 4.

[2020-04-20 11:59] pumper opened #58 "how to use plugin"
hi,could you please give us more introductions about this plugin.Now I could not run it exactly,but there are little ducuments to find.
I build it successfully and connect it to mysql backend.
now i have to build password with pw and inert it into the database to work. how can I put it in my java application to manage it automatically?

[2020-04-20 12:13] pumper commented on #58
every time i restart mosquitto the only log that is inserted in the log file is :
time="2020-04-20T16:21:35+04:30" level=info msg="Backend registered: Mysql"
time="2020-04-20T16:21:35+04:30" level=info msg="No cache set."
time="2020-04-20T16:21:54+04:30" level=info msg="Cleaning up plugin"
time="2020-04-20T16:22:02+04:30" level=info msg="Backend registered: Mysql"
time="2020-04-20T16:22:02+04:30"

[2020-04-20 18:05] iegomez commented on #58
Hey! I'll need some more details on what you wanna do and what have you tried already.

[2020-04-20 19:22] pumper commented on #58
so far I created password hash using:
MessageDigest digest = MessageDigest.getInstance("SHA-256");
byte[] hash = digest.digest(password.getBytes(StandardCharsets.UTF_8));
but when I try to login I get
 level=error msg="invalid PBKDF2 hash supplied"
in my logs

[2020-04-20 20:09] pumper commented on #58
I also tried this one with no luck:
SecureRandom random = new SecureRandom();
			byte[] salt = new byte[16];
			random.nextBytes(salt);
			KeySpec spec = new PBEKeySpec(password.toCharArray(), salt, 10000, 256);
			SecretKeyFactory factory = SecretKeyFactory.getInstance("PBKDF2WithHmacSHA256");
			byte[] hash = factory.generateSecret(spec).getEncoded();

[2020-04-20 21:06] iegomez commented on #58
I haven't tried PBKDF2 in Java, so I'd suggest creating some dummy program to see how a password generated from Java and the one from the `pw` compare. By the way, how are you building the password with `pw`?

[2020-04-20 21:19] pumper commented on #58
I use it in linux shell
./pw -a sha256 -p password

[2020-04-20 21:28] iegomez commented on #58
That looks ok.

[2020-04-22 05:38] pumper commented on #58
please dont close issue if i found the solution I put it here or maybe someone else do it

[2020-04-22 11:49] pumper commented on #58
I tested plugin and it works well. the only thing that I must mention is that if the user is not Superuser and we want that user have R/W rights for some topic the rw param must be 7 not 3 please modify README.

[2020-04-22 11:53] pumper commented on #58
and in java if you want to generate  correct hash you must do it this way:

`
String createPasswordHash(String password) {
		StringBuilder sb=new StringBuilder();
		try {
			SecureRandom random = new SecureRandom();
			byte[] salt = new byte[16];
			random.nextBytes(salt);
			System.out.println(salt.toString());
			KeySpec spec = new PBEKeySpec(password .toCharArray(), salt, 100000, 256);
			Secre

[2020-04-22 11:54] #58 closed

[2020-04-22 14:02] iegomez commented on #58
Edited your comment to format the code, thanks for the example!

That's not exactly true. The thing is mosquitto offers this `acc` values:
[code]
An MQTT client could either use `4` or not to subscribe before reading, it seems many of them do. So if you only set an ACL for `1`, then on subscription the client will fail to subscribe and do whatever it is that specific client does with that info (di

[2020-04-24 16:33] peter3099 opened #59 "Superuser request for normal user"
Hello

Thank you very much for making mosquitto go auth, I'm using the Remote JWT and everything works fine for all those request that have JWT, speccially the ones from the frontend. My problem comes for a couple of devices that connect to the same broker but they use normla user and password, they are able to connect without a problem, but the broker keep sending req to the backend to check if t

[2020-04-26 02:26] iegomez commented on #59
Hi, Pedro, thanks for the kinds words!
My first idea would be to add something like a `disable_superuser` option per backend, so that way you can disable `superuser` checks and only do regular user authentication and ACLs authorization on any given backend. Would that suffice for your use case?

[2020-04-26 02:32] iegomez commented on #56
Hey, @vvksahoo, any updates on this?

[2020-04-26 02:32] iegomez commented on #39
Hey, I'm closing this issue, we can continue any discussion on the PR.

[2020-04-26 02:32] #39 closed

[2020-04-26 02:34] iegomez commented on #35
Guys, I'm closing this issue so we can continue any discussion on the PR comments, but please feel free to reopen it if you need.

[2020-04-26 02:34] #35 closed

[2020-04-27 07:34] peter3099 commented on #59
thanks for the quick answer,

Is nice to have the superuser feature, the problem now is that the backend files doesn't have a way to authenticate it.

Basically we need a way to disable superuser for the backend Files, or a way to authenticate it within the file. because ACL an normal user is not a problem but when it comes to check if the "file user" is superuser it eventually goes to another bac

[2020-04-27 18:45] iegomez commented on #59
I'm super busy this week so probably won't have time to check it, but I'll take a look next week.

[2020-04-27 21:32] peter3099 commented on #59
Sounds like a plan! Good luck with work!

[2020-04-30 18:59] rechandler12 opened #60 "Cache in redis cluster"
Hi!
I've made k8s deployment of mosquitto with auth plugin and redis cache. I'm using redis-cluster from bitnami: https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster

And I've got following error:
[code]

After search in the internet I have found this:
https://serverfault.com/questions/812156/redis-cluster-error-moved

So could you add support for redis cluster configuration?

[2020-05-02 01:00] iegomez commented on #60
Hey, thanks for reporting this. I'll take a look next week.

[2020-05-02 08:53] coldfire84 commented on #60
Looks like this will need a config flag to instruct the plugin to either setup a redis client or cluster client via go-redis: https://godoc.org/github.com/go-redis/redis#ClusterClient

[2020-05-11 14:14] marvin21 opened #61 "Http Status Check in JWT backend"
Hi,
I am using the JWT backend to authorize clients with OAuth2 tokens. The authorization backend is build with Spring. Actually, everything is running fine, but:

Is there any reason why the jwt backend is checking the resp.Status for "200 OK"? Would it not be sufficient to check the resp.StatusCode to be equal 200?
Why I am asking this: for any reason, the resp.Status in my case is always just "

[2020-05-13 07:11] peter3099 commented on #59
Hi iegomez, just a friendly reminder about this issue! Thanks in advance!

[2020-05-13 15:19] iegomez commented on #59
Hey, @peter3099, sorry about that. I've been a bit busy, but this is definitely in my todo list as soon as I get the time.

[2020-05-13 15:20] iegomez commented on #61
Hey, @marvin21, thanks for reporting this. I'll fix it as soon as I get some time.

[2020-05-13 23:23] iegomez commented on #61
OK, here's the fix and additions to the docs: https://github.com/iegomez/mosquitto-go-auth/pull/62
Gonna merge it right away since it's a small change, but let me know if you find anything odd in the PR so I can fix it later on a following one (if not, just close the issue).

[2020-05-13 23:33] iegomez commented on #59
I'm working on this right now and got a bit curious: do you have control over your users `usernames`? If that's the case you may set which backend is used to check against a request by using [prefixes](https://github.com/iegomez/mosquitto-go-auth#prefixes).

In any case, disabling superusers for given backends is a nice feature to have, but if you want to be able to have some users to actually be

[2020-05-14 00:01] iegomez commented on #59
Here's a PR for the WIP: https://github.com/iegomez/mosquitto-go-auth/pull/63

[2020-05-14 02:49] iegomez commented on #59
@peter3099 I just finished the PR. Besides adding the option to disable superusers per backend or globally, it also fixes an unhandled error and now correctly sets the `Authorization` header for JWT as `Bearer <token>` instead of just passing the token, which maybe solves your JWT issues.

Please review it and let me know if you see any errors so I can fix them, or confirm it looks good and I'll m

[2020-05-14 07:35] peter3099 commented on #59
Thank you so much for this, let me check it and I'll come back to you! I'll look into prefixes as well, I do have control over the usernames so I can implement that together with having the chance to disable superuser

[2020-05-14 07:47] IsabelManiega opened #64 "Mosquitto usage 99.7 CPU"
Hi!,

I have a problem in my server (Debian GNU/Linux 10 (buster)), I put the plugin in the mosquitto configuration, at this moment It shows high cpu usage.

we have the plugin in another server and it is working, but the connection plugin-mosquitto has a delay of 10 seconds.

I do not know if the problem is with the mosquitto or with our own servers,
I have described the problem and the configura

[2020-05-14 09:40] #61 closed

[2020-05-14 10:40] peter3099 commented on #59
Hey @iegomez , works really well

The only odd thing I see in the logs is

`2020-05-14T10:28:45.694374697Z time="2020-05-14T10:28:45Z" level=debug msg="checking user eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJTeW1waG9ueUNsb3VkIiwic3ViIjoiNFVYczU0dEpwU0VCSkx2TUpEd2ZBYiIsImVtYWlsIjoicGVkcm8uY2hpY2FsYUBhc2NvdWdoLmllIiwiaXNTeW1waG9ueSI6dHJ1ZSwiaWF0IjoxNTg5NDUwNjkMTQ2OTJ9.xjjGCiyHfjrgRPaGtFQfz5a3u

[2020-05-14 11:36] vvksahoo opened #65 "How to generate PBKDF2 hash password using Python which can verify by mosquitto-go-auth ?"
I am using mosquitto-go-auth for mqtt user authentication . In my case i have API for user which generate the PBKDF2 hash for given password.
in python:
[code]
Whatever the hash password got, using same for connect to broker but got " Connection Refused: not authorised." How we can generate a hash password using python script which can verify by mosquitto-go-auth.

Thanks.

[2020-05-14 13:42] iegomez commented on #64
This issue could be caused by different things (mosquitto, the plugin, mongo, some other program, etc.), so I think the best would be to discard potential culprits by testing different scenarios:

- Does it run fine without the plugin?
- What if you run the plugin only the Files backend?
- What if you run it with other backends other than Mongo?
- What if you time how much it takes since the plugi

[2020-05-14 13:45] iegomez commented on #65
Hey, this could be related to this PR: https://github.com/iegomez/mosquitto-go-auth/pull/45
That's gonna me merged today or tomorrow, so if you can wait a bit, that'd be great; if you're in a hurry, checkout that branch and see if that works for you and then you may go back to master once we merge it.

[2020-05-14 14:13] vvksahoo commented on #65
i would like to wait until this PR get merge and pull the new docker image of it. please let me once its done. Same i will test and we will close this issue.

[2020-05-14 15:45] iegomez commented on #65
@vvksahoo Just merged that PR so you may test it.

[2020-05-14 15:57] iegomez commented on #59
Files authorizing the JWT token user happens because if there are no ACLs for files then all checks pass:
[code]
That makes sense when you have Files as a standalone backend and all you're doing is authentication, not authorization. That is, if you're a valid user and your password checks, you may pub/sub to anything if no ACLs are in place.

Of course, that doesn't play well with other backends,

[2020-05-14 17:20] vvksahoo commented on #65
With this latest release docker image version will be change ? Doing
docker-compose up, creating database in postgres
and keeping a PBKDF2 hash password and publishing with username and
password,  getting same error . Authentication failed.

On Thu, 14 May 2020, 21:15 Ignacio Gómez, <notifications@github.com> wrote:

[2020-05-14 18:52] iegomez commented on #65
Mm... maybe you need to rebuild the image or something like that. I normally build everything and don't use docker, so I tend to forget if there's anything that's needed for it to work.
If rebuilding or building from source still don't work, then this was an unrelated issue and we'll need to start debugging things.

[2020-05-14 23:39] iegomez commented on #59
For now I think a reasonable way of dealing with this is:

1. For the `Files` backend, if there are no ACLs **always** grant access **when running solo**, and **never** grant access **when running along other backends**.

2. For `JWT`, if prefixes are being used, try to strip the prefix from the token:
- If the client added the prefix and that's why the backend is being used, then the token will b

[2020-05-14 23:57] iegomez commented on #59
I still need to write some tests to ensure it works as intended (and document it in the readme), but I just pushed changes with said behaviour.

[2020-05-15 03:58] iegomez opened #67 "Improve testing"
The test suite was written long ago while starting to develop this plugin and it hasn't aged well: I knew very little Go by then and there are some basic mistakes I did that are starting to creep into new changes. So testing needs a major refactor and rewrite that include at least these:

1) Switch from `goconvey` to simple table driven tests and use something like `testify/assert` to ease checks.

[2020-05-15 04:06] iegomez commented on #60
Hello there, @rechandler12 ! I know I've been neglecting this issue for some days, either for lack of time or, more recently, because I've been taking care of longer dated or lower hanging ones these last couple of days. I believe it shouldn't be too hard to tackle so I'll give it a try tomorrow after work, but if you have done any tests during these days please share your findings or even open a

[2020-05-15 04:12] iegomez commented on #43
Since the PR is merged and it's been mentioned elsewhere, I'll close this issue. @coldfire84 could you open another issue/PR for the documentation bits? Thanks!
BTW, would you be interested in being a collaborator so you can help me checking issues and PRs? No pressure though, you probably know by now that this moves slowly.

[2020-05-15 04:12] #43 closed

[2020-05-15 04:13] iegomez commented on #56
I'll close this for now but please open a new issue with details if you're still facing this or other issues.

[2020-05-15 04:13] #56 closed

[2020-05-15 04:14] iegomez commented on #57
Changes were merged so I'll close this one for now. Thanks again for reporting!

[2020-05-15 04:14] #57 closed

[2020-05-15 07:58] peter3099 commented on #59
HI iegomez, sounds great, so basically the frontend will put the prefix, then the plugin will take out the prefix so the backend can authenticate it. Sounds really good to me.

Thanks for all the work! Have a nice weekend!

[2020-05-15 09:30] vvksahoo commented on #65
@iegomez , i tried to re-image with root dockerfile , and used that image in docker-compose file but same error is coming after running.  Authentication failed.

[2020-05-15 10:13] coldfire84 commented on #65
Did you set the salt encoding in your config via the option outlined below (be sure to change `'<backend-name>'` to relevant backend):
[code]

[2020-05-16 14:26] ivica3730k opened #68 "MQTT Server crashes when it can't make conenction to the HTTP backend"
Plugin works as expected, but when you stop HTTP backend and another client tries to connect the MQTT the server crashes.

Provided screenshot shows first client auth normal as usual. Before authing the 2nd client my backend connection broke, so when 2nd client tried to connected server crashed.

![gitissue](https://user-images.githubusercontent.com/17437897/82122081-4c9ea300-9789-11ea-93ee-1c56a5

[2020-05-17 12:43] vvksahoo commented on #65
Thanks a lot @iegomez / @coldfire84 , its works for me.

[2020-05-18 05:06] #65 closed

[2020-05-19 14:02] iegomez commented on #68
Thanks for reporting this, I'll take a look later today or at least during the week.

[2020-05-21 21:56] iegomez commented on #68
Hey, @ivica3730k, I just merged this PR to fix your issue: https://github.com/iegomez/mosquitto-go-auth/pull/70
Could you give it a try and confirm that it works?

[2020-05-22 00:03] iegomez commented on #60
Hi again! I have an almost ready implementation, just need to figure out the best way of dealing with the different signatures for `Set` and `SAdd` for instance and cluster Redis clients since they differ but are important for testing purposes. I hope to have that solved tomorrow and then I'll open a PR for you to look.
Does that sound good, @rechandler12 ?

[2020-05-22 00:06] iegomez commented on #64
Hi, @IsabelManiega . Do you have any more details to share about those points?

[2020-05-22 19:18] rechandler12 commented on #60
Hi! Sorry for the late response. I have also lack of time :(
I don't know GO, so I don't have any pull request. I haven't time to test it also :/

It sound great :) I'am waiting for PR.

[2020-05-23 02:12] ivica3730k commented on #68
Hello back!

Thank you for your time, I can now confirm that it does not crash, instead it just wont auth the connection.

 Just a one thing now, I am not sure how you imagined it, as currently, without backend clients which are subscribing to the topic are not getting kicked out, but that maybe is not even a issue as without auth noone can publish anything anyways.

![image](https://user-images.g

[2020-05-23 23:13] iegomez commented on #68
I'm glad to read that it's working!

As for disconnection, it's actually something that I need to give a better overall look to and haven't found the time to do it as you can see from this terribly described issue: https://github.com/iegomez/mosquitto-go-auth/issues/31

[2020-05-23 23:15] ivica3730k commented on #68
Yep I see.

Thank you very much for your time.
I might learn some GO in the future :)

In my oppinion this can now be closed!

[2020-05-23 23:17] #68 closed

[2020-05-24 00:31] iegomez commented on #60
Here's a WIP PR: https://github.com/iegomez/mosquitto-go-auth/pull/71

I need to clean it up and test a couple of things before calling it done, but the bulk of the work is done.

[2020-05-24 05:37] iegomez commented on #60
So I made some tests and there were some weird results with tests failing only on some runs, so I changed the Redis backend tests to just use assert and ditched goconvey and everything worked.

I know testing has a lot of room for improvement and that's the next thing in my list, but for now at least it shows that a Redis cluster passes the same exact tests that a single instance configured backen

[2020-06-02 17:47] rechandler12 commented on #60
Sorry for a dalay but I have a lot of work. I'll check it out next weekend

[2020-06-08 07:13] rechandler12 commented on #60
I have 2 problems
1. Still doesn't work (or I cannot configure it properly). My config:
`    auth_plugin /mosquitto/go-auth.so
    auth_opt_backends mysql
    auth_opt_cache false
    auth_opt_cache_reset true
    auth_opt_cache_host mosquitto-auth-cache-redis-cluster.mqtt.svc.cluster.local
    auth_opt_cache_port 6379
    auth_opt_cache_password xxx
    auth_opt_cache_db 0
    auth_opt_cache_mode

[2020-06-08 18:59] iegomez commented on #60
1. Yeah, I'm checking the [Cluster spec](https://redis.io/topics/cluster-spec) and `MOVED errors` should be handled by the client by either keeping track of the nodes or resetting the layout on errors. So I'll have to take a look again to see if that's supported by the package in use.

2. I think this can't or shouldn't be handled by a client though: if your Cluster in K8s keeps changing IPs for y

[2020-06-09 04:14] arthit75420 opened #72 "mosquitto-go-auth build fail"
ubuntu 18.04
go version go1.10.4 linux/amd64

issue 1:
backends/redis.go:10:2: cannot find package "github.com/go-redis/redis/v8" in any of:
        /usr/lib/go-1.10/src/github.com/go-redis/redis/v8 (from $GOROOT)
        /home/ubuntu/go/src/github.com/go-redis/redis/v8 (from $GOPATH)
Makefile:11: recipe for target 'test' failed
make: *** [test] Error 1

issue 2:
go build -buildmode=c-archive go-a

[2020-06-11 15:02] arthit75420 commented on #72
Thank so much.
I had build it successfully.
great plugin ❤

[2020-06-11 15:02] #72 closed

[2020-06-15 14:54] garethhcoleman opened #75 "Postgres ACL query error 'got 2 parameters but the statement requires 1'"
Hi! Great plugin many thanks!!

I have used it successfully with files backend, and now with both postgres and JWT. However, one part is causing me problems, almost certainly my mis-configuration, but having struggled with it for hours I now appeal to you and the hive mind!

My auth query is pretty vanilla in that it seems similar to the example given..

`auth_opt_pg_aclquery SELECT "partNumber" |

[2020-06-15 18:44] iegomez commented on #75
Hi and thanks for the kind words and interest on this project.

1. Regarding your issue, I just noticed the example configuration for Postgres was truncated, I just fixed that. Now it show this:
[code]
As you may see in the ACL checking method, the Postgres backend passes both `username` and `acc`:
[code]
Now, since you don't care about `acc` and don't mention the second param in the query but it'

[2020-06-16 07:49] garethhcoleman commented on #75
1. Of course!! <slap forehead>

I was staring at that DB.Select and didn't see it - I think I was convinced it was an error on the plugin side not the postgres side. Oh what a relief!

Thank you so much for responding so quickly - I've just made the change you suggested and all is gravy.

2. I'll get on and test my contribution - yes of course I didn't think the plugin would be enhanced by a break

[2020-06-16 17:18] iegomez commented on #75
That sounds good! We could take the time to add `bcrypt` too, which is something I've been meaning too, but let's see how it goes.

Cheers!

[2020-06-17 00:43] sanhardik commented on #64
Hello @iegomez
I am facing the same issue.
Mosquitto Version: 1.6.8, Protocol MQTT 3.1.1
With Plugin, CPU usage is 100%
Without Plugin, CPU usage is around 3%.

The Plugin is using MySQL
Without plugin, I am using basic password_file and acl_file.

[2020-06-17 01:12] sanhardik commented on #64
We tried Auth Plugin v0.6.0, v0.5.0 and v0.4.0 but same results

[2020-06-17 02:05] iegomez commented on #64
Hi, @sanhardik, and thanks for giving more info.

As I asked in the original report, could you try some alternative configurations so we can narrow this down a bit? For example, trying the plugin with the Files backend instead of no plugin with static files, or some other plugin such as Redis. I just wanna know if DB drivers might have something to do with it.

Also, it'd be interesting to see if

[2020-06-17 04:00] sanhardik commented on #64
I changed it to use files backend and the CPU usage is 100%.
One other observation:
We have a service that publishes data to Broker.
Without Plugin, time taken per publish was around 1ms
With the Plugin, using Files backend, time taken per publish is around 26ms.

I will try different mosquitto versions and report back.

I am running logs for auth plugin with following options:
[code]
Are there an

[2020-06-17 07:30] garethhcoleman commented on #75
Ok thank you again and I look forward to working with and learning from you.

Kind regards

Gareth

[2020-06-17 07:30] #75 closed

[2020-06-17 14:45] iegomez commented on #64
That should give you all plugin related logs. For `mosquitto` you may set it to log everything:
[code]
Alternatively, if you run it manually I think you can give it the verbose flag `-v`.

I'm inclined to say Debian vs Ubuntu shouldn't be a problem: I originally started this on Debian 9, but I've been using Linux Mint for a long time and haven't had any issues.

[2020-06-17 17:32] LolHens opened #76 "Automatic build for official docker image on dockerhub"
Hi there! I was wondering why the image on dockerhub (https://hub.docker.com/r/iegomez/mosquitto-go-auth) was so outdated.
Nowadays it is pretty easy to just set up an automated build for repositories and since the Dockerfile is already there it would only take a few clicks to set it up.
For now I just created my own docker image but it would be pretty cool to see an automatically updated official

[2020-06-17 19:32] iegomez commented on #76
Hey, @LolHens, thanks for bringing this up. There's no special reason, just forgot about it when I added basic Docker support. Most of the later changes have been contributions by others, so I never realized about that. I actually need to go over the two different Dockerfiles, but in this case I think we'd want to use `docker/Dockerfile` for Dockerhub `master` auto build since that's the new that

[2020-06-17 21:01] LolHens commented on #76
I've compared the two files and they are nearly identical except that one pulls the files from github. I think for the overall workflow it would be much easier to use the one from the repository root which doesn't pull from github because then you can build older versions, other branches or pull requests. One difference I found was that this one doesn't copy the pw utility to the final image.
If y

[2020-06-17 21:06] iegomez commented on #76
That's very helpful!

I just changed the rule to match yours, so in a few minutes builds should be available.

[2020-06-17 21:07] LolHens commented on #76
Thank you very much!

[2020-06-17 21:13] iegomez commented on #76
I never really found the time to master or at least get better at docker, so I still struggle with some things from time to time. So thank you for your contributions!

[2020-06-17 21:13] #76 closed

[2020-06-17 21:22] LolHens commented on #76
BTW: you can even let docker build past releases by manually adding their tag like this:
![image](https://user-images.githubusercontent.com/1524059/84951896-6701ce80-b0f1-11ea-9f8d-cdcbc551ab12.png)

[2020-06-18 02:42] iegomez commented on #64
About that, it may vary. I'm not entirely sure and some reading would be needed, but I'd expect there to be a penalty just by calling a shared object, which is how an external plugin is loaded, instead of directly depending on mosquitto static files auth internals. That could be checked by trying with https://github.com/jpmens/mosquitto-auth-plug to see how much a pure C plugin overhead is.

Now,

[2020-06-19 00:27] sanhardik commented on #64
When I tried with Mosquitto v1.5.9, it wont run. It says
```Error: Incorrect auth plugin version (got 4, expected 3).```

Auth Plugin Commit: 5b603bf

[2020-06-19 02:35] iegomez commented on #64
I've seen that before when having Mosquittto 1.6.x installed and then downgrading to 1.5.x or viceversa, as well as switching between 1.4.x and 1.5.x. If I recall correctly, they bump `MOSQ_AUTH_PLUGIN_VERSION` between mosquitto's minor versions or whenever they introduce a breaking change for plugins (e.g. https://github.com/iegomez/mosquitto-go-auth/blob/master/auth-plugin.c#L8), but for some re

[2020-06-19 03:52] sanhardik commented on #64
@iegomez
We created a new machine with Mosquitto v1.5.9 and saw the same CPU usage.

I tried jpmens C plugin and it improved the performance significantly. Seeing much less CPU usage.
So as per your suggestion,  it seems its something to do with GO.
What help can I provide if we want to sort this out ?

[2020-06-19 04:34] iegomez commented on #64
@sanhardik That's a bummer, I was really hoping it had to do with the mosquitto version since I've never experienced high CPU usage, while yours and @IsabelManiega 's are the only related issues ones that have been reported.

I still don't think it has to do with Go per se, I was just saying that this plugin will perform worse than a C one without a doubt, not only because C is generally faster bu

[2020-06-19 04:40] sanhardik commented on #64
@iegomez There is no need to be sorry. I think we should be grateful for your work and getting the Auth Plugin which otherwise would have taken a long time for us to build.

Its an AWS t2.large EC2 machine running Ubuntu 16.04.
Its not running anything apart from the mosquito service and MySQL server for auth.

We push in a lot of data (think of 1000 of messages a second).
We are trying to run jpm

[2020-06-19 16:05] iegomez commented on #64
Ah, well, it might be it's not coping well with so many messages. I think I opened a free AWS account some time ago, I'll run some tests on it and see where that gets us.

With jpmen's plugin you should have some issues like plugin version 4 not being supported: https://github.com/iegomez/mosquitto-go-auth/blob/master/auth-plugin.c#L89
I think `MOSQ_ACL_SUBSCRIBE` could be an issue too. But those

[2020-06-22 12:59] rechandler12 commented on #60
1. Thanks
2. Alright, I handle it :)
I have to think about solutions and choose one but I know what I have to do.

Thanks for your help.

[2020-06-23 00:50] sanhardik commented on #64
We tried jpmen's plugin but since it doesnt support newer versions of Mosquitto, we are having a tough time getting it to work as it is.

Did you get a chance to check on CPU usage issues ?
We did notice that the CPU usage issues came up with TLS turned on. Dont know if that helps.

Whats the libwebsockets version you recommend or are using ?

[2020-06-23 21:02] iegomez commented on #64
Sorry, I haven't got the chance to do a proper check. I'm not sure on `libwebsockets` version since I'm on my work machine right now, but I'll report it later. In any case, your findings on TLS look promising, I'll try to test that as soon as I get some time.

[2020-06-25 23:59] iegomez commented on #60
Hey, @rechandler12!

I did some digging and supposedly the Redis package in use should handle `MOVED` errors by retrying (8 times by default), but since that is not working I'm implementing a strategy that reloads the cluster state on `MOVED` error and does a single retry after it. Here's an example implementation for the backend's `GetUser` method, but it would look fairly similar for Cache:
[cod

[2020-06-26 04:06] iegomez commented on #60
Here's a PR for handling `MOVED` errors: https://github.com/iegomez/mosquitto-go-auth/pull/80

I don't have the infrastructure in place to test this against a k8s Redis cluster and little time to build it up, so it'd be super useful if you can try out that feature branch and let me know how it works.

I ran the test suite and am pretty sure it wouldn't break anything since it's only checking for a

[2020-06-26 04:35] iegomez commented on #64
Quick update: last development has been done on a fairly new machine and I never got to check if TLS was working, so actually there's no specific `libwebsockets` version I can report or recommend right now.

I remember there were `mosquitto` issues with some specific websockets version a couple of years ago, but I have no record of what version that was since most of that info I kept on a work mac

[2020-06-27 01:13] iegomez commented on #60
I couldn't resist it: a new local cache is available using [go-cache](https://github.com/patrickmn/go-cache) and there's a new cache package to clean the implementation. This is part of the same branch and PR, so go nuts trying that cache too if you want.

[2020-06-28 01:24] iegomez commented on #60
@rechandler12 I just added tests and thus will merge the PR. Let me know how it works when you get a chance to try it.

[2020-06-30 12:40] synweap15 opened #82 "Wrong signature in the README example for Custom backend"
The example in the Readme for Custom (experimental backend) shows the following signature for the `GetUser` method

https://github.com/iegomez/mosquitto-go-auth/blob/master/README.md#custom-experimental

(note there are 3 parameters), whereas the actual expected signature has only two parameters (clientid is omitted):

https://github.com/iegomez/mosquitto-go-auth/blob/52a9a8f8406924b9d31052c0e9c16

[2020-06-30 17:14] iegomez commented on #82
Thanks for catching that, I'll fix it during this week.

[2020-07-03 00:15] iegomez commented on #82
OK, checking it I believe it's useful to pass `clientid` to the custom plugin's user check too, so I'd say the README is correct and the implementation needs work. I'll open a PR for that in a few minutes.

[2020-07-03 00:44] iegomez commented on #82
Merged https://github.com/iegomez/mosquitto-go-auth/pull/83.

[2020-07-03 04:42] iegomez commented on #82
Closing for now, but reopen if you have any other concern.

[2020-07-03 04:42] #82 closed

[2020-07-04 20:15] iegomez commented on #60
Hey, any news on this?

[2020-07-04 20:20] rechandler12 commented on #60
Hi!
I'm gonna check this tomorrow and I let you know.

[2020-07-05 05:35] synweap15 opened #84 "MySQL backend: ACL query example not suited for mosquitto 1.5 and up"
**mosquitto**: 1.6.10
**mosquitto-go-auth**: 0.8.1 + modifications

I've followed the setup details for MySQL plugin as in README, and found ACL rejects for `subscribe` calls. After setting up additional logging, it seems that the `acc` value mosquitto is querying with is not from the `[1, 2, 3]` range - it's actually `MOSQ_ACL_SUBSCRIBE`, as defined in `mosquitto_plugin.h`:

[code]

MySQL query i

[2020-07-05 20:08] rechandler12 commented on #60
Hi!
I tested redis cache and get this error:

[code]
It could be also problem with my configuration. So If you have any idea what you can do with it or what I should check, just let me know.

I also tested local cache and it work perfectly. It solves all my issues. So thank you very much :) Great job <3

[2020-07-06 22:07] iegomez commented on #84
Yeah, the examples were written before `MOSQ_ACL_SUBSCRIBE` was introduced. I'll rewrite them along other docs on an ongoing PR.

[2020-07-11 02:55] iegomez commented on #64
@sanhardik I did an experiment on a $10 Linode instance (Ubuntu 19.04, Linode 2GB: 1 CPU, 50GB Storage, 2GB RAM) running just a couple of static sites with 0 traffic (so almost idle) and a fresh installation of mosquitto + plugin.

I wrote a quick local program that runs one instance of `mosquitto_sub` and 500 instances of `mosquitto_pub` using TLS concurrently and found some interesting things:

[2020-07-11 03:04] iegomez commented on #60
Sorry for yet another late response, this week's sprint at work was a killer one!

That's odd since that error would come up when using a **single instance client** and seeing `MOVED` error, which makes no sense, I just added it to meet the interface. So either I royally screwed up the implementation or something really weird is going on. I'll give that a check.

Happy to hear local cache works pe

[2020-07-12 02:26] iegomez commented on #64
Holy shit, I just realized I wasn't hashing the cached keys! That's bad. :disappointed: It won't change the issue, but I'll get it fixed.

[2020-07-12 04:26] iegomez commented on #84
I'm adding some docs for this in a [PR](https://github.com/iegomez/mosquitto-go-auth/pull/81) I'll merge in a few minutes, but in any case there's some more info in older/closed issues like https://github.com/iegomez/mosquitto-go-auth/issues/46 and https://github.com/iegomez/mosquitto-go-auth/issues/18.

Hopefully the additions to the `README` will help in clarifying this. Thanks again for your re

[2020-07-12 04:37] #31 closed

[2020-07-13 05:41] sanhardik commented on #64
Would you mind testing this on Ubuntu 16.04.
In our case, we publish more data than subscribe. Can you turn your test script around to publish more messages ?

We had a high CPU even if only publishing and no subscribers.

What version of Mosquitto and Libwebsockets did you use ?

[2020-07-13 22:37] iegomez commented on #64
That's gonna be a bit tricky since: 1) I only have that individual machine available and it's running live sites; 2) I'm not sure they offer 16.04 in Linode any more. 3) If it had to do with the version, I don't really have the time capacity to support older systems.

I think you misread or I'm doing it right now. Maybe you mean more messages per publisher? Because I just fired one subscriber and

[2020-07-13 22:44] sanhardik commented on #64
Thanks for testing. We will try it on Ubuntu 18 with your configurations and report back.

[2020-07-13 22:45] carlgreen opened #85 "HTTP superuser URI not allowed to be empty"
Contrary to the README which states that http_superuser_uri is not mandatory, the code in backends/http.go still requires this. It appears this was intended to be changed in e3ff0e847e5281668a34504cdfaaee9bbd16cb85, but has only been done for JWT. https://github.com/iegomez/mosquitto-go-auth/blob/63d59541dfc885a85b2e033bcdd46b36b99c80a9/backends/http.go#L73-L78

Like JWT the else should probably r

[2020-07-14 02:23] sanhardik commented on #64
@iegomez
Any reason why you are not using the latest version of libwebsockets v4.x.x (https://github.com/warmcat/libwebsockets)
We are getting some issues with openssl while trying to compile libwebsockets.

Do you mind sharing the openssl version as well ?

[2020-07-14 02:27] iegomez commented on #60
@re

@rechandler12 Could you share your configuration to see if I can spot any issues?

[2020-07-14 02:30] iegomez commented on #85
Ah, indeed, a check was added to return false when the uri is empty but the options weren't updated. I'll fix this in a minute.

[2020-07-14 02:35] iegomez commented on #85
Just pushed the change to master. Thanks for reporting!

[2020-07-14 02:35] #85 closed

[2020-07-14 02:41] iegomez commented on #64
No particular reason, it's just the version available in my server packages. The version for `openssl` is `1.1.1c-1ubuntu4.1`.

If it helps, just yesterday I messed an upgrade of Linux Mint in my local machine and installed Mint 20 instead, so today I configured everything again and was able to build mosquitto and the plugin with versions `3.2.1-3` and `1.1.1f-1ubuntu2` for `libwebsockets` and `op

[2020-07-14 03:23] iegomez commented on #84
Merged!

[2020-07-14 03:23] #84 closed

[2020-07-15 15:29] vicdaner opened #86 "Error indtalling in raspberry"
Hi!

I have a problem installig the plugin in a raspberry pi 4.

1st of all, a question,
Can I use the mosquitto that is in the repositories or should I compile it?

I have try following the wiki
- download mosquitto
-build mosquitto, add a mosquitto user and set ownership for /var/log/mosquitto and /var/lib/mosquitto/
-Create service
-Install go
- export PATH=$PATH:/usr/local/go/bin:~/go/bin
- so

[2020-07-16 21:36] iegomez commented on #86
That's odd. How did you install Go?

[2020-07-19 10:41] S3phe opened #87 "Question: MySQL ACL Check with MOSQ_ACL_SUBSCRIBE"
Hello,

I have questions regarding Mosquitto 1.5 permission "MOSQ_ACL_SUBSCRIBE (0x04)" and acl via MySQL.

My clients subscribe to "#" after connect, and I gave them Read and Write permission via acl for USERNAME/#. (Pattern readwrite %u/#)

(-> So I was able to decide on my broker's acl which topics they were joining.)

It seems that this way is impossible with mosquitto-go-auth.

In this exampl

[2020-07-20 08:49] S3phe commented on #87
Update:
I found an sub-optimal workaround.

In mosquitto.conf I enabled "files" as second backend, where I created an `acl.conf` with the following content:
`pattern readwrite %u/#`

So through the "files"-backend, everyone is allowed to readwrite under their username.

But I still have to add MOSQ-ACL_SUBSCRIBE in my acl-table.

[2020-07-20 18:45] iegomez commented on #87
Hey! I'm not sure this would work and can't test it right now, but could you try this as a quick alternative to Postgres' `AND (rw = $2 or $2 = 4)`?
[code]
If that doesn't work, I'll give it a better look since it might involve doing some changes to the backend to allow for this type of queries.

As for your workaround, wouldn't just defining 1, 2 and 4 for each topic achieve the same so you don't

[2020-07-21 02:08] carlgreen opened #88 "Default keylen not used for hash resulting in no hash"
keylen is used to initialize shaSize, which is then set to sensible defaults if it is zero:

https://github.com/iegomez/mosquitto-go-auth/blob/aa487a9a05e3e4a0e4885d912c010d9d1baa99a9/pw-gen/pw.go#L25-L37

However further along keylen (which may be zero) is used in generating the hashes, when shaSize should be used:

https://github.com/iegomez/mosquitto-go-auth/blob/aa487a9a05e3e4a0e4885d912c010d9

[2020-07-21 07:40] sanhardik commented on #64
@iegomez
It works fine now after we upgraded
We tested with the following versions
Ubuntu 18.04
mosquitto version 1.6.10
go version go1.14.2
libwebsockets v4.0
Commit Version: https://github.com/iegomez/mosquitto-go-auth/commit/7dd3f5a895d8fb20def448eca9a353806b62419a

Thanks for the help.

Feel free to close the ticket.

[2020-07-21 13:53] iegomez commented on #64
I'm very glad you were able to solve it! Also glad to know it had to do with older versions.

Thanks for your patience!

[2020-07-21 13:53] #64 closed

[2020-07-21 13:56] iegomez commented on #88
Ah, absolutely, a mistake when merging old hashing utilities with newly supported ones.
Thanks for reporting!

[2020-07-22 01:40] iegomez commented on #88
Fixed! Thanks again.

[2020-07-22 01:40] #88 closed

[2020-07-22 17:50] rechandler12 commented on #60
@iegomez I'm on holiday. I'll be back on Sunday.

[2020-07-24 16:11] coldfire84 opened #89 "Updating from Mosquitto 1.6.8 version"
Hey @iegomez , I'm just upgrading my 1.6.8-based instance which is running with the original salt encoding changes, but struggling to get the config working against the 1.6.10-based deployment - when I make the switch no clients can connect, logs fill with:

[code]
Debug logs below.

I've added the hasher config to the conf file (after seeing warning ref no hasher being defined):
[code]
Note inten

[2020-07-25 00:47] iegomez commented on #89
Hey, @coldfire84!

I'm just finishing a really long work day, so I'll fully check your issue tomorrow.

But as an starter, the docs are wrong. 🤦
Hasher options need to be prepended with `hasher_` to be caught, i.e.:
[code]
I'll fix that right away, but as said, I'll look into the rest of your comment tomorrow since my brain is fried for today. 🍳

Cheers!

[2020-07-25 00:51] iegomez commented on #89
Chris, I just fixed the docs. Let me know if that works now

[2020-07-25 07:19] coldfire84 commented on #89
With the revised config it looks to be working now, will keep an eye on the service. Thanks 👍

[2020-07-28 11:16] rechandler12 commented on #60
My config:

    listener 1883
    allow_anonymous false

    auth_plugin /mosquitto/go-auth.so
    auth_opt_backends mysql
    auth_opt_cache true
    auth_opt_cache_type redis
    auth_opt_cache_mode cluster
    auth_opt_cache_host mosquitto-auth-cache-redis-cluster.mqtt.svc.cluster.local
    auth_opt_cache_addresses 10.244.0.122:6379,10.244.0.160:6379,10.244.0.188:6379,10.244.0.43:6379,10.244.0.

[2020-07-29 20:11] coldfire84 commented on #89
Upgraded service has been stable for several days, thanks again for the quick response @iegomez

[2020-07-29 20:11] #89 closed

[2020-07-29 20:14] iegomez commented on #89
That's great! I'll try to check on your other concerns anyway, and I'll reopen the issue if needed.

[2020-08-05 19:09] wasawah opened #91 "undefined reference to `mosquitto_client_id'"
I'm trying to install it on raspberry pi, but i get this:

[code]
can you help me out of this, thank you

[2020-08-06 02:17] iegomez commented on #91
Hi! As the readme states, when building for Mosquitto 1.5 or later, you need to export some flags before:
[code]
Let me know if that works.

[2020-08-06 05:11] wasawah commented on #91
Tried this before, but it doesnt change anything.  Any other advise?

[2020-08-06 13:20] iegomez commented on #91
Could you provide more details about your Mosquitto version, how you installed it, etc.?

[2020-08-06 17:55] wasawah commented on #91
cloned from git and made requirements

pi@raspberrypi:~/go/src/mosquitto-go-auth $ go version
go version go1.14.6 linux/arm

pi@raspberrypi:~/go/src/mosquitto-go-auth $ go env
GO111MODULE=""
GOARCH="arm"
GOBIN=""
GOCACHE="/home/pi/.cache/go-build"
GOENV="/home/pi/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="arm"
GOHOSTOS="linux"
GOINSECURE=""
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/home

[2020-08-06 18:02] iegomez commented on #91
I meant Mosquitto: the undefined references come from missing mosquitto headers.

[2020-08-06 18:25] wasawah commented on #91
Mosquitto:

wget http://mosquitto.org/files/source/mosquitto-1.6.10.tar.gz
tar zxvf mosquitto-1.6.10.tar.gz
make
sudo make install

V V čet., 6. avg. 2020 ob 20:02 je oseba Ignacio Gómez <
notifications@github.com> napisala:

[2020-08-06 18:31] iegomez commented on #91
Please check that headers are at `/usr/local/include`. You're looking for `mosquitto_broker.h`, but `mosquitto.h` and `mosquitto_plugin.h` should also be there.

[2020-08-06 18:44] wasawah commented on #91
pi@raspberrypi:/usr/local/include $ ls
libwebsockets    mosquitto_broker.h  mosquittopp.h
libwebsockets.h  mosquitto.h         mqtt_protocol.h
lws_config.h     mosquitto_plugin.h  openssl

they are all here :D

V V čet., 6. avg. 2020 ob 20:32 je oseba Ignacio Gómez <
notifications@github.com> napisala:

[2020-08-06 20:43] iegomez commented on #91
That's odd 😕. Could you look into `mosquitto_broker.h` to confirm the conflicting functions are there?

[2020-08-06 20:58] wasawah commented on #91
This?

/*
 * Function: mosquitto_client_username
 *
 * Retrieve the username associated with a client.
 */
const char *mosquitto_client_username(const struct mosquitto *client);

file is identical to:
https://github.com/eclipse/mosquitto/blob/master/src/mosquitto_broker.h

V V čet., 6. avg. 2020 ob 22:43 je oseba Ignacio Gómez <
notifications@github.com> napisala:

[2020-08-06 21:05] iegomez commented on #91
I don't know what's going on then. Since you're trying in it in a RPi, it may be specific to Raspbian (I'm assuming that's the OS you're running). I haven't tried installing on one since Mosquitto 1.4.x, when those functions didn't exist. So if it's not a Raspbian problem, then I have no other advise besides deleting all and trying to install fresh to see if it was a random hiccup.

[2020-08-13 10:17] yanosz opened #92 "Doc for jwt_superuser_uri, jwt_aclcheck_uri"
Nice project! I'm having fun using JWT but I'm a little bit confused regarding `jwt_aclcheck_uri` and `jwt_aclcheck_uri`. What is a HTTP-server supposed to do when called? I'm unable to spot some docs explaining the reqest and response payloads - or it's just me being confused.

I'd cool, if you could give some insights.
Thx, yanosz

[2020-08-13 16:15] HelloHungryImDad commented on #87
Hi, I am also facing this issue.

I would like to grant MOSQ-ACL_SUBSCRIBE access to topics of the form foo/# but it does not work for publishing, only subscribing.

Topic wildcard # works for all levels however.

I tried the above suggestion but it didn't work for me.

This would be really useful to have working as I'm trying to implement authentication for a Sparkplug B system and wildcard topic

[2020-08-13 22:47] iegomez commented on #92
Hey, @yanosz! Docs are at https://github.com/iegomez/mosquitto-go-auth#jwt, but I'll give you some examples on how this works.

Same as with `http` backend, the endpoint for `user`, `superuser` and `acl` needs to respond depending on the option you passed for JWT backend. So for example let's say you configured the plugin with these (and other relevant) options:
[code]
So let's start with `user` c

[2020-08-14 07:16] yanosz commented on #92
Thanks for your help! That's clarifies a lot!

Is it ok, if a file a PR for the docs?

[2020-08-14 16:12] iegomez commented on #92
Sure! I thought the docs were clear, but I'm of course biased and they seem no to be, so that'd be helpful.

Thanks!

[2020-08-20 15:02] atanasyordanov21 opened #93 "Acl check with backend Mongo always returns false when trying to read a topic with acc 1 (read only)"
Hi,

Thank you for the great plugin!

I have an issue when using mongo backend, and when I want to give read only access (1). The plugin never allows reading and always returns "Acl is false for user..." (taken from the log). Everything else is correct - username, password, topic. If I only change the topic's acc in MongoDB from 1 to 3, then the user can read the topic, but with acc 1 this is impo

[2020-08-25 00:15] iegomez commented on #93
Hi @atanasyordanov21! Since you're receiving `subscribe` from the client, then consider adding a second `ACL` that grants `subscribe` to the user, that is `acc` value 4:
[code]
Let me know if that works.

[2020-08-25 07:33] atanasyordanov21 commented on #93
Hi @iegomez

Yes, that works perfectly. Thank you for your advice!

Actually, I read once again the part of the documentation where you've described the new MOSQ_ACL_SUBSCRIBE (since mosquitto 1.5), and it's clear enough: "_**Please take this into consideration when designing your ACL records on every backend.**_", but then I was only considering the following in the MongoDB part: "_**These rules

[2020-08-25 07:33] #93 closed

[2020-08-25 14:20] iegomez commented on #93
Ah, you're right, I should update that. Thanks for the catch!

[2020-09-01 08:59] peter3099 opened #94 "Env variable on go-auth.conf"
Hi iegomez

Again thanks a lot for this repo, I've been using it for a while and it works like a charm! I was doing some things with lorawan now and I saw that chirpstack also uses your plugin, which is great.

I've been having this question for a while, is there any way to use env variable inside the go-auth.conf file? I'm using docker-compose with the latest image.  It would be great if I could

[2020-09-02 22:52] iegomez commented on #94
Hi @peter3099, and thanks for your kind words!

The thing is the plugin gets its options from Mosquitto itself and I believe introducing alternative ways of providing them would affect consistency in a poor way.

That said, do you really need to rebuild the image each time you make a change to a conf? Haven't used Docker in a while, but I thought copying the conf to the container and restarting it

[2020-09-03 07:20] peter3099 commented on #94
Hi iegomez

Thanks for the quick answer, you are right, I can just change the file no need to rebuild the image 🤦‍♂️ it would be awesome to have something that you can change parameters so all the env variables are together and one doesn't need to to be going around different files to change the configuration, especially when you have a couple of services running together.

I'll see if I can find

[2020-09-18 16:39] jklimke commented on #35
Hi, i am sorry to come back to this issue again. I am currently also having the problem that i cannot manage to get the passwords that were accepted and valid by the old mosquitto-auth-plug plugin to be hashed correctly with this plugin. Did anyone proceed in getting this to work with a specific configuration ?

This is the code that was used for encoding and that played well with the old pluging

[2020-09-20 21:16] iegomez commented on #35
Hi, @jklimke! The first thing that comes to mind is a typo in the salt encoding option, where you have a dash instead of an underscore:
[code]

[2020-09-21 10:02] jklimke commented on #35
@iegomez Thanks for your response, but fixing this (embarrassing) typo. But unfortunately nothing changed. I also tried to switch between base64 and utf-8 encoding of the salt. Is there a set of configuration parameters that is know to be compatible with the old authentication plugin ?

[2020-09-21 10:10] coldfire84 commented on #35
Config I use/ has been working for some time, directly migrated from jpmens plugin - albeit with some re-jigging/ re-mapping of user attributes in my database. Most importantly I continued to use the PBKDF2 hashes and users were unaware of the change.
[code]

[2020-09-21 10:34] jklimke commented on #35
Thanks a lot ... that worked out... it seeems that it is important to configure the hasher and the backend specific properties  BEFORE the backend properties.

Working auth config (jpmens plugin specific values):

[code]

NOT Working auth config

[code]

Maybe this should be added to the Readme if it is not noted there already.

[2020-09-21 10:40] jklimke commented on #35
I tried this and it worked when configuring the overall hasher configuration. It seems that postgres dependent hasher config is not applied to the backend as it does not work when specifying auth_opt_pg_hasher_* options only.

[2020-09-21 18:45] iegomez commented on #35
Thanks @coldfire84 and @jklimke, I'll look into any issues regarding specific backend hasher options.

[2020-09-22 22:29] iegomez opened #95 "Fix specific hashing options"
When building a hasher we may pass a backend to check for specific options. For Postgres, docs say the prefix should be `pg`, just as in other Postgres related options, but here we are passing `postgres` instead, resulting in specific hasher options being discarded: https://github.com/iegomez/mosquitto-go-auth/blob/master/go-auth.go#L257
This may be true for other backends too.

The solution would

[2020-09-22 22:30] iegomez commented on #35
@coldfire84 @jklimke Indeed I found a bug: I was passing `postgres` instead of `pg` as the prefix to build the hasher from specific options.
I'll have to check other backends ang get some time to do the fix, so here's an issue documenting this in the meantime: https://github.com/iegomez/mosquitto-go-auth/issues/95

[2020-09-24 08:39] ralight opened #96 "Upcoming changes to Mosquitto plugin interface"
Hello,

Thanks for spending your time working on this, it's a valuable project! I thought you ought to be aware that the plugin interface is changing in the upcoming 2.0 release of Mosquitto. The older versions will remain supported, but there is a change that you should make. The documentation for `mosquitto_auth_plugin_version()` stated that you should return `MOSQ_AUTH_PLUGIN_VERSION`, which yo

[2020-09-24 18:53] iegomez commented on #96
Hey, @ralight! Thank you very much for the heads up. I'll follow up the release to make the needed changes.
🙇‍♂️

[2020-10-03 04:55] iegomez commented on #96
@ralight Do you happen to have an ETA for the 2.0 release? Also, I'd be very interested in checking out the upcoming changes you mention to start planning how to support them, are there any docs you can point me to for those?

I was meaning to ask you about both but had a super busy and exhausting week at work with a global production rollout, and will probably be focused on that for a few days to

[2020-10-03 05:06] iegomez commented on #86
Hey, @vicdaner. It's been some time since your reported this issue, and since there's been no follow up I'm gonna close it for the time being.
If you did find a fix for your issue, or have any more details, questions, etc., feel free to reopen the issue.

Cheers!

[2020-10-03 05:06] #86 closed

[2020-10-03 05:10] iegomez commented on #87
Hey, @S3phe. Did you ever give the suggestion a try? Just wanna know if there's something I need to do or it's already been resolved. If it was, please share results if you can/want, and feel free to close the issue afterwards. I not, no worries, I'll wait a few days and close it later.

Cheers!

[2020-10-03 05:11] iegomez commented on #91
Hey, @wasawah, did you have any luck after reporting the issue? Is there something I can do to help you?
If you did get it to work, could you share any results and then close the issue?

Cheers!

[2020-10-03 05:13] iegomez commented on #92
Hey, @yanosz, thanks again for your interest in contributing. I understand if you couldn't find the time to do it and thus will close the issue for the time being. Feel free to reopen it for any discussion, or just file a PR with the changes if you get any time.

Cheers!

[2020-10-03 05:13] #92 closed

[2020-10-03 06:24] iegomez commented on #60
@rechandler12 I'm so sorry I never realized you posted your config, I turned off notifications without explicit mentions some months ago since I use my this same account for work and I was getting too much irrelevant notifications from little changes on work repos, so I never got an email. :facepalm:
As I've mentioned in other issues and PRs, the past couple of weeks have been very time consuming,

[2020-10-03 22:44] ralight commented on #96
This month. I'm still working on the docs, but you can see the rough state of play in the `develop` branch and look at mosquitto_broker.h and mosquitto_plugin.h.

Honestly though, all you need to do for now is to change `mosquitto_auth_plugin_version()` so that it returns `4` and it will work with 1.6.12 and earlier, and with 2.0. I just don't want your plugin to break if someone compiles it again

[2020-10-04 00:25] iegomez commented on #96
Gotcha! :bowing_man:

[2020-10-05 15:33] edemilson opened #98 "Build plugin error"
Hi,

I try to compile plugin in ubuntu 20.04, but whent run make I receive that error:

\# github.com/iegomez/mosquitto-go-auth/backends
backends/redis.go:104:14: cannot use clusterClient (type *redis.ClusterClient) as type RedisClient in assignment:
        *redis.ClusterClient does not implement RedisClient (wrong type for ReloadState method)
                have ReloadState(context.Context)

[2020-10-05 20:26] iegomez commented on #98
@edemilson Looks like a wrong version of the redis client, but not sure why. Maybe running `go get -u github.com/go-redis/redis/v8` explicitly before making does the trick.

[2020-10-08 09:28] peter3099 commented on #59
Hi iegomez

[2020-10-08 09:38] peter3099 commented on #59
Hi iegomez

Sorry for reopening this, so far the superuser disable has been working perfectly, but I'm having issues with the ACL check, it's happening all the time on the backend, and my file is basically any user can access anything because I have different brokers. If I erase the ACL file since I'm running files and jwt would that deny access to all of them? any chance to bypass that or disable

[2020-10-09 14:09] iegomez commented on #59
Hey, @peter3099, sorry for the late response. Sadly, no, it's not possible to bypass it right now since that's the exact behavior we prevented:
[code]
The problem lies in tying the existence of an all path to the decision to check them, which is not ideal as it prevents your use case:
[code]
So for this to work a new option, e.g. `auth_opt_files_disable_acl` would be needed. I'll consider adding i

[2020-10-16 20:13] arctic-alpaca commented on #91
I see the same issue trying to build a docker container on Rasperry Pi using the supplied Dockerfile after replacing `.linux-amd64.` with `.linux-armv6l`.

[2020-10-17 18:32] iegomez commented on #91
As per this recommendation from Roger in https://github.com/iegomez/mosquitto-go-auth/issues/96, the latest version (1.1.0) of the plugin returns 4 to support both current and upcoming version of Mosquitto. I don't know the details on why the older function won't work anymore, so I can only recommend trying with Mosquitto's latest version or using an older release of the plugin (1.0.0 should work,

[2020-10-20 07:49] arctic-alpaca commented on #91
Creating a container with plugin v.1.0.0 and Mosquitto 1.4.15 seems to work, thanks!

I can't get the plugin compiled with a >=1.5 version of Mosquitto in any way. Every attempt results in the previously stated errors.
Do you have any thoughts about where the problem could be? I'm not sure whether this is an arm specific issue. This is pure speculation, maybe the cgo flags aren't processed correct

[2020-10-21 12:14] arctic-alpaca opened #100 "Cache behavior for topics that are constantly active within the cache expiration time"
Hello,

I'm using version 1.0.0 of this plugin and version 1.14.15 of Mosquitto in a docker container on a Raspberry Pi with redis as cache.
The plugin is used for authentication and authorization with the ChirpStack.

I noticed, when testing with very frequent published messages, that the cache doesn't expire even though cache expiration is set.
I'm not familiar with go, but I think this is cause

[2020-10-22 01:13] iegomez commented on #91
@arctic-alpaca I'm glad it worked! I'm not sure what might be going on with the RPi since I haven tried in one since 1.4, maybe may be related to cross compilation? BTW, have you ever tried building mosquitto >= 1.5 + plugin directly in the RPi?

Anyway, I found these resources in cse they may be of any help:
- https://medium.com/@chrischdi/cross-compiling-go-for-raspberry-pi-dc09892dc745
- https:

[2020-10-22 01:29] iegomez commented on #100
@arctic-alpaca Indeed, the cache is refreshed because it aims for the case of say having topics published with a frequency of ~15 seconds +- a couple of seconds, you can avoid having to hit your underlying store every couple of messages by setting the expiration to something slightly higher than that, ensuring quick availability for your frequent cases while not automatically granting for the less

[2020-10-22 06:23] arctic-alpaca commented on #100
While this does reduce load on the backend significantly, it also introduces a, in my opinion, quite problematic security issue. This behavior prevents an admin from revoking access to any user who publishes/receives messages with a frequency higher than the cache expiration. At least without restarting the service with `cache_reset true`.

I think the best approach would be to change the default

[2020-10-22 06:41] arctic-alpaca commented on #91
I have tried cross compilation with docker buildx and creating the docker container directly on the RPI, both approaches lead to the described error with version 1.6.12 of Mosquitto and version 1.1.0 of this plugin.

The cross compilation done by docker buildx should be relatively similar to native compilation on arm.

[2020-10-22 12:32] iegomez commented on #100
@arctic-alpaca Yeah, I know there's a security issue in the approach, was asking more about what you were envisioning besides that. Having per backend options is very tricky and only possible when using prefixes, otherwise we don't know which backend options we should look at to refresh the cache or not. Let's keep it simple for now and just add an `auth_opt_cache_refresh` option to signal whether

[2020-10-22 12:38] iegomez commented on #91
@arctic-alpaca Sorry I can't help much there, I don't have means to try this. On another topic, regarding you having to go back to release 1.0.0 to compile against Mosquitto 1.4.x, I'll try to add an optional build so you may use latest version. Will keep you posted.

[2020-10-22 12:47] arctic-alpaca commented on #100
I'm not sure having a security issue in the default settings is the right aproach. To put it bluntly, my expectations when using a cache don't include being unable to revoke access in some scenarios.
I understand that changing default behavior can be difficult but as this impacts security, I think it is warranted.

If you don't want to default `auth_opt_cache_refresh` to `false` until you release

[2020-10-22 12:50] arctic-alpaca commented on #91
That would be great, thank you!

I'm out of ideas what to try here. Since using Mosquitto 1.4.x currently works for me, I'll leave it at that. If I find any new information, I'll add it here.

[2020-10-22 13:16] arctic-alpaca commented on #91
I thought I'd add a description on how I created the working docker container and how the error can be reproduced:
I'm using Windows 10 as host and Debian buster inside virtual box, but this should work on any debian amd64 system.

1. install docker https://docs.docker.com/engine/install/debian/#install-using-the-repository
2. make buildx availabe `export DOCKER_CLI_EXPERIMENTAL=enabled`
3. add us

[2020-10-22 23:10] iegomez commented on #100
@arctic-alpaca After some thought, yeah, you're right: let's play it safe and default to not refreshing records.
Here's a PR in case you wanna take a look before I merge it: https://github.com/iegomez/mosquitto-go-auth/pull/101

[2020-10-22 23:36] #95 closed

[2020-10-22 23:43] iegomez commented on #96
@ralight Now that I've got some time to check, I saw a user couldn't compile against 1.4.x because I'm explicitly returning `4` instead of `MOSQ_AUTH_PLUGIN_VERSION`, which reasonably breaks for older interface, so he had to revert back to the previous version of the plugin. Would it be enough to check if `MOSQ_AUTH_PLUGIN_VERSION` exists and define it to `4` if not to continue supporting older ve

[2020-10-22 23:52] iegomez commented on #91
@arctic-alpaca Thanks for sharing that description, it'll surely be useful for anyone following your approach!

On the plugin version issue, I just created this PR which I believe fixes it: https://github.com/iegomez/mosquitto-go-auth/pull/103
Nevertheless, I'm waiting on comments in https://github.com/iegomez/mosquitto-go-auth/issues/96 to see if thereś anything else that needs consideration.

Ch

[2020-10-22 23:53] #87 closed

[2020-10-23 08:04] arctic-alpaca commented on #100
I'm glad you decided this way, thank you very much for your quick response and your work on this plugin! The PR looks good to me, but I'm not familiar with Go.

[2020-10-23 10:06] sirockin opened #104 "Clarify/Specify 'Known Bugs' in Custom Implementation"
Hi @iegomez, thanks for maintaining this repo.

I am interested in using the `Custom` implementation but am obviously worried about the 'known bugs' referred to in the readme. Do you have any further information on these - ie what they are and how to reproduce them?

Thanks!

[2020-10-23 17:39] iegomez commented on #104
Hey, @sirockin! Go's docs for plugin used to say exactly that without specifying what those bugs were, not it only lists supported platforms and asks to report issues: https://golang.org/pkg/plugin/
I'll change the readme to reflect that.

[2020-10-23 22:17] #100 closed

[2020-10-23 22:21] iegomez commented on #104
Already added the correction to the readme. Thanks again!

[2020-10-23 22:21] #104 closed

[2020-10-23 22:23] ralight commented on #96
What a mess, sorry. I'm still surprised when people are running that old version.

How about something like this?

[code]

[2020-10-23 23:04] iegomez commented on #96
@ralight  So v2.0 returns 5? Ha, much to figure out yet, but I'll follow your advice in the meantime. Thanks again!

[2020-10-23 23:25] ralight commented on #96
Right, I've just changed it so that MOSQ_AUTH_PLUGIN_VERSION will only ever be 4 from now on, because the interface has changed to be more generic not just auth/acl. So MOSQ_PLUGIN_VERSION will be 5 onwards, and in fact I could have just not mentioned anything to you at all and it would just work. So sorry again for messing you about.

[2020-10-23 23:42] sirockin opened #105 "http backend fails if optional option`auth_opt_http_superuser_uri` is not provided"
The `auth_opt_http_superuser_uri`option is shown as optional in README.md but the plugin fails if it is not specified.

/conf/conf.d:
[code]

Result of a docker pull:
[code]

Once I added the `auth_opt_http_superuser_uri` option and implemented the endpoint, the backend worked fine.

[2020-10-23 23:44] #96 closed

[2020-10-23 23:48] iegomez commented on #105
That's really odd, it explicitly asks for a `get user_uri` nut it doesn't for `superuser` (https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/http.go#L66):
[code]

[2020-10-23 23:49] iegomez commented on #105
Ah, I see what's the issue, you're building a very old version:
[code]

[2020-10-23 23:54] iegomez commented on #105
My bad though @sirockin, `docker-compose.yml` points to that old version, I'll update it with 1.2.0 that I just released.

[2020-10-24 00:02] iegomez commented on #105
Looks like the image is built by now, @sirockin, so have a look and let me know if anything's off.

[2020-10-24 00:03] iegomez commented on #91
@arctic-alpaca I already merged cache and mosquitto version changes and released them as 1.2.0, so let me know if it works after giving it a try,

[2020-10-24 00:24] sirockin commented on #105
Wow you respoonded to that quickly :-) I started looking at raising a PR, saw it had been fixed months ago, then went to bump the version in docker-compose and found that you'd already done it!

[2020-10-24 00:28] sirockin commented on #105
Yes just tried it out - all good now, thanks!

[2020-10-24 00:28] #105 closed

[2020-10-24 12:04] arctic-alpaca commented on #91
Thank you very much! Compiling and using v1.2.0 with Mosquitto 1.4.15 now works.

[2020-10-24 21:16] #67 closed

[2020-10-27 07:54] sirockin opened #106 "Close client connection on JWT expiry"
This issue follows and summarises a discussion in #90 about handling of JWT expiry times.

Currently the mosquitto plugin interface does not provide a mechanism for us to feed back an expiry time for a user, either when the user is first queried or when the expiry time is reached. This means that our only means to enforce the expiry time is to stop sending subscribed data and refuse further subscr

[2020-10-29 08:53] sirockin opened #107 "Files backend: Fatal error if ACL contains user not listed in password file"
When using the files backend, if the ACL contains a user not listed in the password file, the plugin returns a fatal error and mosquitto shuts down:
[code]

This is different to 'standard' ACL/password behaviour for mosquitto, which silently ignores the ommission.

I would argue that this should not be a fatal error (by all means log a warning though) for the following reasons:

1. The admin may w

[2020-10-29 13:34] tercelcn commented on #91
I use ubuntu 18.04, go 1.15.3 , mosquitto 1.6.12, linux-amd64 is ok.
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/john/.cache/go-build"
GOENV="/home/john/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOINSECURE=""
GOMODCACHE="/home/john/go/pkg/mod"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/home/john/go"
GOPRIVATE=""
GOPROXY="https://goproxy.io,direct"
GOR

[2020-10-29 22:45] #107 closed

[2020-10-29 22:49] iegomez commented on #107
Sorry about that, @sirockin , and thanks for noticing. Already fixed in 1.2.1.

Cheers!

[2020-10-30 10:35] ShivamJoker opened #110 "ACL is not working at all with PostgreSQL"
Hello, I have a table in my db for ACL but the rules aren't working at all
here is the ACL query and other config

[code]

The user auth seems to be working fine, but ACL isn't working at all
Here is my db
[code]

Running pub sub like this
[code]
and the message gets published

Please help thanks!

[2020-10-30 13:46] iegomez commented on #110
@ShivamJoker The backend gets `username` and `acc` from Mosquitto for the check, and Postgres backends tries to use both in the query. Since yours doesn't mention the second one, it fails. If you don't wanna check `acc`, then just do something like `$2 = $ 2`, e.g.:
[code]

[2020-10-30 14:21] ShivamJoker commented on #110
Actually I tried same as example then I removed the ```rw = $2``` to check if it works like that or not, but I was still able to publish messages.

But now I am noticing that we are able to pub/sub but it seems messages are not reaching if I am not subscribed to topic specified is this the default behaviour ?

[2020-10-30 14:28] sirockin opened #111 "Provide an ACL File JWT backend."
In https://github.com/iegomez/mosquitto-go-auth/pull/90, @pmous proposes a syntax to allow users map JWT claims to topic read/write/subscribe permissions.

It was suggested that the syntax may be difficult to understand and too specific to his use case. I propose the following alternative which extends the current ACL syntax used in the Mosquitto project and emulated in the Files backend of this p

[2020-10-30 14:32] ShivamJoker commented on #110
Okay I guess this was issue with mosquitto_pub/sub client cause this all seems to be working fine with MQTT.js

[2020-10-30 21:02] iegomez commented on #110
@ShivamJoker Can this be closed then?

[2020-10-30 21:03] iegomez commented on #91
Sorry, @tercelcn, it's a bit hard to parse that. How did you try to build the plugin and what version of it, or was it the main branch?

[2020-10-30 23:46] iegomez commented on #59
@peter3099 Could you remind me the desired output here? That is, what's your configuration, what's the exact issue and what would you desire to happen instead? I was looking to implement this but wanna double check before doing anything.

[2020-10-31 02:43] ShivamJoker commented on #110
Yes sure and thanks for this amazing library

[2020-10-31 02:44] #110 closed

[2020-10-31 11:53] peter3099 commented on #59
Hi iegomez

The idea was to be able to disable ACLs or to have a way to bypass them. For me is enough to authorize the user to use MQTT and basically all the user on that broker have # for read and write, so the ACL request to the backend is always 200 if the user exist. In the future I would like to implement more ACLs but I just wanted to know  if there was a way to disable it so fewer request g

[2020-10-31 12:09] sirockin opened #113 "Enhancement: Option to validate JWT before passing to remote backend"
Currently `auth_opt_jwt_secret` is ignored when `auth_opt_jwt_remote` is set to `true` so it is left to the remote endpoint to validate the token. The expiry time is also not checked. It is left to the implementer of the remote interface to carry out this validation.

I understand that under some circumstances that may be useful, but since the JWT validation code is already included in the plugin,

[2020-10-31 12:28] sirockin opened #114 "Enhancement: Optimise number of http requests by allowing http and remote jwt backends to return an ACL"
I raised this in #90 and I realise it would not be trivial to implement but thought it may be useful to flag up here as a possibile enhancement.

Currently a call is made to the http backends each time a user connects, then each time a publish/subscribe/read is carried out. In most cases, the access control rules are static for the duration of a connection so we could limit the number of http requ

[2020-11-01 21:09] iegomez commented on #113
Hey, @sirockin! Thanks for opening the issue. I'll start with the bad news and then elaborate, so please go all the way before judging the answer. :sweat_smile:

Sadly, I don't agree with the approach. There are two main points to the remote option, which are delegating both the secret and all the logic to the third service: they may skip or do whatever they want. I do understand the need and the

[2020-11-01 21:19] iegomez commented on #111
I already commented a bit on the other 2 issues for JWT, but this one deserves it's own response as I believe having a files like interface for JWT is a really good idea (sorry if my criteria looks different, I'm just going with some sort of _feel_ on how would these changes fit and work in the general picture). I'm totally on board with extending JWT to allow checking rules like static files do,

[2020-11-01 21:30] iegomez commented on #59
Gotcha, @peter3099! Just wanted to make sure the idea was to grant access by default when disabling checks option is set, without needing to check if Files is the only backend. I'll get on it during the week.

[2020-11-02 11:53] pmous commented on #111
I think extending the ALC syntax is indeed a better solution. Hope it is not too much work, though.
Somre remarks:
I looked at the manpage and the syntax is a little different,
`pattern [read|write|readwrite] <topic> where <topic> might have %u/%c`
So lets change:
• only use one %.
• pattern instead of topic in front of it.
• lets support %c and %u for client-id resp. user id.
So:
`pattern read my

[2020-11-02 12:10] pmous commented on #114
This would not work for a normal cache-mechanism. Caches have an expire. After that, the data would be gone and the checkACL code has no way to retrieve that info, since it is the getuser's responsibility.
What I meant was just turn on caching and be done. Once cached, repeated acl checks don't end up doing a http call, until the cache is invalid. Then the code "knows" how to retrieve fresh data.

[2020-11-02 12:23] pmous commented on #113
@iegomez I do appreciate your efforts, but for me a JS interpreter is a bit far from the point. I do get the advantage: javascript is for a lot more people understandable. However, the things we want to do, just having some simple placeholders and generic claim handling, is not that big a deal and are perfectly writable in go-lang. I feel strongly that the last idea, extending the acl-syntax (see

[2020-11-03 22:52] iegomez commented on #114
Yup, definitely agree with @pmous here!

[2020-11-03 22:58] iegomez commented on #113
@pmous Sure, I feel you and loved that elephant expression. 🐘

But I'm not actually suggesting the JS interpreter as a solution to the particular issues of skipping expiration or extending the syntax, it's just something that occurred to me when you mentioned it might be hard for people to fill in the blanks in the custom plugin interface that's available, and thought I'd mention it here. I'd say

[2020-11-04 08:09] pmous commented on #113
Cheers, no hurries for me. Take your time.

[2020-11-05 14:45] suculent opened #115 "Question: legacy mosquitto hasher support"
Hello, this looks really neat. Is it possible to use original password file from mosquitto right now?

Or would it require adding legacy hasher somewhere about here? https://github.com/iegomez/mosquitto-go-auth/blob/master/hashing/hashing.go

I've never written anything in Go, but this could be something good to start.

[2020-11-05 22:03] iegomez commented on #115
Hey, @suculent! Sadly, no, it's not possible: `pw` utility generates hashes using `PBKDF2`, `Argon2id` or `Bcrypt`, none of which match Mosquitto's hash for passwords (https://github.com/eclipse/mosquitto/blob/master/src/mosquitto_passwd.c).

A somewhat easy way to support it would be adding a Mosquitto hasher that expects an option with the path to `mosquitto_passwd`, and just runs an external co

[2020-11-06 03:36] iegomez commented on #113
@pmous @sirockin I went along adding the JS alternative for 3 reasons:

- It was bloody easy to add a runtime package to just execute scripts, so why not (with the caveat that I need to add a VM pool to improve it after some testing).
- It forced me to refactor the JWT package to create a `checker` interface that makes it a whole lot cleaner. Now instead of checking a binary `remote` option, we ca

[2020-11-06 08:39] sirockin commented on #113
Hi @iegomez, @sirockin

Thank you again for your quick responses and sorry for my slow one. The JS backend sounds like a great addition - I'll try to find some time this weekend to have a look at it.

Regarding this particular issue, you say:

I'm curious about why you think enabling the `auth_opt_jwt_secret` *as an option* for implementers of the remote backend would work against this. It's not r

[2020-11-06 08:56] pmous commented on #113
Great! I think it is a great option for a lot of people to quickly fix a particular problem. Specially when I hear your refactoring makes it easy to implement, I say go for it!
For me it is nog very interesting. In our application mqtt is a very crucial part and for me writing some go-lang code sounds more reliable and better in terms of performance.

That is great news! It makes me even more conv

[2020-11-06 14:42] iegomez commented on #113
@sirockin It's mostly because it means sharing responsibilities, e.g. now you need to get secrets synced or you end up with clients circumventing any remote change. I'm not against having some local default and a remote fallback (or vice versa), but that needs some more thinking and work than just adding the option.

Glad to hear it's not a blocker though, that gives us time to find a good solutio

[2020-11-06 23:06] suculent commented on #115
Hello, I've just realized that (as a result of security misconfiguration) I'll be able to recover original passwords for the most critical clients... so there's no hurry.

It would be nice to support old password format for migrations in cases where the security has been proper.

[2020-11-07 09:22] sirockin commented on #113
Sorry I'm not really clear what you mean by this, or how this change fundamentally alters any of the current design philosophy. With the new option, I'd have the choice whether to:
1. As present, not specify the option, so carry out validation on the backend
2.. Implement the option so let the validation be carried out in the plugin (as currently for the DB side)

I really don't see where a confli

[2020-11-07 15:19] sirockin opened #117 "Files backend acl `read` keyword not working"
Using the latest docker image (1.2.0) and the following ACL, any subscription I attempt from that user is rejected by the backend.

[code]

If I remove the `read` keyword, the subscription works (but obviously so do publishes!).

[2020-11-07 15:20] sirockin opened #118 "Files backend `read` keyword in ACL not working"
Using the latest docker image (1.2.0) and the following ACL, any subscription I attempt from that user is rejected by the backend.

[code]

If I remove the `read` keyword, the subscription works (but obviously so do publishes!).

[2020-11-08 19:40] MaxKayan opened #119 "Unexpected ACL access mode on PostgreSQL backend"
Hello! First of all, thanks for this great plugin. 👍 Trying to set it up with Django PostgreSQL right now, and having some troubles with understanding the ACL. Specifically, i am getting unexpected numbers in the second argument (access permission)

So, the project doc says:
[code]

So in same explanation, `2` is described first as read-write, and then it's write-only.

Now, what i receive in Post

[2020-11-08 23:44] iegomez commented on #113
Hey, @sirockin, thanks again for your comment! So OK, let's say we add the option, what's the API now? Before we just sent the token and Mosquitto provided values, should we now send all the claims or should there be an option to set which get sent? Encoded how? If the plugin is set to skip expiration, does `expiry` need to be forwarded to the remote service? And so on...

My point was it's not as

[2020-11-10 08:19] sirockin commented on #113
Hi @iegomez, thanks for your reply.

Exactly the same as previously, why would it need to change? Sooo...

Yes, why not?

I don't see why this would be desirable or necessary.

Exactly as previously

Yes, why not?

I understand your worries about over-complicating things and making unnecessary changes to the API. I honestly don't think anything would need to change, other than enabling the option

[2020-11-11 01:20] iegomez commented on #118
@sirockin Could you try with a specific topic or adding a `subscribe` rule too? That should work fine.

I can't recall the specifics, but a couple of years ago, when `MOSQ_ACL_SUBSCRIBE` (4) value for `acc` was introduced, it was recommended that `subscribe` access was granted either if the specific rules was passed, or if `read` access was given for topics other than general `#` wildcard. Notice

[2020-11-11 01:21] iegomez commented on #117
Duplicate: https://github.com/iegomez/mosquitto-go-auth/issues/118

[2020-11-11 01:21] #117 closed

[2020-11-11 01:23] iegomez commented on #115
Yeah, the biggest issue with supporting it is that's not a common hasher strategy but a very custom one, meaning it's not trivial to implement and could easily change. I will look into supporting the option I mentioned.

[2020-11-11 01:34] iegomez commented on #119
Hi, @MaxKayan, and thanks for your kind words.

Sorry, that's bad wording from some very old docs, I'll fix it.

If you check the Readme, you'll see the ACL access values: https://github.com/iegomez/mosquitto-go-auth#acl-access-values. Indeed `4` stands for subscription, which is sent from a client at the moment it subscribes to a topic. Notice this is not the same as `read`, with value `1`, which

[2020-11-11 01:46] iegomez commented on #113
Nah, no worries, just wanted to clear possible issues out. It looks you were aiming for a solution as simple as possible, e.g. just validate the token and forward whatever was parsed from it, no fancy processing options. I think I can throw that option along with https://github.com/iegomez/mosquitto-go-auth/pull/116 to leverage the clean up it brings.

[2020-11-11 08:20] sirockin commented on #118
Will do - and sorry for the duplicate, not sure what happened there.

[2020-11-13 06:36] MaxKayan commented on #119
Yes, that does help, thanks a lot!

[2020-11-13 06:36] #119 closed

[2020-11-13 21:07] mkohns commented on #91
Hi, I stumbled across this issue and debugged a bit. I still do not know the root cause for mosquitto-go-auth no building on raspberry pi - but i found a dirty solution for building this setup for rpi4

ENV MOSQUITTO_VERSION=1.6.10
ENV GO_VERSION=1.13.8

The reported linker error from @arctic-alpaca can actually be ignored. The reference is present - no idea why cgo has trouble finding it.
With th

[2020-11-14 20:10] mrdc commented on #115
Mosquitto hash is based on crypt(3) - it’s not so hard to implement.

[2020-11-15 10:58] tercelcn commented on #91
@mkohns Thanks!!!
My env is ubuntu 18.04, go 1.15.3 ,mosquitto 1.6.12 and go auth 1.1. I can successfully build linux/arm when I modify
`export  CGO_LDFLAGS="-shared -Wl,-unresolved-symbols=ignore-all"`
I modify "go build  -x -buildmode=c-shared -o go-auth.so", I saw that cgo attach "-pie" to link parameters when env is   linux/arm.

[2020-11-15 14:53] mrdc commented on #91
@iegomez @tercelcn
I can confirm that tercelcn’s method works fine: I’ve successfully complied the latest mosquitto-go-auth with go1.15.5 on RPi3b+ running Raspbian Buster (10). Also the latest mosquitto 1.6.12.
Will test later if it works as expected.

[2020-11-15 16:10] mrdc opened #125 "Error: An auth_opt_ option exists in the config file without an auth_plugin"
Hello,

I'm having the issue with the plugin (v1.3.1) - on start mosquitto fails with these errors:
[code]

When I remove  `mosquitto-go-auth.conf` from `conf.d` mosquitto fails with this error: `FATA[2020-11-15T16:04:15Z] backends error` That's expected, because no config is provided, but it's not clear why it fails with correct backend settings in `/etc/mosquitto/conf.d/mosquitto-go-auth.conf`

[2020-11-16 01:27] iegomez commented on #115
Yeah, it's based in but it's not exactly crypt(3), ergo non trivial, nor fixed. If it ever changes, then it's one more thing I have to maintain.
PRs are very welcome by the way. 🙂

[2020-11-16 01:46] iegomez commented on #125
Hey, @mrdc! I was away during the weekend so couldn't check, but will take a look during the week. Thanks for reporting it.
Cheers!

[2020-11-16 02:00] iegomez commented on #91
Nice! Let's fix it during the week so it' generally available. Thanks @mkohns for figurin it out!

[2020-11-16 11:19] mrdc commented on #115
Unfortunately, my solution is for Python :/
In general it's SHA512(SHA512(password)+salt). Then make the final string to write to password file: $6$%s1$%s2 where %s1 - random salt, %s2 - SHA512 hash, $6 means SHA512, $5 - SHA256.

[2020-11-16 14:49] suculent commented on #115
Why would it change? It would be breaking backwards compatibility in MQTT which is a reason for this question.

[2020-11-16 14:53] iegomez commented on #115
Well, I've had to deal with changes in Mosquitto before and am sure I'll have to do again. Anyway, I'll probably add direct support by implementing their hashing when I get the time.

[2020-11-16 17:05] grafolean opened #126 "auth_opt_cache_refresh not working"
Hi @iegomez!

First of all, thank you for providing this plugin, appreciate it!

Just noticed a small typo which means that option `auth_opt_cache_refresh` does not work:
[code]

Note the missing `e` in `"cache_rfresh"`.

Let me know if you would prefer a PR, happy to make it.

[2020-11-16 17:27] iegomez commented on #126
Hi, @grafolean, and thanks for catching that typo! PR works for me, but if not I'll fix it later today.

[2020-11-16 17:45] grafolean opened #127 "Acl caching not working"
Hi,

ACL caching seems to not be working, I am getting _lots_ of repeated requests on the backend.

If I turn on logging, the relevant part shows that while ACL response is getting cached, it is later not found:
[code]

Not sure if it matters (I have zero experience in Go :) ), but I did notice what might be a mismatch between parameters in the tests and the code:

https://github.com/iegomez/mosqu

[2020-11-16 17:56] #126 closed

[2020-11-16 18:24] grafolean commented on #127
I see now that the topic is different... Sorry for the noise. :-/

Unrelated, but might be interesting: while debugging, I noticed that the saved record has some trailing garbage:
[code]

Again, sorry for the noise, feel free to close this.

[2020-11-19 00:05] robinschneider opened #129 "MongoDB Connection Error"
Hello, every time I try to connect with my user I get the same error:

`level=debug msg="Mongo get user error: connection() : auth error: sasl conversation error: unable to authenticate using mechanism \"SCRAM-SHA-1\": (AuthenticationFailed) Authentication failed."`

I read about the same Issue here https://github.com/iegomez/mosquitto-go-auth/issues/57 but it was marked as solved and merged and I

[2020-11-20 12:38] pikkuhanuristi commented on #125
Hey,
I faced exactly the same problem!
I'm mosquitto rookie, so might it be configuration mistake?

1605875838: Loading config file /etc/mosquitto/conf.d/listener_mqtt.conf
1605875838: Loading config file /etc/mosquitto/conf.d/mosquitto-go-auth.conf
1605875838: Error: An auth_opt_ option exists in the config file without an auth_plugin.
1605875838: Error found at /etc/mosquitto/conf.d/mosquitto-go

[2020-11-20 22:34] iegomez commented on #129
Hey, @robinschneider! Sorry for the late response, this has been a busy week and I haven't been able to dedicate any time to the plugin. I'll try checking when I get some things off the backlog.

Cheers!

[2020-11-22 10:11] #127 closed

[2020-11-22 23:52] robinschneider commented on #129
@iegomez Nevermind, I just failed.

[2020-11-22 23:52] #129 closed

[2020-11-25 23:18] iegomez commented on #125
@pikkuhanuristi @mrdc The problem is you're setting `auth_plugin` in the general `mosquitto.conf` file insteaf of the plugin's `conf.d/go-auth.conf` one (or wherever/whatever you placed and named it).
Not sure why Mosquitto parses confs in that particular order, but I was able to reproduce the issue and fix it by just moving the `auth_plugin` option to the plugin's file.

[2020-11-25 23:33] iegomez commented on #118
@sirockin Could you confirm that works so I may close this?

[2020-11-25 23:54] iegomez commented on #125
I believe this changed in Mosquitto's 1.5.5 version, so the Readme instructions are being fixed in https://github.com/iegomez/mosquitto-go-auth/pull/116.

[2020-11-27 01:54] #125 closed

[2020-11-27 03:49] iegomez commented on #59
@peter3099 I'm working on this feature right now, but it turned out not to be so easy. It's fairly easy to disable `superuser` checks, even on a per backend basis, since you can always return `false` by default and wait till some backend returns `true`.

For ACLs, not so much. It's trivial to add a global `skip_acls` option, but it gets tricky when accounting for individual backends: any skipping

[2020-11-27 08:48] peter3099 commented on #59
Hi @iegomez no problem at all, I know is the end of the year and we are all busy with different things plus this year has been special... So far what you have done with this plugin is amazing so I can only say thank you. Whenever you have some time for this great, it is working so is not critical. Thanks in advance! All the best

[2020-11-27 14:03] mrdc commented on #125
@iegomez
Hello, thanks for info.
BTW, it's also a good idea to specify in readme that `password_file` option should be disabled in `mosquitto.conf` when using files backend, otherwise mosquitto also uses this file together with `psw_go_auth` file in my case.

[2020-11-27 14:18] mrdc opened #131 "Password file and ACL are not reloaded on SIGHUP when using files backend"
Hello,

Unfortunately, password file and ACL file are not reloaded on SIGHUP when using files backend. Files are reloaded only on mosquitto restart.
By default mosquitto reloads password file, acl file and mosquitto.conf on SIGHUP, so there is no need to restart mosquitto process.
Also when I remove ACL for a user in ALC file, user still has access to all topics - is it some sort of ACL caching?

[2020-11-27 22:37] iegomez commented on #131
I'll need to check if Mosquitto passes the signal along so files may be reloaded.

For you second topic, are you using the plugin's cache? There are separate options to set expiration times for user and ACL checks.

[2020-11-30 12:32] mrdc commented on #131
My mosquitto-go-auth settings:
[code]

[2020-12-01 11:06] devpack42 opened #132 "Documentation is wrong for option pg_sslmode require"
The option for using sslmode require for postgres is documented wrong. The documentation says: pg_sslmode require but this doesn't work. In the source code file the option is compared against sslmode require**d**. If you set the option pg_sslmode require**d** it works.
Please adapt the documentation or fix the comparision of the sslmode.

[2020-12-02 02:21] iegomez commented on #132
@devpack42 Thanks for catching that typo, already fixed the code comparison and pushed to master.

Cheers!

[2020-12-02 20:25] #132 closed

[2020-12-06 11:40] wasawah opened #133 "Fatal"
Got new error, after building as @tercelcn suggested

pi@raspberrypi:~/mqtt/mosquitto-1.6.10 $ mosquitto -c mosquitto-auth.conf
1607254607: mosquitto version 1.6.10 starting
1607254607: Config loaded from mosquitto-auth.conf.
1607254607: Loading plugin: /home/pi/mqtt/mosquitto-go-auth/go-auth.so
1607254607:  ├── Username/password checking enabled.
1607254607:  ├── TLS-PSK checking enabled.
1607254

[2020-12-06 11:40] #133 closed

[2020-12-06 11:41] wasawah commented on #91
Got new error, after building as @tercelcn suggested

pi@raspberrypi:~/mqtt/mosquitto-1.6.10 $ mosquitto -c mosquitto-auth.conf
1607254607: mosquitto version 1.6.10 starting
1607254607: Config loaded from mosquitto-auth.conf.
1607254607: Loading plugin: /home/pi/mqtt/mosquitto-go-auth/go-auth.so
1607254607: ├── Username/password checking enabled.
1607254607: ├── TLS-PSK checking enabled.
160725460

[2020-12-08 00:55] simonfongnt opened #134 "Error: Unable to open config file /etc/mosquitto/mosquitto.conf"
i am in ubuntu and docker. Following your guide in docker folder, but when i was trying to run the container, it prompts me this error.
`Error: Unable to open config file /etc/mosquitto/mosquitto.conf`

Actually, i am having this same error among all other docker mosquitto auth solutions i am trying with but only yours is actively developing.
i thought there was sth added about privilege in mosqui

[2020-12-08 03:21] simonfongnt commented on #134
No luck even after following postinstall guide in docker.com
Manage Docker as a non-root user section of `https://docs.docker.com/engine/install/linux-postinstall/`

[2020-12-09 07:26] simonfongnt commented on #134
although reinstalling Docker couldn't work, i tried to enable the custom confs in Dockerfile by uncommenting
COPY conf/mosquitto.conf /etc/mosquitto/mosquitto.conf
COPY conf/conf.d/go-auth.conf /etc/mosquitto/conf.d/go-auth.conf
COPY conf/auth/acls /etc/mosquitto/auth/acls
COPY conf/auth/passwords /etc/mosquitto/auth/passwords
then this problem gone away. I suppose I can bypass this issue.

btw, t

[2020-12-10 09:03] rronalddas opened #135 "Custom Plugin in docker has GLIBC issue"
Hi i have used the dockerfile (https://github.com/iegomez/mosquitto-go-auth/blob/master/docker/Dockerfile) to deploy mosquitto go-auth.
 I am testing a very simple  custom plugin from the examples , but its unable to find GLIBC_2.32
[code]

Here is the Dockerile (I used a higher version of mosquitto)
[code]
And this is the custom go plugin
[code]

[2020-12-10 10:27] rronalddas commented on #135
I managed to solve the GLIBC issue, debian uses v2.28 and ubuntu was using v2.31.
After solving it(build my plugin using a docker container using golang:1.13.8-buster), now new error is being thrown
[code]
I tried defining a function in plugin code which returns 5 (https://github.com/iegomez/mosquitto-go-auth/search?q=mosquitto_auth_plugin_version) , but the same error is still happening

[2020-12-10 22:05] iegomez commented on #135
@rronalddas From a quick look I'm not really sure, but it could be the version you're using:
[code]
That's really old, please use the latest one, currently `1.3.2`.

[2020-12-10 22:07] iegomez commented on #135
Nah, scratch that, the plugin is being built from source. Sorry, I'll take a look when I get some time which won't be very soon. 😞

[2020-12-18 01:25] #134 closed

[2020-12-24 22:22] robinschneider commented on #118
I am using this payload with mongodb and read does not work for me as well

[2020-12-29 02:42] HarveyHub opened #138 "How to test redis_test.go"
After mosquitto and mosquitto-go-auth compiled, redis-server was up, I tested `redis_test.go` with `go test backendss/redis_test.go` as  following:
[code]
In my `/etc/redis/redis.conf`, I set `requirepass go_auth_test`.
My mosquitto configure in `/etc/mosquitto/mosquitto.conf` as following:
[code]

Mosquitto service status:
[code]
I wanna know how to test and use a redis backend correctly, it's my

[2020-12-29 07:16] #138 closed

[2021-01-06 14:40] DefProc opened #139 "failed to build due to unknown type 'mosquitto_plugin_id_t'"
When trying to build for mosquitto 2.0.4 (both installed via apt and manual make install) on Ubuntu 20.04, I hit this error when building mosquito-go-auth.

Error is:

[code]

I did get this to build by adding the an include for `mosquitto_broker.h`, which calls the header that defines `mosquitto_plugin_id_t` above the include for `mosquitto_plugin.h`, but feels like it's not the right way to do t

[2021-01-06 21:12] iegomez commented on #139
@DefProc Thanks for reporting this, I'll give it a check as soon as I get some time.

[2021-01-10 20:23] thilojaeggi opened #140 "Mosqutio not starting after setup."
Hi there.

I've just finished up setting up Mosquitto and adding the necessary lines to mosquitto.conf and making a seperate directory "conf.d" as per instructions.
![image](https://user-images.githubusercontent.com/20727326/104134464-e99df400-5389-11eb-9e99-9402f147b364.png)
![image](https://user-images.githubusercontent.com/20727326/104134472-f589b600-5389-11eb-99d6-5d74159c5932.png)
Yet, when I

[2021-01-12 18:12] manuelmaurer commented on #139
It looks like this happened when they upgraded the mosquitto API from v4 to v5. While v4 is still supported and all the functions are still there, the new v5 functions now use the mosquitto_plugin_id_t structure as parameters. With the current version of the auth-plugin.c file, this creates two requirements:

1) You need to include mosquitto_broker.h before mosquitto_plugin.h, as this contains the

[2021-01-12 18:15] iegomez commented on #139
@manuelmaurer Awesome, thanks for investigating!

Would you mind opening a PR with the changes? I can later check that it complies against 1.4.x to be sure.

[2021-01-12 18:18] iegomez commented on #140
@thilojaeggi Could you run manually and see what error it throws?

[2021-01-12 18:35] manuelmaurer commented on #139
Sure, no problem

[2021-01-12 19:14] thilojaeggi commented on #140
My bad. It throws that the mysql setup isn't done.
Thanks!

[2021-01-12 19:14] #140 closed

[2021-01-13 00:06] thilojaeggi opened #142 "mosquitto_sub not working."
Hi there.

I'm trying to sub to a topic but it doesn't work.
![image](https://user-images.githubusercontent.com/20727326/104389226-45f44580-553b-11eb-981f-eb8eb884eac6.png)
![image](https://user-images.githubusercontent.com/20727326/104389234-4b519000-553b-11eb-8a3c-f793e02bcfeb.png)
![image](https://user-images.githubusercontent.com/20727326/104389267-5b696f80-553b-11eb-9cc7-a2cea77942d1.png)
![i

[2021-01-13 07:24] kaluginvlad commented on #139
Thank you very much! I've successfully compiled this plugin on Raspberry Pi3

[2021-01-13 08:10] manuelmaurer commented on #142
First of all, your acl table does not contain the column username, therefore the query will never work! I recommend skipping the auto_inc field in users table (because it is just not necessary, you already have a PK in your username) and then reference that in your acl table:
[code]

Additionally there seems to be a problem with subscribe that looks somewhat like the problem in #118

As a quick fi

[2021-01-13 19:19] thilojaeggi commented on #142
This is how it looks now.
![image](https://user-images.githubusercontent.com/20727326/104498821-7e982b80-55dc-11eb-8576-55589c9d8242.png)
And this is my config:
![image](https://user-images.githubusercontent.com/20727326/104498879-8eb00b00-55dc-11eb-8ecf-ab26a94190d0.png)
Sadly, mosquitto_sub still doesn't work.
Thank you for your help btw.

[2021-01-14 01:25] kaluginvlad commented on #142
The simplest solution - try HTTP backend and request data from external CGI app... I think, that it better for integration with the IOT project.

[2021-01-14 07:53] manuelmaurer commented on #142
@kaluginvlad HTTP is fine if you are using a different authentication database anyways. Just adding a webserver in front of it to get rid of problems is not a solution, especially as you might put quite some load on the webserver (if you are not using a cache), depending on the usage model.

@thilojaeggi config looks fine so far. Please enable logging for the plugin and check what the log says:
[c

[2021-01-14 08:30] kaluginvlad commented on #142
@manuelmaurer I have integrated Mosquitto with my existing IOT project. And HTTP backend is what I was looking for. And of course I have configured caching :)

[2021-01-17 22:57] thilojaeggi commented on #142
Got it to work. My error was in my mysql query.
Table is called acl not acls.

[2021-01-17 22:57] #142 closed

[2021-01-21 09:12] kencho214 opened #143 "hasher argon2id: Constant value mismatched"
Hi, I am trying to use postgres as a backend. and I found typo.

https://github.com/iegomez/mosquitto-go-auth/blob/e116ab6796fe41ec67a87a49f3b65bf605f4bb4d/hashing/hashing.go#L24

And README.md tells it in lower case.

Which is the expected constant value, "argon2id" (doc) or "argon2ID" (code)?

[2021-01-23 16:06] calpit opened #144 "Building the docker image on aarch64 failed"
I tried building the docker image on a Nvidia Jetson Xavier NX (aarch64).
Downloading golang failed because 'go1.13.8.linux-aarch64' doesn't exist. The correct go version would be 'go1.13.8.linux-arm64.tar.gz'.

`Step 11/23 : RUN export GO_ARCH=$(uname -m | sed -es/x86_64/amd64/ -es/armv7l/armv6l/) &&     wget https://dl.google.com/go/go${GO_VERSION}.linux-${GO_ARCH}.tar.gz &&     tar -C /usr/loca

[2021-01-25 03:14] HarveyHub opened #146 "How to use it at redis envionment?"
Here is my mosquitto conf:
[code]
Start the mosquitto service.

Key and Set in my redis db:
[code]

[code]

My python client:
[code]

Python scripy output:
[code]

Mosquitto  log:
[code]

Could you tell me what I missed?

[2021-01-28 00:39] iegomez commented on #144
Thanks for your fix, @calpit, just merged it to master.

Cheers!

[2021-01-28 00:39] #144 closed

[2021-01-28 00:48] iegomez commented on #143
You're absolutely right, @kencho214 , that's a typo. Sorry for that, I just changed the constant to be "argon2id" and already pushed the fix to master.
Thanks for catching that.

Cheers!

[2021-01-28 00:48] #143 closed

[2021-01-28 00:50] iegomez commented on #139
Fixed by @manuelmaurer 's PR: https://github.com/iegomez/mosquitto-go-auth/pull/141
Thanks again, Manuel!

[2021-01-28 00:50] #139 closed

[2021-01-28 00:58] iegomez commented on #146
Hey, @HarveyHub ! I don't know how that Python client works, so it could be related. How exactly did you generate the password?
Notice that `./pw 1234` isn't valid, you may use the defaults but the flag for the password is `-p`, e.g. `./pw -p 1234`.

[2021-01-28 01:00] iegomez commented on #135
Hi, @rronalddas , and sorry for the very long delay, I'm still a bit away of the plugin. Did you ever resolve the issue?

[2021-01-28 01:06] HarveyHub commented on #146
I tried `mosquitto_sub` command, it didn't work too. I will try to generate password following your suggestion again, thanks for your reply.
`error: received null username, clientid or topic, or access is equal or less than 0 for acl check` was not so clear for me to find which step I went wrong, do you harve any idea with that?

[2021-01-28 01:13] iegomez commented on #146
@HarveyHub , that was quick!
Yup, you can set the log level to `debug` to get more info with the option `auth_opt_log_level debug`. If that's not enough, a good old `printf` at the root's `auth-plugin.c` function, just before the null checks in the ` mosquitto_auth_acl_check` function, and then recompiling, should tell you what null value is being passed by mosquitto to the plugin.

[2021-01-28 10:43] HarveyHub commented on #146
Thanks a lot.

[2021-01-28 11:06] HarveyHub commented on #146
When I not using auth-plugin:
![image](https://user-images.githubusercontent.com/7811407/106129649-6955fc00-619b-11eb-8e81-6b00d6c2846a.png)
mosquitto_log:
![image](https://user-images.githubusercontent.com/7811407/106129696-72df6400-619b-11eb-9dc9-756ebd37705e.png)

When I using auth-pluin without changing code:
![image](https://user-images.githubusercontent.com/7811407/106129978-c6ea4880-619b-11

[2021-01-28 22:40] iegomez commented on #146
@HarveyHub , you last 2 pictures show correct connections and auth to me, or am I missing something?

[2021-01-29 00:43] HarveyHub commented on #146
Yes, thanks to your help, I generated correct password for user. But the message was not published or could not be subscribed,
![image](https://user-images.githubusercontent.com/7811407/106216416-0487b980-620e-11eb-9e58-eb54493b2d75.png)

mosquitto_sub command
[code]

mosquitto_pub command
[code]

mosquitto log:
[code]

auth info in redis db:
[code]

[2021-01-29 12:50] iegomez commented on #146
Oh, I think you might need to add `subscribe` ACLs and then you should able to subscribe to those topics and read them.

[2021-01-30 02:01] HarveyHub commented on #146
Thank you very much again, it worked for me!!!

[2021-02-01 05:40] blusewang opened #147 "Load error: go-auth.so: Undefined symbol "mosquitto_client_id""
On FreeBSD 12  mosquitto v2.0.6
[code]
Dos mosquitto-go-auth support mosquitto v2.0.6?

[2021-02-01 15:19] #146 closed

[2021-02-01 15:23] iegomez commented on #147
It should, but no idea what flags might be needed in FreeBSD to load everything correctly. If you check the `Makefile`, you'll see some specific flags are being passed that make it work in Linux for Mosquitto 1.5.x and later, and an additional one is given for Darwin (Mac OS X). If you know how to achieve the same in FreeBSD (never tried it), I'll gladly add whatever is needed.

[2021-02-03 01:44] blusewang commented on #147
Oh! I got it!
This issue happened on FreeBSD and the problem is in mosquitto-2.0.6.
Just clone mosquitto project and checkout fixes branch,rebuild it and install, then got work fine!

[2021-02-03 01:44] #147 closed

[2021-02-05 00:27] ralight commented on #106
If I understand correctly, you should be able to use the new `mosquitto_kick_client_by_clientid()` or `mosquitto_kick_client_by_username()` functions to get rid of the expired client.

You may also find the MOSQ_EVT_TICK event useful, it is called on every instance of the main event loop.

[2021-02-07 14:56] suculent commented on #115
Ok. Closing as I can actually use supported hashes even for legacy devices. There will be additional work as ACL’s can probably stay file-based when passwords are read from redis. But never mind.

[2021-02-07 14:56] #115 closed

[2021-02-09 11:56] jhelberg opened #148 "postgresql backend loops upon wrong username/password combination"
The OpenDatabase call (db.go) connects (Open(...)) and if it succeeds, tries to ping. With bad credentials, the Open() will succeed (it actually doesn nothing) and the ping will fail. But then the call doesn't return, but sleeps in an endless loop.
Correct is to return nil, err as there is something wrong with the connect-parameters.
Maybe this is different for mysql and other databases, but the G

[2021-02-09 12:00] jhelberg opened #149 "GDPR and need for no special database user"
All my database software tries to avoid any sort of superuser, hence end-users always connect to the database themselves. For mosquitto and your auth-plugin, I want to do the same thing. It works nicely, but I'm interested in whether you are willing to discuss making pg_user and pg_password non-mandatory and use the given user-credentials as database login-credentials.

I'm happy to participate in

[2021-02-09 14:25] erichiller opened #150 "Feature Request: LDAP/AD"
It would be great if LDAP was a supported method. I'd hope that you could just update / translate into Go [jpmens/mosquitto-auth-plug LDAP code](https://github.com/jpmens/mosquitto-auth-plug/blob/master/be-ldap.c).

It looks like Go has a good LDAP library [go-ldap](https://godoc.org/gopkg.in/ldap.v2) that would make it relatively painless. They even have an [example for user auth](https://godoc.o

[2021-02-09 21:22] iegomez commented on #148
The problem with checking and erroring immediately is that the Postgres service may not be available by the time Mosquitto is running, e.g. when auto starting services with `systemd` or similar. Thus, the plugin keeps pinging the DB until it's available.

It is true that this will keep it in a loop when there is a real issue with the DB service and not just a delay on starting, so a max retries op

[2021-02-09 21:28] iegomez commented on #149
Hi, @jhelberg!

I'm not so sure about the option since it'd mean opening a new DB client for each user check, keeping it open for some time (how much?) for subsequent superuser and ACL checks, closing it (when?), etc. So basically, instead of having a plugin's client which provides a pool of connections to use, we'd have to handle a pool of clients per user, which is absolutely non trivial.

That

[2021-02-09 21:42] iegomez commented on #150
Hi, @erichiller!

It's definitely an interesting addition, but not one I want to pursue in the short term since I'm trying to avoid taking on enhancement requests myself to concentrate in long open issues and PRs. But I'd be happy to review a PR if you wish to contribute a solution.

Cheers!

[2021-02-10 14:02] jhelberg commented on #148
thanks for replying so swiflty!
When using the postgresql backend, the operator of mosquitto should be aware of this dependency and add it to the systemd service file for mosquitto (or any other mechanism used). A reference to this in the README.md should be sufficient. I don't think it is right to try to solve this in the go-auth plugin, especially not as there may be no way to differentiate betw

[2021-02-10 16:15] iegomez commented on #148
Thanks again, @jhelberg, you raise good points.

Maybe `systemd` wasn't the best of examples, but there definitely are scenarios where you don't have control over startup order. Besides, logs are very clear about not being able to reach the DB when diagnosing a problem, so it hasn't been an issue so far.
But let's meet halfway, shall we? https://github.com/iegomez/mosquitto-go-auth/pull/151

Let m

[2021-02-11 08:06] jhelberg commented on #148
There are two cases: the Ping fails because of an absent server or it fails because of the wrong credentials. I really dont think that Mosquitto and go-auth should do something about the first case. If a system cannot determine order, a script-wrapper around mosquitto should do that. For the wrong credentials, the call should fail, as there is no way to test user-credentials after that.
I'm OK of

[2021-02-11 08:06] #148 closed

[2021-02-11 12:28] iegomez commented on #148
Oh, no, thank you for the discussion! And I do agree with both points, but from a practical stance I prefer to maintain backwards compatibility and avoid myself the future issues.

[2021-02-12 16:22] iegomez commented on #131
@mrdc were you able to solve your second issue?

As for the first, this PR adds files reloading on SIGHUP.

Cheers!

[2021-02-12 17:43] iegomez commented on #118
@robinschneider Were you able to resolve your issue? If not, could you provide more details?

[2021-02-12 20:10] iegomez commented on #113
@sirockin This is now implemented and available to both remote and JS modes by passing `jwt_parse_token` and `jwt_secret` options.

Cheers!

[2021-02-12 20:10] #113 closed

[2021-02-12 20:16] iegomez commented on #106
Oh, I missed that! Thanks, @ralight, now it should be fairly easy to return a custom error from the plugin and kick out the client on `auth_plugin.c` based on that.
@sirockin, https://github.com/iegomez/mosquitto-go-auth/pull/120 adds different responses to the plugin. I can piggy back on that after it's merged to implement on expiration disconnect.

[2021-02-18 13:04] mcr-ksh opened #154 "Files backend `topic` cannot contain <space character>."
Hi,

there is a problem that MQTT standard allows whitespace characters, while the backend files.go does not support that due to the strings.Fields(line) splitting.

I used a workaround in my local copy:
`                                if len(lineArr) == 2 {
                                        aclRecord.Topic = strings.Replace(lineArr[1], "%20", " ", -1)

[2021-02-21 20:29] PierreF commented on #154
Hi,

thanks for the report. You solution also reply on using "%20" in the acl file instead of a real whitespace, isn't it ?

I've created a PR that fix it without needs to escape the whitespace (which is closer to what Mosquitto does, which is the format we said to support in our README). It however does not support multiple consecutive whitespaces in topic. Is it something you need ?

[2021-02-22 09:01] mcr-ksh commented on #154
Hi PierreF,

my solution is just a "hack" or workaround. Unfortunately we need multiple consecutive whitespaces.

Best,
CK

[2021-02-26 03:32] iegomez commented on #154
Hi, @mcr-ksh! Thanks for reporting this issue and sorry for not responding earlier, I've been having some issues with my personal machine and I don't like to use (nor I have setup correctly) my work one for personal development.

I see that @PierreF (sorry for not reviewing the other PRs yet, I have the same stated reason and having returned to work this week to blame for that) has already started

[2021-02-26 10:00] rostopira opened #156 "Is it possible to use without hash?"
I've currently test parse server configured with anonymous auth.
I don't have passwords, but do have session tokens.
I want to use those instead of password when connecting to mosquitto.
It's stored in PostgreSQL without hash.
Is there are any option to disable hashing in this plugin?
Thanks in advance.

[2021-02-26 20:18] iegomez commented on #156
Hi, @rostopira!
Saving passwords in plain text is not supported. You could hash your session tokens and store the hashes instead, or alternatively implement your own fetching through the custom or the JS backends.

[2021-02-26 21:17] #131 closed

[2021-02-26 21:17] #149 closed

[2021-02-26 21:18] #150 closed

[2021-02-26 21:19] #114 closed

[2021-02-26 21:28] iegomez commented on #154
I just realized we also lack support for denying topics, i.e. `pattern deny <topic>`. I'll start to work on both concerns, but it'll obviously take some more time given the addition.

[2021-02-26 23:19] iegomez commented on #154
Ok, here's my take on the issue: https://github.com/iegomez/mosquitto-go-auth/pull/157
I still need to add tests to ensure it works as intended, but the logic to cover both cases is there. I'll add test cases as soon as I can.

[2021-02-27 14:14] rostopira commented on #156
Hashing tokens on every user creation would create unnecessary overhead for database.
But nevermind, I've already added no hashing variant for myself:
[code]

[2021-02-27 14:14] #156 closed

[2021-03-01 15:15] YerayAlonso opened #158 "tag latest docker image"
I found the latest image at [docker hub](https://hub.docker.com/r/iegomez/mosquitto-go-auth/tags?page=1&ordering=last_updated) is tagged just as "latest" so (AFAIK) there's no way to use reference it in a docker compose and avoid upgrading to a newer version when you'll push it.

If I'm not wrong, tagging that image (ie 1.4.2) would allow us to force that version to be used even if you push a new

[2021-03-03 20:24] iegomez commented on #158
Hi, @YerayAlonso! Docker images are automatically built for each release as well as for current master. You may use tagged releases instead of latest if you wish so.

[2021-03-04 01:31] iegomez commented on #158
Does that make sense or am I missing something?

[2021-03-04 03:14] iegomez commented on #59
Hey, @peter3099, it's surely been a while!
A couple of days ago I wanted to resume work on this issue but didn't find the branch on my personal machine, maybe for once I used the work one to start implementation and never pushed it upstream. :woman_shrugging:
In any case, is this still something that's needed or did you eventually add ACLs or found another way to bypass them? The more I read the i

[2021-03-04 07:51] YerayAlonso commented on #158
Ah, this explains it.
Then I guess you could set a `beta-x` tag or similar to images build using master so we can fix it in our docker-compose.

Or I can just be tuned and check the latest release when you'll push it.

Thanks for the project!

[2021-03-04 10:08] peter3099 commented on #59
Hey @iegomez no worries, it is working fine, we are still getting all the ACL requests, which is not an issue but since all my users have # for read and write topics, then it makes no sense.

Maybe in the future we implement ACL through the backend but what I was thinking was to disable them so the only thing mosquitto go auth check is user and then superuser and ACL are granted with that.  It wil

[2021-03-04 15:24] iegomez commented on #59
@peter3099 Well, you'd get a request on every publication and another for every consumer of the message, so I'd say yes, it's common to have a lot of them. You'll also get ACL requests when clients first subscribe to topics.

I was thinking that you could bypass all these checks by adding `Files` backend before `JWT` one, with a dummy empty file for `passwords` and a general ACL rule in `acls` one

[2021-03-04 15:28] iegomez commented on #59
Another thing I'm thinking of is adding the ability to register checks for each backend, e.g.:
[code]
This way you can simply skip backends that don't register a check when performing it. Of course, we'd need to ensure at least one backend registers each check, except maybe for `superusers`.

Anyway, food for thought.

[2021-03-04 15:45] iegomez commented on #158
To be honest, Docker is not my cup of tea and I don't know what are the best practices. It was a contributor that helped me set automated build in Dockerhub a looong time ago.

My 2 cents is that having `latest` track changes in `master` makes sense since those are effectively latest changes, while pinning the version is always possible since releases are also auto built and tagged with the releas

[2021-03-04 16:42] peter3099 commented on #59
Man I'll give that a try, thanks for that, your last idea sounds really good, it will give a lot of flexibility

[2021-03-05 21:20] iegomez commented on #154
@mcr-ksh @PierreF Merged and released: https://github.com/iegomez/mosquitto-go-auth/releases/tag/1.4.3

[2021-03-06 02:20] iegomez commented on #59
Well, @peter3099, here's a PoC for that idea: https://github.com/iegomez/mosquitto-go-auth/pull/159

[2021-03-08 07:19] peter3099 commented on #59
Hi @iegomez, thanks for this. So now basically I can check ACLs with Files and users with JWT, right? So at the moment, I have some  users on my ACL for the Files backend check

`user user1
topic read #
topic write #`

do I need to add a

`topic #`

at the end with no user details correct? Because for the JWT check the username is the JWT itself am I right?

Thanks

[2021-03-09 22:50] iegomez commented on #59
Yes, adding a general rule will make it available for all users.

I need to address a couple of comments on the PR, but it should go in this week.

[2021-03-11 23:24] iegomez commented on #59
@peter3099 Merged and released: https://github.com/iegomez/mosquitto-go-auth/releases/tag/1.5.0

[2021-03-11 23:35] iegomez opened #160 "Docker tests fail on Custom Plugin"
@PierreF , the tests I added for Custom Plugin break Docker testing:
[code]
Of course, it's expected and the error is very clear. It should be fairly easy to fix by building the plugin inside the image instead of using the prebuilt shared object. Just giving you a heads-up that I'll try to work on this as soon as possible so we may then set automated testing via github actions or any other alterna

[2021-03-12 01:28] iegomez commented on #160
This seems to work ok: https://github.com/iegomez/mosquitto-go-auth/pull/161

[2021-03-12 02:52] #154 closed

[2021-03-12 02:52] #118 closed

[2021-03-12 18:09] peter3099 commented on #59
HI @iegomez  thanks for this, I will try it an come back to you
Have a good weekend