[2021-03-15 08:06] peter3099 commented on #59
@iegomez works really well, thanks for doing that!

[2021-03-15 08:06] #59 closed

[2021-03-18 04:59] ShivamJoker opened #162 "Provide pre built binaries"
Hey, it will be great if we can use pre built binaries with mosquitto or we can try compiling both in one package if it won't work independently.

[2021-03-20 01:22] iegomez commented on #162
Hi, @ShivamJoker!
I'm not sure about releasing binaries since the plugin needs to be compiled against specific versions of Mosquitto to work correctly because their plugin interface is different per version. Also, it's a bit of a burden to release binaries when compiling the project is fairly easy. I will give it a thought, but don't expect binary releases any soon.

[2021-03-20 06:10] ShivamJoker commented on #162
At least we can do for the latest version of mosquitto and we can use GitHub actions as well to automatically compile it.

[2021-03-20 14:23] iegomez commented on #162
That sounds like something I'd be more willing to maintain, but I haven't played with github actions yet. Want to take a shot at it and open a PR?

[2021-03-21 04:11] iegomez commented on #60
@rechandler12 Should I look at this or is it already resolved?

[2021-03-21 04:19] iegomez commented on #91
Hello, everyone! Anyone willing to add instructions to the docs to get it working in RPi4? If so, just open a PR and I'll be happy to review it.

Cheers!

[2021-03-21 04:28] iegomez commented on #111
Hi, @pmous and @sirockin! I'm working on the basis right now, moving files checks to their own package so they may be used from both the Files and JWT backends, but somehow I managed to screw up paths to test files. :facepalm:
Anyway, I expect to have a files-like interface available for JWT during the next week, and I gather we could start from that. I was thinking we could define some rules mech

[2021-03-21 04:37] iegomez commented on #106
Update: I already started a (local) branch on this to kickoff expired users, though I'm not sure about polling client statuses. Anyway, when I have the basis for kicking out on request, I'll open a PR and let you know so we can decide if that's enough or active polling is needed (I've given Mosquitto events a quick look, but am not entirely sure how they'll work with this package since I need to a

[2021-03-21 04:40] iegomez commented on #135
I'm sorry, I've never experienced such problem and can't really help here. Given the lack of response, I'll close it for now, but feel free to reopen it or file a new issue if this is still a concern.

Cheers!

[2021-03-21 04:40] #135 closed

[2021-03-21 04:46] iegomez commented on #158
@YerayAlonso any feedback on that? Again, I may be very wrong about my take on docker builds since I don't really use them.

[2021-03-21 10:26] YerayAlonso commented on #158
Sorry for not replying your last comment.
If I understand it correctly, we can say the build process has two steps:
- Set a new `number` to the "previous" `latest` image.
- Build a new image with `master` and set the `latest` tag to it.

The idea would be to just set two labels to the image built with `master`: `latest` and `number`.

I can take a look at the code doing the automated build if you

[2021-03-21 19:55] iegomez commented on #158
Ah, well, that's the thing: there's no code nor build process done in the repo, it's Docker Hub automated build that's doing the job:
![image](https://user-images.githubusercontent.com/5600043/111918822-b355b280-8a65-11eb-9fe0-b4cad6677740.png)

I have no idea really, but I don't think it allows to tag the previously built image with some increasing number before building the new `latest`. So in o

[2021-03-21 19:57] iegomez commented on #158
They also don't seem to support e.g. tagging the build against the commit hash, it'd have to be done manually: https://forums.docker.com/t/reference-git-commit-hash-in-the-docker-hub-automated-build-docker-tag-field/98487

[2021-03-22 07:06] ShivamJoker commented on #162
Sure, I can give it a try but I may need bit of guidance.

Will it directly work if I just compile and get the goauth.so file ?

[2021-03-22 07:47] YerayAlonso commented on #158
I'm afraid there are things that scape my knowledge here. There seems to be the possibility to [tag the docker images with the github tags](https://docs.docker.com/docker-hub/builds/#tag-and-branch-builds), but I'm not sure if this is compatible with building a `latest` image with the `master` branch as you are doing.

No problem for me. You can close this.

[2021-03-22 10:43] pmous commented on #111
Good work! Except for the screw up part, lol!

[2021-03-22 15:22] rechandler12 commented on #60
I apologize I didn’t respond earlier. I’ve been busy and missed notification.

I think you should close this issue. I use local cache, gave up on redis and everything is working good.

[2021-03-22 21:12] iegomez commented on #158
I'll look at that to see if it may be done, thanks for the link!

[2021-03-22 21:13] iegomez commented on #162
Thanks!

I'm not entirely sure what you mean by that.

[2021-03-22 21:14] iegomez commented on #60
Ok, thanks for replying, i'll close it for now and revisit it later if needed.

[2021-03-22 21:14] #60 closed

[2021-03-23 14:12] ShivamJoker commented on #162
I mean the steps you have provided in reamde for building the plugin with mosquitto.

What do I need to do after that ?

[2021-04-01 15:43] suculent opened #164 "Redis ACL Example"
I am not sure how to set :sacls and :rwacls to allow subscribing "/#" by client which worked previously without plugin.

It should subscribe to two read/readwrite channels only and write to third channel only.

[2021-04-01 23:41] iegomez commented on #164
Hey, @suculent! Could you give any more details or a dummy example of what you're trying to achieve?

[2021-04-01 23:43] iegomez commented on #162
I don't know if there's an automated way to release binaries based on GitHub actions builds, I'll have to look that up.

[2021-04-02 03:50] ShivamJoker commented on #162
@iegomez I am asking is the goauth.so file we need to make this plugin work with mosquitto ?

[2021-04-02 16:51] iegomez commented on #162
Yeah, `goauth.so` is the only thing needed, it's the shared object that Mosquitto loads.

[2021-04-03 11:39] suculent commented on #164
It seems that adding sacls “/#” and explicit topics without using hash in rwacls does it.

[2021-04-03 13:07] jakubondrus opened #165 "Using only Files backend for ACL with identity from TLS certificate"
Hi,

I was trying to test this plugin by using identity from TLS certificate as user and clientId with files registered for password and acl checks. What I found out is, that if there was `topic #` in ACL file with non-exiting user from password file, permission would be granted to any user trying to access any topic.

![acl peter](https://user-images.githubusercontent.com/61357983/113479872-b2734

[2021-04-03 15:41] iegomez commented on #165
I'm not sure what's the issue here, setting a general permission for all users will indeed grant them access, that's expected.
What are you trying to achieve?

[2021-04-03 15:54] jakubondrus commented on #165
I am trying to achieve that when setting
`user Peter`
`topic #`
it will be only applied to Peter like with mosquitto's acl. But when Peter is not listed in password file (because I use certs for authentication) this rule is set as general permission. I would like to find out, whether there is way to avoid this behaviour without modifying plugin code. Or possibly use mosquitto's acl in combination

[2021-04-03 16:55] #164 closed

[2021-04-03 17:34] iegomez commented on #165
What version are you using? There used to be a bug where a missing user would result in their ACL rules applied to the previous user or, if it was the first one, to the general rules. That should be fixed, but if you're seeing that behavior, that would be  bug.
I'm currently working on some Files changes, so if you can provide evidence and a way to reproduce the issue, I can fix it long with that

[2021-04-03 17:45] iegomez commented on #165
One thing Iḿ curious about is the TLS auth you mentioned, the plugin doesn't offer such auth method, how are you accomplishing it?

[2021-04-03 17:54] jakubondrus commented on #165
I am using mosquitto's `use_identity_as_username true` which takes identity from certificate provided by client and uses it as username (and could be also set to be used as clientId).

I used acl file as posted above (only 2 lines with `user Peter` and `topic #`) and used it as single backend, while using empty password file.

[2021-04-03 17:59] iegomez commented on #165
Cool, thanks for the details! I'll take a look soon.

[2021-04-03 22:58] iegomez commented on #165
Ok, @jakubondrus, here's a PR that tackles your issue along with the original intent of adding a files-like ACL check for JWT: https://github.com/iegomez/mosquitto-go-auth/pull/166
Would yo be able to checkout that specific branch and test it before I merge it?

Thanks again for your report and support.

Cheers!

[2021-04-03 23:10] iegomez commented on #111
@pmous @sirockin here's that promised PR: https://github.com/iegomez/mosquitto-go-auth/pull/166

Feel free to bash it all you want, I sent you both invites to the repo so I can request your reviews and you may chime in after accepting the invite. Of course, I reserve the right to merge anything to myself: not that I'm an asshole or believe I'm one of those benelovent dictators that are so common i

[2021-04-04 00:06] jakubondrus commented on #165
I will take a look at it tomorrow. Thanks for making time to look into this.

[2021-04-04 00:10] iegomez commented on #165
Sorry that I didn't mention it, but you'll have to explicitly set the Files backend to only check ACLs, i.e.:
[code]

I'll wait for you response on how that went. Thanks again!

[2021-04-04 13:00] jakubondrus commented on #165
It seems, like it's granting access to topics to everyone now.
ACL
![image](https://user-images.githubusercontent.com/61357983/113509433-d304d480-9555-11eb-8d28-fe130a6fa212.png)
Left is Klient2 and right Klient
![image](https://user-images.githubusercontent.com/61357983/113509467-07789080-9556-11eb-8b2e-66760c706a8e.png)
Config fle
![image](https://user-images.githubusercontent.com/61357983/11350

[2021-04-04 22:57] iegomez commented on #165
Thanks again, I'll do some testing with you exact use case to see what might be going on.

[2021-04-05 08:57] Kowiste opened #167 "Error starting mqtt container on raspberry pi"
Hi, I test your system in my windows laptop and everything go well (with postgree).
Now I'm using a RPi4 for testing (JWT) and every time I run it have the same error.

`standard_init_linux.go:219: exec user process caused: exec format error`

I try to find this file in your repository, to see what is happening but cant find anything.
I'm using the yaml that is in the docker folder.
Do I have to c

[2021-04-06 23:14] iegomez commented on #167
You should probably apply some changes as in https://github.com/iegomez/mosquitto-go-auth/pull/163 to make it work with a RPi4 (not sure, I don't have one).

[2021-04-07 06:05] Kowiste commented on #167
Thanks yes is because the Raspberry is ARM

[2021-04-07 06:05] #167 closed

[2021-04-09 00:21] iegomez commented on #165
Hey, sorry I haven't had time to test this yet, I'll try to take a look tomorrow.

[2021-04-10 02:22] iegomez commented on #165
Ok, @jakubondrus , there was indeed a subtle bug but luckily I was able to identify and fix it in https://github.com/iegomez/mosquitto-go-auth/pull/166/commits/530fb7ee2057d09ffe65069b8ecef5f4c6fad932. I added a test for it just in case, and I think now you should be able to run that branch for your case successfully.

Again, sorry for the delay and please let me know how it goes this time. If you

[2021-04-10 14:22] jakubondrus commented on #165
Hi, thanks again for making time to look into this. But I still can't make it work. Since I am not sure, whether I understand how to use this plugin correctly, so I recorder video showing my use of this plugin. Basically expected behaviour is that "Klient" will be able to push/sub anywherere, meanwhile Klient2 should be able to read only clients/Klient topic and writo to clients/Klient2.
https://d

[2021-04-10 16:24] iegomez commented on #165
Wow, thanks for the very detailed video! I'll look into it, and again sorry that it's not working for you.

I'm wondering something though: you are already using `use_identity_as_username` for authentication, and Mosquitto provides static files authorization out of the box. Does it not support checking ACLs only and that's why you had to resort to using the plugin for auth? Don't get me wrong, eve

[2021-04-10 16:35] jakubondrus commented on #165
I want to use files for more "static" users and permissions and http api for more dynamic ones. That's why I want to combine them. However, when I used build-in acls combined with http api, http api was never called even if files didn't give permission for topic. This is why I would like to use plugin for both cases.

[2021-04-10 16:38] iegomez commented on #165
Ah, gotcha. And yes, if you use Mosquitto's static files auth, then it won't forward any requests to a plugin.
Well, I hope to have good news for you soon after taking a better look into the issue.

Cheers!

[2021-04-15 12:41] jinjaghost opened #168 "arm compilation failed : build constraints exclude all Go files in ..."
Hi,

I've got problem cross compiling to an arm version of this plugin :
-----------------------------8<-----------------------------
1) echo $CFLAGS
-I/usr/src/jinja/mosquitto/mosquitto-1.6.9/lib -I/usr/src/jinja/mosquitto/mosquitto-1.6.9/src -fPIC

2) echo $LDFLAGS
-shared

3) env GOARCH=arm64 CGO_CFLAGS="$CFLAGS" CGO_LDFLAGS="$LDFLAGS" go build -buildmode=c-shared -o go-auth.so
package github.c

[2021-04-15 19:15] iegomez commented on #168
Hi, @jinjaghost! You could take a look at https://github.com/iegomez/mosquitto-go-auth/pull/163/files for hints on building for ARM, I don't have a way to test this.

[2021-04-15 21:53] jinjaghost commented on #168
Installing the required libc and gcc for targeted platforms and tweaking the vars fixed the issue. Here is the working build cmd :

env **CGO_ENABLED=1 CC=aarch64-linux-gnu-gcc** GOARCH=arm64 CGO_CFLAGS="$CFLAGS" CGO_LDFLAGS="$LDFLAGS" go build -buildmode=c-shared -o go-auth.so

I am just wondering where the "**build constraints exclude all Go files**" came from.

Thanks a lot

[2021-04-16 10:00] #168 closed

[2021-04-20 05:22] thomastvedt commented on #158
One alternative could be to move docker build and publish to Github actions? You can still publish docker image to dockerhub, but let Github action do the build, generate tags, etc.

[2021-04-20 13:04] iegomez commented on #158
That sounds like a good idea, just not one I want to prioritize. But a PR with the base work would be very much appreciated, I can later fill in the blanks with needed secrets and configuration values.

[2021-04-22 19:24] mrdc commented on #91
@iegomez

Hi,

It again fails to compile on RPi with `mosquitto_client_id` error :(

`export CGO_LDFLAGS="-shared -Wl,-unresolved-symbols=ignore-all"` doesn’t help.
Probably I also did some extra steps previous time - don’t remember.

[code]

[2021-04-23 13:24] arctic-alpaca commented on #91
You can try [this Dockerfile](https://github.com/iegomez/mosquitto-go-auth/blob/023be3eaa41f92a25ad2dca202a433ad4a5de2d9/Dockerfile).
Or revert to a mosquitto version before 2, I think there were some extra steps with docker and version 2.x

[2021-04-23 15:21] mrdc commented on #91
@arctic-alpaca

Unfortunately, I'm not using Docker for mosquitto.

[2021-04-24 15:41] iegomez commented on #165
@jakubondrus I just rewatched your video and realized you're using SYS topics. I'm not really sure, haven't read the docs thoroughly, but aren't those supposed to be read-only broker information messages that any client can subscribe to?

[2021-04-24 16:06] jakubondrus commented on #165
Example ACL file in mosquitto git repo has it specificaly listed in ACL. Since they have it there I assumed it isn't "public" for all clients. I am not sure about this one tho. But if we ignore this topic, there is also situation where Klient2 published something to cli topic, while ACL had only pattern clients/%c listed to write. That means, that Klient2 is supposed to be able to publish only int

[2021-04-24 16:22] iegomez commented on #165
@jakubondrus Are you sure youŕe not allowing anonymous access at mosquitto's conf or something similar?
I just added this test to the suite, which checks that `Klient2` isn't able to write to topic `cli`, and it passes correctly: https://github.com/iegomez/mosquitto-go-auth/pull/166/commits/1147717612403cb4b885fee21150fe819f6eed91

[2021-04-24 16:47] jakubondrus commented on #165
I think this is config file I used when testing it (deleted commented lines). Allow anonymous should default to false unless there are no listeners defined.

[conf.txt](https://github.com/iegomez/mosquitto-go-auth/files/6370162/conf.txt)

[2021-04-25 01:56] iegomez commented on #165
Yeah, it should be the default. I haven't run your example conf (thanks for providing it by the way, :bowing_woman: ), I don't really have the time to do more poking right now (I haven't really run or used mosquitto in a very long while), sorry for that. Tests with your case are passing and it looks to me like there's an external problem. Probably a couple of `printf` here and there to see what's

[2021-04-26 08:05] jakubondrus commented on #165
No problem. Will take look at it and if I find something new I will get back to you. Thanks for looking into it.

[2021-04-26 15:45] mrdc commented on #91
Success!

This `Makefile` fixes the issue (mosquitto 2.0.10 and mosquitto-go-auth 1.5.0) . Somehow `export CGO_LDFLAGS="-shared -Wl,-unresolved-symbols=ignore-all"` doesn't work, but changes to `Makefile` work.

[code]

[2021-04-28 12:19] paul1982 opened #171 "Problems installing Ubuntu 18.04"
Hello everybody,
I'm trying to use the plugin, but I make some stupid mistakes it think.
I have removed the pre-installed version of mosquitto, and installed the 1.6.9 version as discrieped on the documentation page.
Mosquitto is now running fine, with Websocket enabled.

The second step is make..
I Think is that my knowledge of Linux is not good enough, so its probable a mistake I make.
I have cl

[2021-04-28 13:24] iegomez commented on #171
@paul1982 Where did you place `mosquitto-go-auth`? Could you try having it at `/home/your-user/go/src/github.com/iegomez/mosquitto-go-auth` and then trying from that `dir`?
The package is using Go modules for dependencies, but I haven't done anything special with submodules so it might need to be located there (sorry, I don't do much Go since almost a year and forget about these things).

[2021-05-01 17:43] iegomez commented on #171
Hey, @paul1982, any updates on this?

[2021-05-03 09:23] paul1982 commented on #171
@iegomez  , Thank you for your help, and sorry for my delayed reaction.

I have successful compiled the module!
The first thing i noticed that there was no Go folder in my home dir. So I created it.
After that the strange thing happens that the sub dir, where created for me..... (I think I dit something else, because I don't be leave it created it by it self.)

After the sub dir, where visible, I

[2021-05-03 13:19] iegomez commented on #171
Good to hear that it's working now. About your second problem, I agree it should be a separate issue, but for starters you're not supposed to send the whole hash from the client, just the plain password and it'll be hashed and compared against the stored hash. So, if you created your password like this:
[code]
And then stored it in say `Files` backend passwords:
[code]
Then your client needs to se

[2021-05-04 07:51] Kowiste opened #172 "One Authentication one client"
Hi,
I was reading but cant find any information about this, is possible to make that only one client can use one user/password. So if other try to use the same  give not authorize?

[2021-05-04 20:46] iegomez commented on #172
Hi, @Kowiste. You're right, that is not supported nor do I think it should be for a bunch of reasons, but I'm curious about your use case. Care to expand?

[2021-05-05 01:20] Kowiste commented on #172
Yes I would like to create a user password for every client that connect to the broker, so I can be able to revoke one client if something is wrong with it (someone have access to the client hardware for example), maybe add some limitation in the number of message per client.
What problem we could have (more CPU usage)?

[2021-05-05 01:28] iegomez commented on #172
A priori I believe it'd be better to revoke access to the user in that case: if they have access to the hardware, they could tamper with the client id, but if they don't have another set of valid credentials they won't get authenticated after you remove them from the backend you're using.

[2021-05-05 01:33] iegomez commented on #172
Do note that when I say not supported I mean out of the box as an option to tie a user to a clientid, you do have control over the passed options in most backends, e.g. if you have a separate http/jwt service, using gRPC, JS interpreter, etc, you can implement your auth logic however you want to.

[2021-05-05 09:07] #171 closed

[2021-05-05 09:19] paul1982 opened #173 "Problem with PBKDF2 Hash"
The plugin is working correct now..
But I still have problems with the PBKD2 hash.

This is what i have done:
My test account has the password 5633ac. (so my client sent this string as password.)
On my server I have generate a password with the command np. it ask for the password and I type 5633ac.
It generate every time a different password, I expected to be the same everytime.
If I put the gener

[2021-05-05 22:47] iegomez commented on #173
Please use the plugin provided `pw` utility to generate the password hash, e.g. using defaults:
[code]

Since `pw` and the plugin use PKBDF2 by default, as well as the same same default hashing options when not provided, you can omit all `auth_opt_hasher` options and it should work out of the box with the password generated in the previous step.

Yes, that's because it uses a random salt at the mo

[2021-05-07 07:40] paul1982 commented on #173
Oke, now it works....
So I think i used the wrong password tool.

Sorry for the stupid mistake.

I want to thank you for you quick response and good job on the plugin. It fills a big gab in the mosquitto project.
Is there some kind of support button where I can make a little donation?

[2021-05-07 07:40] #173 closed

[2021-05-07 11:56] iegomez commented on #173
I appreciate it, @paul1982, but this is just a hobby project for me, maybe it just went a bit too far. 😅
So no need to donate, I'm doing well in my day job, just keep using it and report any issues so we can make it better!

Cheers!

[2021-05-09 21:26] isabyr opened #174 "Authentication problem with docker image version 1.6.0"
There is problem authentication against files (maybe with other backends too) with docker image 1.6.0. Everything works as expected with 1.5.0. Steps to reproduce:

1. **mosquitto.conf**
[code]
2. **acl.conf**
[code]
3. **passwords.txt**
[code]
4. **Docker-compose**:
[code]
5. **client.py**
[code]

With those setup it prints:
[code]
And if we change version to 1.5.0 everything works great:
[code]

[2021-05-11 16:02] zainali84 opened #175 "ACL with HTTP"
Hi,

I am trying to use this plugin with HTTP backend and had following configuration,
![image](https://user-images.githubusercontent.com/40838541/117846920-2ddec980-b282-11eb-9df4-5a6b53d3bfe0.png)

When i try to subscribe a restricted topic, my API "/mqttAcl" returns 401 response but for mqtt client, topic is subscribed.
![image](https://user-images.githubusercontent.com/40838541/117847529-b52c3

[2021-05-12 09:51] zainali84 commented on #175
Hi @iegomez,
I get it now. So the functionality is working fine.
For client, I was using MQTT.fx and I was able to subscribe the topics but did not test it by publishing data on same topics. So now I tried to send data by publishing and the subscribed topic is not getting data. So functionality is working as I am not getting published data for restricted topics.

[2021-05-12 09:52] #175 closed

[2021-05-13 01:11] iegomez commented on #174
Oh, @isabyr, before testing anything, I believe I know what's your problem: `1.6.0` added a `JWT files` mode, so options for pure `Files` backend now need to be prefixed with `files_` to specify `password/acl` paths (see https://github.com/iegomez/mosquitto-go-auth#files for more details):
[code]
Please check if correcting options works; if not, let me know and I'll dig further.

[2021-05-13 18:25] isabyr commented on #174
Yeap, you are right. Now everything works as intended. Thanks!

[2021-05-13 18:25] #174 closed

[2021-06-10 13:53] #91 closed

[2021-06-21 08:37] dmsherazi opened #180 "Backend register error: couldn't initialize mysql backend"
When I start mosquitto with the go auth plugin I get this error . Although I have setup the dbname, user , password and user querry

Below are the fields in cornceren from the conf file

[code]
But still I get this error

` Backend register error: couldn't initialize mysql backend with error MySql backend error: missing options:  mysql_dbname mysql_user mysql_password mysql_userquery.`

[2021-06-21 11:17] dmsherazi commented on #180
I found that the authplugin was loaded twice in the config so removed the second line and now I get this problem

`g database mysql error, will retry in 2s: dial tcp: lookup db-mysql-22xxxx-do-user-1xxxx-0.b.db.ondigitalocean.com : no such host
`
although if I try on command line  the below command I can access the mysql

`mysql -u DBUSER-h db-mysql-22xxxx-do-user-1xxxx-0.b.db.ondigitalocean.com -

[2021-06-21 17:27] iegomez commented on #180
@dmsherazi I'm sorry but that sounds like an environment configuration problem, there's not much I can do about it without more details.

[2021-06-22 05:13] dmsherazi commented on #180
I am using digital ocean hosted db and I think thats causing the issues. Will try to solve that. @iegomez Thanks for this awesome plugin.

[2021-06-22 05:13] #180 closed

[2021-06-22 06:20] dmsherazi commented on #180
Just for those who might face this issue:

There was no issue with the env or the digital ocean. The issue was that the password in the .conf file had a trailing space which was not obvious to me when I copied it . The command line wont have an issue with a space at the end or start but the conf file of the plugin / mosquitto doesnt trim it and includes the space.

Got the clue from the mysql trou

[2021-06-24 11:10] IoTThinks opened #181 "Backend register error: couldn't initialize jwt backend with error unknown JWT mode."
Hi all,
I hit an issue with JWT when following the guide at https://www.chirpstack.io/project/guides/mqtt-authentication/

I can fix some outdated params in the guide.
And I'm able to make backend files and postgres working.
* I use the latest of this library using git clone.
* My go version is 1.13.8 linux/amd64.
* Ubuntu 20.04 LTS.

However, when I use "auth_opt_backends files, postgres, jwt"
I

[2021-06-24 13:44] iegomez commented on #181
Hi, @IoTThinks, at first glance this seems to be the problem:
[code]
That's a deprecated option, replaced in favor of `jwt_mode`, which is mandatory and why you're getting an error. The option accepts `local`, `remote`, `js` and `files` modes; in your case, pass `local` to use a local DB.

Notice also that options for the DB should prefixed with the one being used, i.e. the option would be `auth_o

[2021-06-24 13:47] IoTThinks commented on #181
Let me try with your params.

Thanks a lot.

[2021-06-24 14:25] iegomez commented on #181
@IoTThinks Also, when in doubt, I suggest checking tests to see how backends work and what are the expected options. E.g., for JWT local mode, `userquery` is not prefixed with the DB slug because it's mandatory for any DB that's used (this is shown in the docs as well, but maybe it's not very clear), so we may fail immediately when not present, but other queries are DB prefixed: https://github.com

[2021-06-24 14:36] IoTThinks commented on #181
I think I may not need jwt.
Files and Postgres will do the job well.

AFAIK, JWT is used to connect to REST API of Chirpstack servers.

If JWT and Postgres are using the same ChirpStack server, there is no point for me to support both JWT and Postgres?

I appreciate your effort answering me.

[2021-06-24 14:41] iegomez commented on #181
Yeah, for a conventional Chirpstack instance you shouldn't need JWT I think, haven't used it in a couple of years now.
I implemented the JWT backend because at the time I was doing some custom publishing of events to update the UI on the fly, e.g. changing some state of GPS enabled devices in a map, and wanted to reuse the JWT token from the Chirpstack's app server. But if you don't have such a us

[2021-06-24 14:44] IoTThinks commented on #181
Ok let me drop JWT support in my case.
Thanks for your usecase.

I may try your suggestion of JWT in free time.

[2021-07-25 23:02] amin-is opened #184 "MongoDB Acls example for given topic permission to another users"
Hi,
mosquitto-go-auth  for MongoDB working fine for user "abc" and it's given acls topics. But i need to put extra alcs topics for other users into acls collection. I need an example for Acls for mongodb collection.

For user authentication and acls this is working well
`auth_opt_mongo_users mosquitto_users`

How to use this acls for given topic permission to other user
`auth_opt_mongo_acls mosqui

[2021-07-26 14:58] iegomez commented on #184
Hi, @amin-is. Did you make sure to also insert the user in the user's collection and not only their ACLs?
If so, could you run with log level set to debug to see where it fails to authenticate or authorize?

[2021-07-26 19:40] amin-is commented on #184
@iegomez   Thanks for your Responds. Here is my mosquitto logs

[code]

User xyz can not access topic `abc/topic_1`

_2021-07-26|19:00:04: Denied PUBLISH from User-xyz (d0, q1, r0, m7, 'abc/topic_1', ... (1 bytes))
2021-07-26|19:00:04: Sending PUBACK to User-xyz (m7, rc135)
2021-07-26|19:00:05: Denied PUBLISH from User-xyz (d0, q1, r0, m8, 'abc/topic_1', ... (1 bytes))
2021-07-26|19:00:05: Sending

[2021-07-26 20:56] iegomez commented on #184
I have never used Mongo other than setting a dummy instance to test the plugin, so I'm not sure how it works internally. I'm guessing inserting a document with the same `username` just created a separate object with a new `id`, the same `username` and the fresh ACLs, which won't get picked up because there's already an earlier record and the backend aims to find only one: https://github.com/iegome

[2021-07-26 21:54] amin-is commented on #184
@iegomez  I am very glad to your early responds. sir please clear this query

Inside the mosquitto configuration

For mysql backend mosquitto username and password check from mosquitto_user table

`auth_opt_mysql_userquery SELECT password_hash FROM mosquitto_user WHERE username = ? limit 1`

and acls check from separate acls table
But if i comment before below this line then any user can access an

[2021-07-26 22:03] iegomez commented on #184
@amin-is `auth_opt_mongo_acls` option allows to define a collection that contains general ACLs, i.e. that apply to all users and which may use the `%u` and `%c` patterns as they work in regular static files checks.

The `auth_opt_mongo_users` option on the other hand allows to define existing users and their specific ACLs. Hope that clarifies it a bit.

[2021-07-27 16:46] iegomez commented on #184
@amin-is let me know if there's anything else before closing this issue.

[2021-07-27 17:04] amin-is commented on #184
Sir last think i need to know about these 2 line. How superuser option work in this plugin and `insecure_skip_verify` thats it.
`auth_opt_mongo_disable_superuser true`
`auth_opt_mongo_insecure_skip_verify false`

[2021-07-27 17:18] iegomez commented on #184
- The first one allows to disable `superuser` checks for the specific backend, i.e. no user will be a superuser even if the record has it set to true.
- The second one is actually not being used, but if it were it would allow to skip peer verification when setting TLS options here: https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/mongo.go#L120. So unless you're planning to connect

[2021-07-27 17:26] amin-is commented on #184
Thanks your sir. I am very appreciate for your support.

[2021-07-27 18:12] #184 closed

[2021-07-31 00:14] iegomez commented on #172
Hey, @Kowiste, I'm closing this issue for inactivty, ping me if you want to discuss further.

Cheers!

[2021-07-31 00:14] #172 closed

[2021-07-31 00:15] iegomez commented on #165
Hey, @jakubondrus, I'm closing this issue for inactivity. Ping me if you want to further discuss it.

Cheers!

[2021-07-31 00:15] #165 closed

[2021-07-31 00:16] iegomez commented on #162
@ShivamJoker any updates on this? Let me know if I can close it otherwise.

Cheers!

[2021-07-31 00:17] iegomez commented on #158
Docker images are now being built through Github actions, so I'm closing this issue. Let me know if thereś any other concern, @thomastvedt.

Cheers!

[2021-07-31 00:17] iegomez commented on #111
I'm closing this issue for now, but you can let me know if you want to revisit the idea.

Cheers!

[2021-07-31 00:17] #111 closed

[2021-07-31 00:18] #158 closed

[2021-07-31 00:19] iegomez commented on #106
It's been a while since I started and then forgot about this, please ping me if there's still interest in getting it implemented.

Cheers!

[2021-07-31 05:00] ShivamJoker commented on #162
Hey sorry I got caught up but I'll definitely try this week

[2021-07-31 08:30] ShivamJoker commented on #162
What I am thinking is we already have an image on dockerhub and we are publishing it on every release
And  here is the action for it by @arctic-alpaca
https://github.com/iegomez/mosquitto-go-auth/blob/master/.github/workflows/build_and_push_docker_images.yml

What we can do is run the container with the image and copy the goauth.so file and publish it to github releases.

I also don't have much ex

[2021-07-31 13:37] arctic-alpaca commented on #162
I can't currently help much with this sorry.

A first step could be to document how to get the `goauth.so` file from a Docker container to help people who can't compile it themselves.

I'm not sure whether this is relevant. Are there differences in the resulting `goauth.so` file depending on whether glibc or musl is used by the building OS? I think I remember some issues with the Docker containers

[2021-08-01 18:49] alljoynsville opened #185 "wss / websockets over ssl"
I can't connect to wss (websockets over ssl). It worked in older 1.5/1.6 versions.
Is there a different way to use it now?

[2021-08-02 02:09] iegomez commented on #185
Hi, @alljoynsville. Could you be a bit more specific about what connection would be that? If you're talking of client to Mosquitto broker connection, then that has nothing to do with the plugin but with Mosquitto itself. Or are you referring to something else?

[2021-08-02 14:56] alljoynsville commented on #185
Hi,
I'm using a javascript mqtt client - websockets over tls
with image iegomez/mosquitto-go-auth:1.6.1-mosquitto_1.6.14 it works as expected
with image iegomez/mosquitto-go-auth:1.7.0-mosquitto_2.0.9 connection fails

[2021-08-02 15:19] iegomez commented on #185
Ah, you meant using docker images, that's important because indeed they provide an already built `mosquito`.

That said, this is the commit for `1.7.0` changes, there's nothing related to how the image is built there: https://github.com/iegomez/mosquitto-go-auth/commit/5dc063f1041b94dd67ededf47f79fa58b0968c68

So I'd really need more details, logs, etc., to even start looking. Could you try buildi

[2021-08-02 16:01] iegomez commented on #185
One more thing, are you able to connect through regular, non TLS websockets? That would help determining if its TLS support or websockets themselves that are failing. Since you're using Mosquitto `2.0.9` in version `1.7.0`, maybe that version has some issues with the libwebsockets one.

[2021-08-02 16:06] alljoynsville commented on #185
I'm not using non secure sockets but ill try it and update you.
I'll also try to build locally and test with the local build

[2021-08-02 21:38] alljoynsville commented on #185
ok, I verified, websockets works, both in secure and unsecure mode. thanks for your help and time!

[2021-08-02 21:38] #185 closed

[2021-08-02 21:54] iegomez commented on #185
@alljoynsville I'm glad it's working for you now.

Cheers!

[2021-08-05 17:55] davidstx opened #186 "Load Balancer with mosquitto-go-auth"
More of a question than an issue

I am using a Load Balancer with 2 MQTT endpoints.  Can the the mosquitto-go-auth backend database be on the load balancer?  If its possible how would I configure mosquitto-go-auth on the endpoints to see the database on the Load Balancer?

Thanks
Regards
David Stevenson

[2021-08-05 18:12] iegomez commented on #186
Ho, @davidstx. I'm not sure I understand the question: what are these 2 MQTT endpoints? And if the DB or anything was behind a load balancer, would the LB expose just a single entry?

[2021-08-05 23:10] davidstx commented on #186
Hi @iegomez

Thank you for taking the time to help me, its greatly appreciated

The client would connect to the Load Balancer and this would authenticate the user before processing the message. This would mean a single authentication database, The database would not necessary have to be on the Load Balancer
The alternative I am trying to avoid is each mqtt server having its own database which will

[2021-08-05 23:23] iegomez commented on #186
Ah, gotcha! Thanks for that diagram, @davidstx, quite helpful!

If I'm understanding correctly, you'll have a single DB handling auth for both brokers, right? And you want to set the hostname and port (as well as username, password, maybe TLS settings, etc.) for said DB.

If that's the case, MySQL backend allows to do that just as Postgres one do by setting its options:
[code]

You'll just need to

[2021-08-06 00:02] davidstx commented on #186
Hi @iegomez

Thanks for your help apologies I did not realise it was so simple.
Is there backend in the works for Maria DB or can the mysql settings be used on Maria DB?

Regards David

[2021-08-06 00:26] iegomez commented on #186
Good question, @davidstx.

AFAIK, MariaDB is supported by the MySQL driver package that the backend is based on: https://github.com/go-sql-driver/mysql#features
So i want to say "yeah, it' already supported out of the box", but I'll admit to never have tried it an may be unaware of any caveats. Hopefully there are none!

[2021-08-06 00:46] davidstx commented on #186
Hi @iegomez

I am going to see if I can get Maria DB working, I will let you know how I get on.

Thanks for your help,

Regards David

[2021-08-06 00:46] #186 closed

[2021-08-10 16:31] davidstx opened #187 "Argon2id Config Error"
Hi @iegomez

Sorry to bug you again.

I am trying to use Argon2Id with MySql, below is what I have in my config, what am I doing wrong,

auth_opt_mysql_hasher argon2id
auth_opt_mysql_hasher_salt_size 16           # salt bytes length
auth_opt_mysql_hasher_iterations 3           # number of iterations
auth_opt_mysql_hasher_keylen 64              # key length
auth_opt_mysql_hasher_memory 4096       #

[2021-08-10 22:44] iegomez commented on #187
Hi, @davidstx, no worries.

That looks similar to https://github.com/iegomez/mosquitto-go-auth/issues/125.
How are you configuring the plugin, i.e. what files are being included? Could you try throwing everything in the same file inside `conf.d`, including the `auth_plugin` option that load the plugin at the top of the file?

[2021-08-10 23:18] davidstx commented on #187
Hi @iegomez

Apologies, I found the error, there was a 2 missing after _auth_opt_mysql_hasher_parallelism_. Unfortunately I have another problem now, the client on sparkmqbroker01 Ip address 109.228.35.83 is not trying to connect to the database server on IP 185.132.42.82

I have set 185.132.42.82 in the default.conf file.

![Ip address Error](https://user-images.githubusercontent.com/64308502/128

[2021-08-11 00:37] iegomez commented on #187
I'm glad you worked out the other issue, @davidstx.

For the current one, the error is saying that `'mosquittoauth'@'109.228.35.83'` does not have access to your DB instance. I don't know how you configured remote access in your DB server, maybe it's just allowing the hostname but not the IP? Can't really help much because it sounds like MySQL configuration needs troubleshooting. You could maybe w

[2021-08-11 01:00] davidstx commented on #187
Hi @iegomez

I will have look to see if I can find anything, the client is not even getting to the database server because it trying to connect with the incorrect IP address from the authentication plugin - its as if the plugin is not seeing the ip address and using the default localhost.

The database has been set to allow remote usewrs in - I have tested this by connecting with a sql query tool

[2021-08-11 01:49] davidstx commented on #187
Hi @iegomez

Completely removed every trace of MySql and MariaDB from the client, rebooted. Installed the database client and I still get the plugin trying to connect to the localhost

Regards David

[2021-08-11 02:19] iegomez commented on #187
@davidstx from your issue I don't see it trying to connect to the wrong host, i.e. `109.228.35.83`, it's trying to connect **from** that host, thus `'mosquitto'@'109.228.35.83'`, because that is the origin of the client. The DB is clearly responding with `denied`, hence why I mention it looks like a MySQL configuration issue that maybe isn't allowing client IPs, only hostnames.

You can test by gr

[2021-08-11 02:23] iegomez commented on #187
You can see details in the docs: https://dev.mysql.com/doc/refman/8.0/en/connection-access.html

[2021-08-11 03:16] davidstx commented on #187
@iegomez

Thanks for your last reply, it helped solve the issue. Have not used MySql much and was setting it up the way I would Oracle.

In the start up info I see Extended authentication not enabled

Is this something I need to worry about

`1628651480: Loading plugin: /etc/mosquitto/conf.d/go-auth.so
1628651480:  ├── Username/password checking enabled.
1628651480:  ├── TLS-PSK checking enabled.

[2021-08-11 11:19] iegomez commented on #187
I don't think so, that comes from Mosquitto and I'm not entirely sure what it refers to.
I'll give it a check though.

[2021-08-11 23:25] iegomez commented on #187
@davidstx I just checked and there's nothing to worry about, this comes from Mosquitto's own security extension: https://mosquitto.org/documentation/dynamic-security/

It's printed in these bits on `security.c`:
[code]
So feel free to dismiss that message.

[2021-08-11 23:43] davidstx commented on #187
Hi @iegomez

Thanks for checking and thanks for all the help.

Regards David

[2021-08-11 23:43] #187 closed

[2021-08-12 13:56] dgoebel97 opened #188 "Startup error prebuilt docker image ARMv6"
Hi @iegomez,

I'm currently trying to run this software with Docker on a Raspberry Pi B+ (`ARM32v6` architecture) with the prebuilt images with this minimal `mosquitto.conf`.
[code]

When I point  `auth_plugin` parameter to the correct location `/mosquitto/go-auth.so` in the docker container then the startup fails with this error.
[code]
I already checked that the compiled plugin is really there i

[2021-08-12 17:26] iegomez commented on #188
Hi, @dgoebel97, thanks for reporting it.

Sadly, I don't use Docker (or the plugin, for that matter) nor do I have a RPi to test it on, so best I can tell you is to build from source in the RPi instead of using Docker and see what errors may come up.

Sorry for the very unhelpful response. 😅

[2021-08-13 10:00] dgoebel97 commented on #188
Hi @iegomez,

That's what I thought after reading the other docker related issues but I wanted to report this issue at least. :sweat_smile:

But compiling on the RPi leads to another issue.
I used the following versions for compiling
 * go 1.16.7
 * gcc 8.3.0
 * mosquitto 2.0.9
 * mosquitto-go-auth 1.7.0

This is the output of the build process.
[code]
Could this be related to the compiling issues

[2021-08-13 10:28] dgoebel97 commented on #188
That's what I thought after reading the other docker related issues but I wanted to report this issue at least :sweat_smile:

Unfortunately, I ran in a bunch of other issues when compiling it on the RPi.
I will try it on the RPi 4 next week again and hope that then there will be no issues with the Docker images.

[2021-08-16 10:02] dgoebel97 commented on #188
On the RPi 4 it works without any problem.

Thanks for the awesome plugin. :+1:

[2021-08-16 10:02] #188 closed

[2021-08-26 09:21] g0lgs opened #189 "Enhancement : LDAP"
I would like to see LDAP support added.

[2021-08-30 09:47] TacoNaco47 opened #190 "JWT in local mode with mysql"
Hey there!

First of all, thank you for all the effort you put into this mosquitto plugin. :)

Currently, I am trying to implement this into my own MQTT server, but I struggle with the JWT authentication just a bit.

This is my configuration:

[code]

So far, everything seems to be working (the service doesn't crash and the plugin writes accordingly into the specified file "mosquitto_backen.log").

[2021-08-30 10:26] TacoNaco47 commented on #190
Couldn't let go of this so I researched a bit more... ^^

In jpmens archived plugin repo under [JWT](https://github.com/jpmens/mosquitto-auth-plug#jwt-auth) he describes it more clear in my opinion:

That hint "the username field is interpreted as the token-field" was crucial for me to get things right. I've just found out you stated this already:

But to be honest, the documentation is a bit hard

[2021-08-30 13:18] iegomez commented on #190
Hey, @TacoNaco47!

I'm glad you found your issue, and I'm always open to review PRs to improve the docs, so feel free to open one one with more details.

Cheers!

[2021-09-02 23:53] iegomez commented on #190
I'll close the issue for now. Feel free to reach me or open a PR with enhancements to the docs.

Cheers!

[2021-09-02 23:53] #190 closed

[2021-09-03 14:35] paul1982 opened #191 "Prefix does not work with JWT plugin"
I want to use the prefix option to route the IOT devices to the mysql plugin, and the webusers to the JWT plugin.
Therefore I have to add the prefix before the JWT string.
I can see in the debug that the prefix is recognized and the JWT plugin is selected.

But the JWT token is not valid, because the prefix is added tot the string, but is not removed before it is checked.

I hope you can help me.

[2021-09-03 17:22] iegomez commented on #191
Hi, @paul1982!

That's really odd, since `username` is trimmed [here](https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/backends.go#L361) for auth check, and [here](https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/backends.go#L420) for ACL check. I'll give it a check, but do you have evidence it's checking it with the prefix included? You could throw a couple of pr

[2021-09-03 20:50] paul1982 commented on #191
If I add the prefix to the token, I get this:

DEBU[2021-09-03T22:39:30+02:00] Found prefix for user WEB_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxLCJmaXJzdE5hbWUiOiJQYXVsIiwiaW5zZXJ0TmFtZSI6IiIsInN1ck5hbWUiOiJQb3N0IiwicGhvbmVfbnVtYmVyIjoiMDY0NTY5MDY5NSIsIm1vYmlsZV9udW1iZXIiOiIwNjQ1NjkwNjk1IiwiZW1haWwiOiJwLnBvc3RAYWtvYmUubmwiLCJyb2xlX2lkIjoyLCJyZWxhdGlvbl9pZCI6MX0sImlhdCI6MTYzMDcwMT

[2021-09-03 20:52] paul1982 commented on #191
Ohhhhh I forgot,.. Thank you for your Quick response and effort

[2021-09-03 20:57] iegomez commented on #191
@paul1982 As you can see in the logs, the JWT token gets parsed (so the prefix must have been trimmed, otherwise you'd see a different error) but there's a timing issue, thus the `Token used before issued`. I'm guessing you have a time difference between the server for the service providing the token and the server where Mosquitto is running.

[2021-09-03 20:59] iegomez commented on #191
Notice that the token is being logged before doing the stripping, not after it's passed to the JWT backend, just in case you were wondering why you see the prefix in the logs.

[2021-09-13 08:14] Vorlif opened #192 "Mosquitto should start also without a GRPC connection"
Currently, Mosquitto cannot be started if the plugin cannot establish the GRPC connection. GRPC however, (can) uses a reconnect mechanism and establishes a connection independently. I realize that the plugin cannot be used if GRPC is configured and the remote site is unreachable. Withal, I don't think it should keep the entire service from launching just because the connection can't be established

[2021-09-13 14:35] iegomez commented on #192
Hi, @Vorlif. Thanks for bringing this up, I think you're right and it makes sense to allow retries when attempting to create the client. I'll add it as an option.

[2021-09-13 15:05] iegomez commented on #192
I'll admit I haven't touched the gRPC backend in a couple of years now, so if you wanna contribute a PR adding the option instead, I'll happily review it.

[2021-09-14 07:09] Vorlif commented on #192
Hi @iegomez. Thank you for your quick reply. I would be happy to contribute something to the project. But it will take until the weekend before I can open a PR.

[2021-09-14 14:54] iegomez commented on #192
@Vorlif I had some time and came up with an initial attempt that allows to skip dial failure on initialization and only set the client on a user or all check one the service is up. I don't really have a gRPC service running to properly give it a try, but I added some basic automated tests to check it.

Could you take the branch for a spin to see if it works for you?

[2021-09-14 14:55] iegomez opened #194 "Docker builds failure"
Docker builds are failing with this error:
[code]

[2021-09-14 18:31] Vorlif commented on #192
@iegomez I have tested it and it works. :+1:  I left you also a suggestion as a comment in the PR.

Thanks for your effort and the project.

[2021-09-15 16:46] #192 closed

[2021-09-15 16:47] #194 closed

[2021-09-15 18:13] #160 closed

[2021-09-15 18:19] iegomez commented on #191
@paul1982 were you able to confirm that the error is related to timing issues and not the prefix?

[2021-09-16 17:48] paul1982 commented on #191
Yes iets was my fault!  It works great. The real problem was time
differents between my development systeem and the server. Sorry for my late
reaction

Op wo 15 sep. 2021 20:19 schreef Ignacio Gómez ***@***.***>:

[2021-09-16 17:51] iegomez commented on #191
No problem, thanks for letting me know!

[2021-09-16 17:51] #191 closed

[2021-09-22 08:56] flumpt opened #197 "Prefix not working with files backend"
Hello,

i am using the docker image iegomez/mosquitto-go-auth:1.8.0-mosquitto_1.6.14 and am experiencing an issue with the files backend and prefixes.

When i am trying to connect to the server providing the prefix with the username (files_recorder) i get an error "Connection refused: Not authorized". The docker container only prints the following logs with debug level:
[code]
On the other hand wh

[2021-09-22 13:29] flumpt opened #198 "Docker Image connection issue over TLS in Firefox"
Hi,

i ran into another problem using the docker image. Apparently Firefox has an issue connecting to websockets via HTTP2. There is a workaround by disabling HTTP2 in libwebsockets.

Can you maybe apply the same fix to your Dockerfile that they did over at https://github.com/eclipse/mosquitto

Link to the PR with the fix: https://github.com/eclipse/mosquitto/pull/2255

Thanks in advance!

[2021-09-22 13:33] iegomez commented on #197
Hi, @flumpt.

Could you provide your configuration, passwords (redacted) and acl files to try to reproduce?

[2021-09-22 13:36] iegomez commented on #198
Hi again!
Sure, I'll try to do the change later today.

[2021-09-22 17:38] flumpt commented on #197
Sure @iegomez. Thank you for your quick response!

mosquitto.conf:
[code]

passwords:
`recorder:PBKDF2$sha512$100000$<redacted>`

acl:
[code]

[2021-09-22 19:47] iegomez commented on #197
Cool, thanks, I'll take a look when I get a minute.

[2021-09-23 22:47] iegomez commented on #198
@flumpt just opened a PR, I'm waiting for checks to pass and I'll merge to master. I won't release yet because I wanna take a look at your other issue first and then release a patch for both in case I fin a bug.

[2021-09-23 22:58] iegomez commented on #197
Oh, silly me, I just checked you files and noticed the problem: except for JWT, where the token must be a valid one and thus it needs the prefixed stripped, the rest of the backends will look for the entire username, including the prefix. So in this case, your files should look like this:
Passwords:
[code]
Acls:
[code]

[2021-09-23 23:01] iegomez commented on #197
@flumpt I see how this can be a bit confusing and users may expect the prefix to be stripped, but it never was the case. I'll consider adding an option to strip the prefix, hopefully sooner than later, but for now that should fix it. Could you try it out to confirm?

[2021-09-23 23:42] iegomez commented on #197
Nevermind, I already opened a PR adding an option to strip prefixes on checks. Once it passes checks, I'll merge both and release a new version.

[2021-09-24 00:49] #197 closed

[2021-09-24 08:07] flumpt commented on #197
@iegomez Thanks for clearing this up and also providing an option to strip the prefix also for other backends. Works like a charm!

[2021-09-24 08:19] flumpt commented on #198
@iegomez Thanks for adding the option! Sadly it is still not working. In the comments of https://github.com/eclipse/mosquitto/issues/1211 they also suggest to add `-DLWS_WITH_EXTERNAL_POLL=ON`.
I've not been able to try it myself because of errors when building the Docker image. I'm actually not sure what the external poll does and don't want to bother you anymore with this. So if you're to busy t

[2021-09-24 11:09] iegomez commented on #198
@flumpt could you give adding that flag a try? I don't have my personal machine with me and thus nos etup available to quickly test it.
If it works, feel free to open a PR or ping me and I'll add it.

[2021-09-27 10:03] flumpt commented on #198
Hey @iegomez,
i got to work on this issue and recognized some problems in the Dockerfile. I created a PR #201 with some changes which fix this issue but also change a few other things.

1. libwebsockets are only built for mosquitto v2 so the change you made has no effect when v1.6 is used. I removed the check so that they are also built for v1.6.
2. I don't quite understand why you are starting fr

[2021-09-27 12:11] iegomez commented on #198
Hey, @flumpt! I'll take a look as soon as I can.

The quick answer is that I didn't create the Dockerfile nor do I use it, it's been a contribution by several others users and all I did last time was patch it to build `libwebsockets` from source because it was failing to find the package in Debian. It seemed to start building cleanly again, but clearly I messed something up. Hopefully your PR reme

[2021-09-28 07:07] flumpt commented on #198
@iegomez Apparently it seems to work without the flag. When i added it i recognized that i don't even get to the point that the flag is used because debians internal `libwebsockets` were used for the mosquitto version i am using. So i removed the flag and instead ensured that the `libwebsockets` are also built for mosquitto v1.6 and your fix with deactivating HTTP2 did have an effect.

[2021-09-28 11:14] iegomez commented on #198
Cool, thanks for that!

[2021-09-28 12:20] #198 closed

[2021-10-01 09:32] YerayAlonso opened #203 "Complex queries for mysql"
I find problems doing a complex query for the `auth_opt_mysql_userquery`.
I found [this comment](https://github.com/jpmens/mosquitto-auth-plug/issues/31#issuecomment-58024678) which seems to suggest you can call `SET` to store the `?` variables and then use these variables in your `SELECT` call. Both calls at the same `auth_opt_mysql_userquery` line.
However, I get an error saying the `SELECT` sta

[2021-10-01 12:17] iegomez commented on #203
Hi, @YerayAlonso!
I don't think there's a clean way to do it generically, you'd need access to the actual query building to set named parameters, but the idea proposed in the comment you linked seemed a reasonable enough workaround. May I ask what's your actual query and how is it failing?

[2021-10-01 16:43] YerayAlonso commented on #203
Sorry for not explaining the situation clearly enough.
I have two tables, `users` and `connectors`. Both them have `UserName` and `PasswordHash`, and `connectors` also has a `UseOwnerCredentials`. Then I want to search the credentials in one table or the other depending on `UseOwnerCredentials`.

I think I could get the correct `PasswordHash` without needing to use `?` multiple times with this:

[

[2021-10-01 16:43] #203 closed

[2021-10-01 16:53] iegomez commented on #203
Cool, I'm glad you were able to figure it out!

[2021-10-04 14:42] BrentLeemans opened #204 "could not use requested auth plugin 'mysql_native_password'"
Whenever I try to connect to my mysql database I get the following error:
`$ mosquitto -v -c mosquitto.conf `
[code]
[code]
If there is any more information needed please let me know. Thanks!

Versions:
go version go1.13.8 linux/amd64
mosquitto version 1.6.8

[2021-10-04 16:03] iegomez commented on #204
Hi, @BrentLeemans!

I think you're just missing the option to allow native passwords, i.e.:
[code]
Let me know if that works.

[2021-10-05 07:34] BrentLeemans commented on #204
Woops, that was it. Thank you for pointing that out!

[2021-10-05 07:34] #204 closed

[2021-10-05 12:01] BrentLeemans opened #205 "mosquitto.service: Failed with result 'exit-code'"
##question 1##
I've copied the service config from the README and when I try to run the mosquitto service: `sudo systemctl start mosquitto` I get the following errors:
[code]

However I can run mosquitto this way: `mosquitto -v -c mosquitto.conf`

##question 2##
My current userquery looks like this:
`auth_opt_mysql_userquery SELECT password FROM user WHERE name = ? limit 1`

This is the config of

[2021-10-05 13:19] iegomez commented on #205
1) I don't know what you system is and why it fails to start the service, you'll have to do some more debugging. Sadly, I can't keep guides for all systems nor is _how to run Mosquitto_ in the scope of this project; hell, I can't even keep the simple examples up to date because I don't use Mosquitto nor the plugin at the moment. 😅

2) You don't need to pass anything, the `salt` is stored along wit

[2021-10-05 19:33] BrentLeemans commented on #205
1. I run Ubuntu and when I disable the plugin my service runs. I will do some more debugging and try to find the problem.
2. In my database I have stored the salt as a separate property, this is what the table looks like: `name`, `password`, `salt`.  I've had some problems with the pbkdf2 hasher but I will try again tomorrow and see what comes up. Bcrypt works tho so I might just use that one. Tha

[2021-10-05 19:33] #205 closed

[2021-10-05 19:41] iegomez commented on #205
@BrentLeemans there's no way to pass that separate salt you have in your DB, PBKDF2 generates a random salt when hashing and stores it along with the hash, so that's what gets used to hash the incoming password before comparison.

[2021-10-05 19:47] BrentLeemans commented on #205
All clear, thanks!

[2021-10-11 08:29] BrentLeemans opened #207 "Authorization"
How does ACL work with this plugin? I'm using mysql as my backend and I'm not sure how I would define which users have access to certain topics. I also think it would be a good idea to add it to this readme, I can do that. I've read the section of ACL access values but I'm not sure how this works or where to implement it. Could you please give me an example?

This is my current config:
`
#Config
a

[2021-10-17 20:56] yorgyetson opened #208 "Pass JWT Secret from config in to JS interpreter?"
Ignore this.

[2021-10-17 23:39] #208 closed

[2021-10-22 11:32] KrYpToDeN opened #209 "FATA[2021-10-22T11:29:51Z] error initializing backends: unknown backend mysql"
Hello.

I got this while running mosquitto with your plugin.
Any backends show this error.
`ATA[2021-10-22T11:29:51Z] error initializing backends: unknown backend mysql`

Debian 10. Latest mosquitto and plugin version.

How can i solve it?
Thanks.

[2021-10-22 13:23] #209 closed, assigned to nobody

[2021-11-14 01:47] inteldon opened #211 "Unable to run docker images"
Thanks for your work on this docker container.

I tried running `docker run -it --name my_mosquitto -p 1883:1883 iegomez/mosquitto-go-auth` and got an error `Error: Unable to open config file /etc/mosquitto/mosquitto.conf.` the same thing occurs with simpler docker commands to run the image.

Please advise on what needs to be done.

Thank you

[2021-11-14 05:42] hezll opened #212 "Any password can connect if use mysql auth???"
We user this plugin for a long time. But recently the security team report that any password can connect the queue if the user is existed.

So we have a look and test with the source code.

It looks like the issue comes with the hash.compare function

https://github.com/iegomez/mosquitto-go-auth/blob/master/backends/mysql.go

if o.hasher.Compare(password, pwHash.String) {
                log.Debug

[2021-11-14 05:53] hezll commented on #212
![image](https://user-images.githubusercontent.com/1241715/141669348-407813a7-4f0b-4710-9cc0-d9555aa051da.png)
![image](https://user-images.githubusercontent.com/1241715/141669401-adc191a2-18e9-47fc-b368-a56835f6b93f.png)
As the test code here, I just try with some simple compare,  all return true.

Thats why we can use any password to access the MQTT.
Please let me know is there any issue.

[2021-11-14 05:55] hezll commented on #212
if o.hasher.Compare("abasdfasdfc",pwHash.String) {
                        log.Debugf("testuser__abasdfac== hashString")
                }

this "abas..." is not password at all.. In put any string , can return true here.

[2021-11-15 07:08] hezll commented on #212
![image](https://user-images.githubusercontent.com/1241715/141736732-fe54d97e-81ff-454f-a774-54df4f4877e0.png)
solve the issue. It could be a legacy password pw utility.
It return PBKDF2$sha512$100000$lgPFxtJ3XZjNbXMBsa6q2A==$
so the splitHash[4]  return ''  then the  keylenth is 0

![image](https://user-images.githubusercontent.com/1241715/141737125-55067125-900c-4a38-9321-b73202c8284e.png)

bett

[2021-11-15 07:09] hezll commented on #212
Feel free to close this ticket.
Thanks.

[2021-11-15 15:02] iegomez commented on #212
I'm glad you found your problem and I'll take a look into the hashing package to see if a len check makes sense.

[2021-11-15 15:02] #212 closed

[2021-11-15 15:07] iegomez commented on #211
From the error I believe you're not mounting a volume with the configuration files for mosquitto and the plugin.

[2021-11-16 01:22] chfritz opened #213 "How to use with `per_listener_settings`?"
I have two different listeners configured on my broker: one using SSL and one using websockets. I'm authenticating clients on the SSL listener using certificates and using `use_identity_as_username` to set their username. Hence, these clients do not need to provide a password. On the other hand, clients connecting via the websocket listener do need to provide a password which needs to be verified.

[2021-11-16 02:03] chfritz commented on #213
OK, I think I've finally figured it out. It works when making a *copy* of the `.so` file and specifying `plugin` twice, pointing at the two copies. It does *not* work when just specifying `plugin` twice and pointing to the same file, nor when just making a sym-link.

Here is a working example now:
[code]

Then this config works as desired:

[code]

[2021-11-16 02:03] #213 closed

[2021-11-16 02:50] inteldon commented on #211
Thanks, I tried the example shared in the code. First, I created a `/conf` directory similar to the `conf_example` folder, with structure and content.

Then I ran the command: `docker run -it -p 1884:1884 -p 1883:1883 -v /conf:/etc/mosquitto iegomez/mosquitto-go-auth` and even after mounting the volume I got this error: `Error: Unable to open config file /etc/mosquitto/mosquitto.conf.`

I think it

[2021-11-16 22:42] iegomez commented on #211
If you're mounting `/conf` (note that's an absolute path, did you mean that?)  into `/etc/mosquitto`, then you'll need to at least have `/conf/mosquitto.conf` for Mosquitto's configuration, and `/conf/conf.d/go-auth.conf` (or whatever you called it in you `mosquitto.conf` when including the dir) for the plugin's one.

But yeah, it boils down to Mosquitto not finding the file within the container.

[2021-11-17 07:09] inteldon commented on #211
Thanks. Yes, I actually mounted the full path like this:
docker run -it -p 1884:1884 -p 1883:1883 -v /home/myusername/conf:/etc/mosquitto iegomez/mosquitto-go-auth

`
1637132840: mosquitto version 2.0.12 starting
1637132840: Config loaded from /etc/mosquitto/mosquitto.conf.
1637132840: Starting in local only mode. Connections will only be possible from clients running on this machine.
1637132840:

[2021-11-17 07:45] inteldon opened #214 "How to access the go auth API"
Once the system is running, how can we access the APIs? What port is the endpoint? Are there any documentations for accessing/editing APIs?

Thanks

[2021-11-17 10:30] iegomez commented on #211
Seems like you're missing listeners in your configuration, or it's not actually loading anything and resorting to defaults: `Create a configuration file which defines a listener to allow remote access.`.

[2021-11-17 10:31] iegomez commented on #214
I'm not sure what you mean by API here, or what endpoint and port would those be. Could you share more details?

[2021-11-17 13:50] ilyas-hallak commented on #87
I got the same issues and tried your solution and it worked! Thanks for that!

[2021-11-18 02:52] inteldon commented on #214
In order to access the plugin to add/remove users and acls, how can I connect to the running broker to pass those variables? I was hoping that there would be some form of HTTP API to connect with MQTT in order to manage users and acls, instead of the text password file we would have database systems.

On the other hand I'm wondering if go-auth only provides a database connection, which we need to

[2021-11-18 11:50] iegomez commented on #214
Have you gone through the README of the project? All the options and how they are configured are listed there.

You need to preconfigure the plugin to use whatever backends you want: a DB, static files, HTTP services, etc.
You don't add or remove users and acls through the broker or the plugin, you do that in whatever backend(s) you're using.

[2021-11-23 14:41] Smiche opened #215 "LWT not sent when a client loses connection or JWT token expires"
Using an mqttjs 4.2.8 client with a will:
[code]

Mosquitto broker version: 2.0.12
mosquitto-go-auth plugin version: latest from master branch

Relevant configuration:
[code]

When a user disconnects ungracefully, e.g. app terminated the LWT is not sent on the authed listener.

When a token expires the connection remains open and the client doesn't receive any errors (unless a new sub or pub is at

[2021-11-23 15:52] BrentLeemans opened #216 "ACL query not working for mysql"
I have to following configuration:
[code]
with the following table:
[code]
I have a user in my database with permission set to 3.
Everything works until I add the auth_opt_mysql_aclquery option. Whenever I try to subscribe, mosquitto will close my connection.

I followed the readme but couldn't figure out what's wrong, any suggestions?

[2021-11-23 18:57] iegomez commented on #216
On subscribing clients will send `4` as the access value, `3` is for when they try to actually read a message from the topic. So you need to either add records with `4` for your topics, or rework your query to accept both.

[2021-11-23 20:10] BrentLeemans commented on #216
I created a new table for ACL checks. Added permissions 2, 3 and 4. I now can subscribe but I can't publish anything. Do you know why?

Also, how would I write my query so it won't check the permissions? For some topics I just want the user to publish and subscribe.

[2021-11-23 20:25] iegomez commented on #216
Sorry, I mistyped the value, `1` is for read. As the readme shows:

[code]

Sorry, can't help with your query because it's absolutely app dependent, there's no generic solution.

[2021-11-23 22:10] iegomez commented on #215
Thanks for bringing this up, @Smiche .
I see there's interest in supporting this now and will try to come back to it when I get some time.

[2021-11-24 09:10] BrentLeemans commented on #216
I added 1, 2 and 4 as permissions and now I'm able to subscribe and publish to my topic. Thank you!

[2021-11-24 09:10] #216 closed

[2021-11-24 10:56] Smiche commented on #215
Actually this might be an issue with mosquitto itself.
![image](https://user-images.githubusercontent.com/11451992/143225603-5adb8175-4c61-487c-9fb6-af022f7835f0.png)
I will upgrade to 2.0.13 and try again.

[2021-11-24 11:44] iegomez commented on #215
For the first issue, that makes sense, but I haven't implemented client disconnection on JWT token expiration, so that's on me. 😄

[2021-11-24 12:44] Smiche commented on #215
Upgrading to 2.0.14 has resolved the LWT issue.

For no disconnect issue, if using an ACL endpoint that stops permission once token expires the client can constantly send a PING and if an error is sent back (as Not Authorized) the client can disconnect itself. If using a file ACL with jwt user auth then client will be able to send all the time and never disconnect, which is actually fine for our u

[2021-11-24 12:58] iegomez commented on #215
@Smiche I'm glad upgrading solved the LWT issue!

I'm gonna leave the issue open for a few days as a reminder to myself, I think I might get some time later this week.

[2021-11-25 14:25] thomastvedt opened #218 "Unstable after a while, connection to Postgresql fails"
We have an issue where our mosquitto isntance using mosquitto-go-auth becomes unstable after a while (around 45 days ). The only way to resolve it is to restart the service, which is not ideal.

Log from mosquitto:
[code]

Nothing wrong with cpu or memory usage:
![image](https://user-images.githubusercontent.com/4746639/143457748-0a59f01f-b859-412c-bea4-3514aadd31c0.png)

mosquitto.conf:

[code]

[2021-11-25 16:12] iegomez commented on #218
I'm not sure this is related to the plugin, Go, or the DB itself.

That said, I found [this SO topic](https://stackoverflow.com/questions/50338338/intermittent-connection-reset-by-peer-sql-postgres) suggesting to set `db.SetConnMaxLifetime(time.Something)` to force reconnections after a long idle period. Could you try and patch the backend and see if that works?

[2021-11-25 20:01] ralftar opened #219 "Switch to a semver compliant docker image tag syntax"
The current docker registry tag syntax is not getting picked up by dependabot when newer versions are released.

Switching to a [senver](https://semver.org/) compliant tag syntax would allow automated tools to pick up new versions.

Dependabot trace where `1.8.1-mosquitto_1.6.14` is **not** the latest version:

[code]

[2021-11-29 11:52] akashtalole opened #220 "Unknown configuration variable mysql_host when using prebuilt docker image"
mosquitto.conf
`persistence true
persistence_location /var/lib/mosquitto/
log_type all
listener 1883
listener 1884
protocol websockets
allow_anonymous false
include_dir /mosquitto/conf.d
`
goauthmysql.conf

`auth_plugin /mosquitto/go-auth.so
auth_opt_backends mysql
auth_opt_mysql_protocol tcp
mysql_host db
mysql_port 3306
mysql_user go_auth_test
mysql_password go_auth_test
mysql_dbname go_auth_tes

[2021-12-08 05:20] vijaygh1996 opened #222 "Connection refused: not authorized when trying to subscribe"
Hi
I am trying to implement MQTT authentication using MySQL as backend, The auth plugin running under docker container, which I have created a DB and tables and I have set it up password and acls for few users. hashed user credentials using pbkdf2 but when I am trying to access or authorize a user the below things are happening.

mosquitto version 2.0.14
MySQL 5.7

mosquitto_sub -h <Host_ip> -p 18

[2021-12-08 21:23] iegomez commented on #222
This is thrown here, before it ever gets to be checked by any backend: https://github.com/iegomez/mosquitto-go-auth/blob/master/auth-plugin.c#L91

The [2.0.14 release](https://mosquitto.org/blog/2021/11/version-2-0-14-released/) doesn't show any changes to the function signature, so I honestly have no idea why the username or password would be null.

[2021-12-08 21:27] iegomez commented on #220
Sorry for the delay, bur from what you pasted you are missing the `auth_opt_` for the `mysql_host` option.
Could you confirm and later close the issue if so, @akashtalole?

[2021-12-08 21:28] iegomez commented on #219
Could you file a PR for this?

[2021-12-09 02:33] akashtalole commented on #220
@iegomez Thanks it is working now.

[2021-12-09 02:33] #220 closed

[2021-12-09 02:40] akashtalole commented on #216
I am also facing acl issue. auth is working but acl policy not working.
`auth_opt_aclquery SELECT topic FROM test_acl WHERE (username = ?) AND rw = ?`

Observation is user can publish/subscribe to any topic but as per acl topic it is not working.

[2021-12-09 02:43] akashtalole commented on #216
This is acl table
`+----+--------------+----------+------------+----+
| id | test_user_id | username | topic      | rw |
+----+--------------+----------+------------+----+
|  9 |           79 | nodered  | test/flow  |  2 |
+----+--------------+----------+------------+----+
`

[2021-12-09 02:48] iegomez commented on #216
Again, the option is not correct, it should be `auth_opt_mysql_aclquery`, you're missing the `mysql` part.

[2021-12-09 02:55] akashtalole commented on #216
Sorry my bad. Thanks for quick reply.

[2022-03-11 03:35] iegomez commented on #215
@Smiche I never got the time to go back to disconnecting users on expired tokens, but I may do so some time in the next few weeks. Do you think this is still relevant (I'd need to go over Mosquitto changes and options to do so again, I really haven't checked this in a long time) or is there a reasonable workaround for it from your experience?

[2022-03-11 08:47] Smiche commented on #215
The way I went around it was to use acl from a file which gives full access to all topics and still use jwt for user auth. Now when a token expires nothing happens. This works for our use case at the moment, but disconnecting clients after a token expires would be definitely better.

[2022-03-11 14:36] iegomez commented on #215
Gotcha, I'll keep it open then. Thanks!

[2022-03-16 23:04] amin-is opened #225 "ACL Permission for Non-Super User"
I am using Mysql Backend. Here no need any ACL Permission for a Super user it is supported Wildcards Permission for all topic. Even no need to put any topic name inside ACL table.

But for Non-Super user need this all 4 Permission individually inside Mysql table for access a topic .
I am using below mysql query in side of ACL table to given full permission for a Non-Super user.

[code]
_____
My Qu

[2022-03-18 00:25] iegomez commented on #225
I understand your concern, but it has a flaw: does `4` stand for `subscribe`, or is it `read + readwrite` (1 + 3)?. I know `read + readwrite` make no sense semantically, but then again why would you grant `1, 2, 3, 4` to a user when all you need is `3, 4` to achieve the same? Or why not simply have it be a superuser?

The thing is `3` is a legacy value from when Mosquitto didn't have `MOSQ_ACL_SUB

[2022-03-18 18:26] amin-is commented on #225
Thanks for your Reply. I am very glad to use your plugin. I think so a thing that is a Super user can access all permission without ACL. on the other hand Non-Super user need all permission. When a Non-Super user want to send, receive and subscribe a messege to a another Non-Super users topic then need to put all the permission separately that my problem. And also i feel when all user of a broker

[2022-03-18 18:29] iegomez commented on #225
Yeah, I get you, but my point is that if a user is supposed to be able to do everything, then it's the same as setting it as a superuser, there's no difference. You can still have other users that don't have the superuser flag set and have explicit permissions as needed.
Also, as I mentioned, having `readwrite + subscribe` is effectively the same as having all 4 permissions if you don't want to se

[2022-03-21 08:11] amin-is commented on #225
Thanks for your suggestion. I hope you will add multi level permission feature in update version. like 1+2+3+4 permission For Non-Super user as single number word. e.g; [`insert into mosquitto_acl(mosquitto_user_id, topic, rw) values(1,'topic/abcd',10);`] Because Super user can grant access wildcard '#' without put ACL list. Where Non-Super user can not access wildcard '#'  If not put into ACL lis

[2022-03-22 12:48] iegomez commented on #225
I reopened it as a reminder in case I get some time.

[2022-03-23 06:01] amin-is commented on #225
@iegomez Thank you very much. I follow this idea and use this query and work for me everything that i exactly want.
`WHERE (username = ?) AND (rw = ? OR rw=3)`
Now i put specific permission value only 3 `rw`  for a topic and can readwrite + subscription of this topic
My problem is 100% solved i am using mosquitto version 2.0.14 on Ubuntu 20.04 & MariaDB 10

[2022-03-23 11:03] #225 closed

[2022-03-25 14:17] RenzoBeux commented on #98
Hey, im sorry i have to open a closed issue, but when running that go command i get stuck at:

`go: finding github.com/dgryski/go-rendezvous latest`

usingo go 1.13.8 linux/amd64

[2022-03-25 14:42] iegomez commented on #98
@RenzoBeux I'm reclosing it because that's a different package, it's not related to the original issue.
Please open a separate one if you can't figure out what's wrong. And do trying getting that package by itself first, iot might be something specific to it.

[2022-03-25 15:04] RenzoBeux commented on #98
Hey, thanks for the fast response. That is the output to the command you mentioned early.

[2022-03-25 15:13] iegomez commented on #98
Ok, but then it has nothing to do with the plugin (maybe it's the package, or your Go installation, etc.), I don't know how I can help.

[2022-03-25 15:17] iegomez commented on #98
Sorry for the lack of help, I can't even try it now because I don't have my Linux machine with me right now.
I hope you can resolve it soon.

Cheers!

[2022-03-28 15:11] zainali-mrs opened #226 "Auth only called once"
Hi,

I am using this plugin (v1.5.0) with "auth_opt_backends" http. I have setup "auth_opt_http_getuser_uri" with endpoint "/mqttAuth" which gets called when new user tries to connect to MQTT broker. I noticed that if somehow call to this endpoint "/mqttAuth" fails once then it does not gets called again. E.g. if on first try, I provide wrong password for connection to broker, "/mqttAuth" gets cal

[2022-03-28 15:52] zainali-mrs commented on #226
@iegomez
Yes, but tried after that as well. Tried to connect after 1 minute and still the "mqttAuth" endpoint was not getting called.

[2022-03-28 15:54] iegomez commented on #226
Could you set the log level to `debug` and check what's being called? There could be a bug in the Go cache code.
Also, is there a reason to be using such an outdated version?

[2022-03-28 15:58] zainali-mrs commented on #226
Sure, i will set log level to debug.
No specific reason for older version, this version was latest when we started using it. Did not got a proper change to integrate authentication mechanism until now.

[2022-03-28 16:43] zainali-mrs commented on #226
Ok, I understand the problem.
I had problem with my setup. I had one script running which was trying to continuously reconnect. Also i was doing it manually with MQTT.fx.  I closed the script and tried to reconnect with MQTT.fx after 1 minute and it worked. The auth endpoint got called then. So the cache time gets reset once someone tries to connect and my background script was reconnecting again

[2022-03-28 16:43] #226 closed

[2022-03-28 16:44] iegomez commented on #226
No problem, @zainali-mrs, I'm glad you figured it out.

Cheers!

[2022-04-10 10:04] aliazani opened #227 "Backend register error: couldn't initialize mysql backend with error MySql backend error: couldn't open db: couldn't ping database mysql: dial tcp 127.0.0.1:3306: connect: connection refused."
Hi there,
I'm running mosquitto-go-auth container and mysql container and I'm getting an error and it's about db connection:
ping database mysql error, will retry in 2s: dial tcp 127.0.0.1:3306: connect: connection refused
Backend register error: couldn't initialize mysql backend with error MySql backend error: couldn't open db: couldn't ping database mysql: dial tcp 127.0.0.1:3306: connect: conne

[2022-04-10 10:53] aliazani commented on #227
Sorry, that was my bad because I was running mysql container
localhost of mosquitto-go-auth couldn't ping mysql container.

[2022-04-10 10:53] #227 closed

[2022-04-11 23:27] iegomez commented on #218
The PR has been merged to master so I'm closing this.
Thanks again!

[2022-04-11 23:27] #218 closed

[2022-04-13 16:53] 130db opened #228 "Customizable Authorization token prefix"
Hi, Ignacio!
I would like to suggest customizable Authorization token prefix.

Project I am working on have OAuth2 for CRUD, but user sessions have JWTs.
Magic.link passwordless login returns JWT. On successful login they are verified on API via custom middleware with anything but "Bearer" prefix, because Bearer is used by OAuth2

Thanks!

[2022-04-13 17:02] 130db commented on #228
Nevermind.
Just realized that JWT with Bearer prefix will skip OAuth2 middleware and validate on my custom one.

[2022-04-13 17:02] #228 closed

[2022-04-22 00:07] ray66rus opened #229 "Enhancement: Provide all JWT claims for backend"
Why not send to `js`-type JWT backends all the claims, not just user name? It is not possible (or may be I just haven't found a way?) to use a third-party library in the JS script to parse JWT token string. In the same time if we need only the data from the JWT token to decide if we should allow user to access the topic, using a `remote`-type backend with the separate server seems to be an overkil

[2022-04-22 18:04] iegomez commented on #229
@ray66rus yeah, I think adding an option to pass all claims may be reasonable. I'll try to implement it soon.

Cheers!

[2022-04-23 17:34] ray66rus commented on #229
Cool. I think I can make a Pull Request concerning this feature

[2022-04-24 19:07] iegomez commented on #229
That'd be great, thanks!

[2022-04-24 20:53] ray66rus commented on #229
NP, but I need a piece of advise. You now use custom `Claims` struct with embedded `StandardClaims`. But if we are passing all the claims to the script this approach doesn't work (or I just don't know how to do it :-)). I'd like to change struct-style parsing to using `MapClaims`, but first I want to ask if you think this is ok. Maybe there is a better way, without changing the already-existing co

[2022-05-05 23:02] iegomez commented on #229
Sorry, I missed your comment. The current claims are like that because this project was tightly related to ChirpStack for a long time, and they used custom `username` claim instead of the standard `subject` one. I can definitely see a way of switching to map claims and keep supporting that as well as allowing for other user defined claims, though that could be achieved by constructing the claims s

[2022-05-08 17:45] ray66rus commented on #229
Well, I'm not a real Golang jedi (actually, I've never written anything in Go before :-D), so maybe I just missed some language feature - I have no idea how to create a structure combining fixed (standard claims) and arbitrary (user-defined claims) fields on the fly. Anyway, I've created a Pull Request and humbly waiting for your review :)

[2022-06-01 00:25] mrbrett opened #231 "Issue connecting to Postgres for JWT Local"
Thanks for the awesome plugin.
Currently trying to setup a local jwt backend and no matter the config I am getting blocked by

`ping database postgres error, will retry in 2s: missing \"=\" after \"#\" in connection info string\`

The funny thing is, I can use all the exact same credentials for a postgres backend and it connects and works great. This is only erroring for the jwt postgres connectio

[2022-06-02 18:14] mrbrett commented on #231
Sorry about this. Deleted config file and started from zero and this is no longer occurring. Not sure why this would work with postgres backend but not jwt but I suspect it was a formatting issue with a comment or something.

[2022-06-02 18:14] #231 closed

[2022-06-10 22:26] #214 closed

[2022-06-10 22:26] #211 closed

[2022-06-10 22:28] iegomez commented on #162
I'm closing this for now, feel free to reopen it if there are any updates.

[2022-06-10 22:28] #162 closed

[2022-06-10 22:30] iegomez commented on #219
I'll try to work on this next week, is just the order in which the tag is built: plugin version first and Mosquitto version last.
If we swap them, then it should work.

[2022-06-10 22:31] #222 closed

[2022-06-10 22:31] iegomez commented on #215
I'm gonna close this issue in favor of https://github.com/iegomez/mosquitto-go-auth/issues/106.

[2022-06-10 22:32] #215 closed

[2022-06-16 03:42] #229 closed

[2022-06-16 03:52] iegomez commented on #98
For what it's worth, I recently updated the redis cluster package and they changed from returning an error to a void 'ReloadState' function, and I adjusted Redis backend to account for that. So in latest versions this should not be an issue. Since the problem that motivated the reopening of this issue is unrelated, I'm gonna close it as done.

[2022-06-16 03:52] #98 closed

[2022-06-17 14:29] jmbiaudis opened #235 "Configuration problem for configuring auth with mysql"
Hello,

I have tried to configure the plugin, in a virtual machine with Ubuntu and mosquitto version 2.0.14 ans a local MariaDB, using the example in the README for MySQL.

I have set a user "client" with a password "test" where I want to test to subscribe or publish with a basic ACL.

Furthermore, I've tried different value in DB for "rw" like 0,1,2,4,10  following some issue (like issues 225, 21

[2022-06-17 15:38] iegomez commented on #235
I'm not sure what's the issue but at least this query seems wrong:
[code]
You're referencing 2 tables but not fully qualifying the fields nor doing any joins, seems like a typo to me.

Also, `auth_opt_log_level` is incorrectly set, these are not valid options for it:
[code]

Fixing that should give you more insight on to what's going on.

[2022-06-24 21:23] malakaisbest commented on #216
I'm facing the same ACL issue with the MySQL backend.
after digging into the problem I found the following thing.

when client-side use TCP
- Read Acc value is 1
- write  Acc value is 2

when client-side use MQTT over Websocket
 - Write  Acc value is 2 (Same as TCP)
 - But the reading Acc value is 4.

finally, I think we haven't a solution for this yet

[2022-06-24 22:48] iegomez commented on #216
@malakaisbest  Are you sure about that? 4 should be to initially subscribe to a topic, not to read from it later. So there's a bug in the client, it's misconfigured or being misused, but there's nothing to tweak in the broker or plugin configuration wise for that.

Of course, you can always work around it to allow both values for readers by reshaping or modifying your data, your query, or both. Bu

[2022-06-25 20:02] iegomez commented on #216
Oh, if you do provide more details, could you open a separate issue or reopen this one?

[2022-06-25 21:21] malakaisbest commented on #216
Sorry for the delayed reply.
after searching, I found this issue from the client side.
every JS example that I found and chrome extensions like [MQTT BOX](https://chrome.google.com/webstore/detail/mqttbox/kaajoficamnjijhkeomgfljpicifbkaf) send ACC value 4 when subscribing to the topic and receiving messages.

i already tried  [PHP mqtt](https://github.com/php-mqtt/client) client and MQTT BOX tcp f

[2022-06-25 22:27] malakaisbest commented on #216
example [mqttws31.js](https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js) code on [eclipse.org](https://www.eclipse.org/paho/index.php?page=clients/js/index.php) is giving that ACC 4 issue.

then I used [mqttws31.js](http://www.hivemq.com/demos/websocket-client/js/mqttws31.js) on hivemq.com.
it resolves the issue.

thanks

[2022-06-25 23:14] iegomez commented on #216
I'm glad to read you resolved your issue.

As for the clients always sending either 1 or 4 for both subscribe/read, but not the correct one for each action, I think that's wrong and not compliant with Mosquitto's interface. They probably get away with it when there's no strict check on those, but it seems terribly buggy to me.

But anyway, that's their problem, not yours, and again, I'm glad you w

[2022-06-27 04:25] iegomez commented on #219
@ralftar  I haven't had the time to do so, care to file a PR with that change?

[2022-06-27 20:34] malakaisbest opened #236 "Enhancement : use client IP address for authentication"
I have an idea about using the Client IP address with the user password for MQTT authentication.

currently I'm using ,MySQL backend for the authentication. to use the MQTT WebSocket feature I create a dynamic username password (with Topic) from the PHP side and send it to the frontend.
when I enter that username and password to the DB I'm adding an extra parameter for expiry time. then another cr

[2022-06-28 11:05] hardillb opened #237 "Docker build failing to start WebSocket Listener"
Using the `latest` tagged container mosquitto can not start a websocket listener

Using the following config file:

[code]

And starting with:
[code]

I get the following output:

[code]

I'll keep digging, but setting `websockets_log_level` hasn't shown anything useful yet

[2022-06-28 12:46] hardillb commented on #237
OK, so basic clean mosquitto won't start with just a websocket listener (but will if you also add a native listener) e.g.

[code]
That conf works with a self built mosquitto 2.0.14, but not with the version in the iegomex/mosquitto-go-auth container.

[code]

I've opened a separate issue against mosquitto for not starting with just a websocket listener, but that is different to this problem.
https

[2022-06-29 21:37] DerEnderKeks commented on #225
First of all, thanks for this project!

I created a complete schema for PostgreSQL and found a lot of useful information in the comments here, so I though maybe some else is interested: https://gitlab.com/DerEnderKeks/mosquitto-go-auth-postgres

Btw.: `(rw | $2) > 0` would always be true, since ORing just adds up the values. (`(rw & $2) = $2` would work)

[2022-06-29 22:07] iegomez commented on #225
Haha, yeah, probably a lapsus and I was looking for an AND instead, thanks for setting the record straight.

[2022-07-13 23:01] iegomez commented on #237
Bumping the version makes sense to me, but let's keep it separated from that PR to have clean history.

[2022-07-22 23:31] joaodforce opened #238 "Plugin double binding ports on Mosquitto"
I'm setting up the go-auth plugin in my Mosquitto broker

I already had a setup with 3 listeners, 1 for localhost only that allows anonymous logins.
a second one on port 1884 that needs to be authenticated with a password file.
and a 3rd one on port 8883 with TLS enabled that also uses Mosquitto's default password file system.

I then built the go-auth plugin and added a forth listener on port 888

[2022-07-22 23:58] joaodforce commented on #238
I think I've figured it out, it will bind to 1883 even if I don't add a listener on it. strange

[2022-07-23 05:12] iegomez commented on #238
Hey, @joaodforce!

I think Mosquitto is at fault here, there's no mention of port 1883 in the plugin other than in example configuration for Docker. You can also notice the difference in log format coming from Mosquitto versus the plugin, where the former starts with what seems to be a unix epoch number, while the plugin follows `LEVEL[timestamp]` format. You could try removing the plugin configur

[2022-07-27 14:27] joaodforce commented on #238
Hi there! sorry for the delayed response, the way `per_listener_settings` works is pretty simple, when it is Enabled, you can add Listener specific settings just by adding them right bellow the listener declaration, I specifically use to enable `allow_anonymous` only on the localhost listener on port 1883

I managed to understand what the problem was, altho it doesn't make sense, With the plugin O

[2022-07-28 13:23] magkopian opened #239 "Already generated PBKDF2 hashes not working with `mosquitto-go-auth`"
I have an existing database with PBKDF2 hashes which so far was being used with [mosquitto-auth-plug](https://github.com/jpmens/mosquitto-auth-plug) without a problem. The issue is that the hash checking by `mosquitto-go-auth` is done slightly differently even though I’m using the same settings.

Let me give you an example, let’s say I run the `pw` utility for the password "password" as follows.

[2022-07-28 13:43] magkopian commented on #239
Ok, I'm an idiot. All I had to do was to set `auth_opt_hasher_salt_encoding` to `utf-8`. For some reason I completely missed that configuration option.

[2022-07-28 13:43] #239 closed

[2022-07-28 14:00] iegomez commented on #239
Hehe, no worries, I'm glad you found it soon.

Cheers!

[2022-08-08 19:34] WilliamBradee opened #240 "Allow Anonymous"
As a integrator of legacy application I want to use go-auth with blank username and password so that I can support passing credentials in the Client ID.

In a legacy application the authentication information is carried in the client ID and  username/password are blank.

MQTT _does_ allow authentication without username/password.

Mosquitto config already has flag "allow_anonymous"

Proposal:
add

[2022-08-08 19:52] WilliamBradee commented on #240
The username/password are to avoid having anonymous/anonymous as an attack vector. So maybe simpler  and safer to have:
auth_opt_anonymous <username> <password>

So you HAVE to provide values, and have only one thing to configure.

[2022-08-09 16:40] mvandenabeele commented on #236
This would be great. I'd like to use this to allow anonymous access from internal IPs but require login for connections coming from the internet.

[2022-08-09 17:43] iegomez commented on #240
How are the credentials being passed in the client id for checking? If we allowed anonymous users but don't correctly define the client id checking for this case, then we might effectively allow access to resources that might not be supposed to be accesible.

But maybe I'm missing something, so if you can provide a full fledged example I can take a look into it.

[2022-08-10 11:20] WilliamBradee commented on #240
The client ID has the credentials, for instance, copied from link, Object Key with suffix example:
apikey:7021e880-f2ad-56e8-b482-3340ef03a4bf:my-client-103df

OAuth Token with suffix example:

bearer:BzlLgdFpfj2ChLSBsZmgyK46tV1cA0bK:my-client-104df

In effect, the apikey/bearer is the password and the "my-client" part is the user name.

the username/password is ignored, and in this case, not sent

[2022-08-10 12:50] iegomez commented on #240
Thanks for the explanation, I think I get the case better now: if we allow anonymous users, we'll set their username and password to fixed ones provided by the conf options. Then you'll use some backend that allows you to forward the `clientid` to your user defined authenticator, e.g. an HTTP service or the JS interpreter, and extract username and key/token to check upon it. You'll be losing the a

[2022-08-10 12:54] iegomez commented on #236
Sorry, I missed this request entirely. I remember having this exact same use case long ago and it was the reason for creating the plugin. That's how the JWT backend was born, using short lived tokens that the client would use to authenticate through Mosquitto websockets, backed by (in my case) a Postgres DB.

Have you given that alternative a try?

[2022-08-10 12:58] iegomez commented on #236
Also, following https://github.com/iegomez/mosquitto-go-auth/issues/240, I might consider adding anonymous users support with some user given username/password for replacements, but it wouldn't be quick: I'd really need to go over everything to ensure there are no security concerns.

[2022-08-10 13:11] malakaisbest commented on #236
I'm not an expert in this kind of development.
but I think some people can use the JWT token with their external application before it expires.
I go through the source code and cannot find a mechanism to get the client's IP address information on the MQTT authentication process.

if the MQTT broker can pass the source IP address to the backend we can improve the authentication mechanism.

[2022-08-10 14:04] iegomez commented on #236
To get the client's address you'd need to somehow pass it along the client's id.
I also found out that the plugin could get it from Mosquitto: https://github.com/eclipse/mosquitto/issues/1252
But implementing that and passing it along through the backends is no easy task, it's a major enhancement.

That's why I was suggesting an alternative route where you don't care about client's addresses but i

[2022-08-10 14:45] mvandenabeele commented on #236
I'm not using websockets for this projects, and I can't change the clients. Some can have login credentials and others can't. Those that can't should only work in our own network, event when the broker is also facing the internet. Because I can't change the broker address, I thought the IP-address would be the easiest way to do this, but I don't know much about the mosquitto implementation. It wou

[2022-08-10 15:34] malakaisbest commented on #236
found this article for IP auth
[mosquitto_auth_by_ip](https://github.com/eclipse/mosquitto/blob/master/plugins/auth-by-ip/mosquitto_auth_by_ip.c)

[2022-08-10 20:26] iegomez commented on #236
I thought you were using websockets from this:

Anyway, I could enable both anonymous users and passing along the client's address with the help of `mosquitto_client_address`, but as said it's not a trivial task and would take me some time.

[2022-08-12 20:05] WilliamBradee commented on #240
Yes I think you get it. If an authenticator wants to use ClientID to embed username/password, allow username and password to be null.

And do it the simplest way possible. It didn't occur to me, but can you just pass NULL down the stack and let the authenticator deal with it? and will MQTT's flag "allow_anonymous false" provide the same filter anyway? So only if someone sets "allow_anonymous true"

[2022-08-17 14:31] #237 closed

[2022-09-11 07:15] IoTThinks opened #245 "Support pbkdf2 with PHC format?"
Hi all,
Does the library support pbkdf2 with PHC format?
Some of my programs start to use pbkdf2 with PHC format.
https://github.com/P-H-C/phc-string-format/blob/master/phc-sf-spec.md#specification

pbkdf2 with PHC format:
$pbkdf2-sha512$i=10000,l=32$WOmVx2TXXXXXX85Hk/LtiA$lE1AXXXXXXd4tqX3Ebg0wu9cJhbQF6gcd0FIWzVcA5k

Current PBKDF2 format
PBKDF2$sha512$10000$oWJmWbLOQuiXXXXXXKk58Q$tdXCk6r4V6Htxzd7

[2022-09-11 07:53] IoTThinks commented on #245
Added some hints to convert into PHC format.

https://meta.discourse.org/t/export-password-hashes-in-the-phc-format/133805

[2022-09-20 20:47] amin-is opened #246 "Disallowed Wildcard "#" read write Permission for non superuser."
I am using MongoDB Backend.

using inside Config file
`auth_opt_mongo_disable_superuser false`

**My query:** Is it possible to Disable Wildcard "#" read write Permission for non superuser

**Here superuser able to read write wildcard "#" permission without input acls permission.**

[code]
**And non nonsuper users able to read write "topic/device1" and wildcard "#" topic permission with input acls

[2022-09-21 13:30] iegomez commented on #246
Hey, not sure because I don't know what client you're using, but aren't you maybe just forgetting the subscribe permission `"acc": 4` on topics you want to be able to subscribe to and then read?

[2022-09-22 03:16] amin-is commented on #246
Thanks for your reply.

My case without input subscribe permission ` "acc": 4 ` users can also subscribe any topic. I just give permission ` "acc": 3 ` everything working fine read write and subscribe too. I am very happy for working all together with single permission. About client  using I try  with MQTTBox, MQTT X, Mobile App also web client working well.
Disallow wildcard permission for non su

[2022-09-28 20:05] iegomez commented on #245
It does not at the time, but I would welcome a contribution to support it.
Alternatively, I could implement it myself, but I can't give an ETA for it other than "not soon".

[2022-10-12 13:27] Enhed opened #249 "Dynamic topics names"
Hello, i have topic with example structure:
`system/devices/{{id}}/messages`

where id is id of device, but i have more than 20k devices and many users with different access to them, so generating acl for that is hurt. Its possible to create dynamic subscribe? for example:
`system/devices/+/messages` - for all devices with user have access
`system/devices/1,2,3,4/messages` - access only in `[1,2,3

[2022-10-12 14:11] Enhed commented on #249
@iegomez the request is now there and it functions, but only in the case of a 1 to 1 subscription. But how to allow using `+` receiving messages only from available devices is not clear

[2022-10-12 15:00] iegomez commented on #249
Take a look at https://www.chirpstack.io/project/guides/mqtt-authentication/ as an example. In the plugin configuration section there's an `acl` query that builds topics on the fly derived from the user data, allowing wildcard access to anything under `application` topics given the user's organization:
[code]

So the point is that depending on where the allowed `ids` for your devices messages come

[2022-10-13 19:49] #249 closed

[2022-11-07 22:16] beuluis opened #250 "How do ACL work"
Hey there.

I tried to follow the SQL examples from https://github.com/iegomez/mosquitto-go-auth#postgresql

I came up with this config and queries:

[code]

This is the DB schema i use:

[code]

ACL and Group have a ManyToMany relation to group.

I get `Acl is false for user HelloWorld` for what ever i subscribe or publish to.
I am a bit confused with the values of ACL since there seem to be an m

[2022-11-07 22:29] iegomez commented on #250
ACLs **passed by Mosquitto** upon a check are the ones listed at https://github.com/iegomez/mosquitto-go-auth#acl-access-values:
[code]
From your query check `("acl"."readWrite"::text::integer = $2)`, you're checking for explicit equality, so your ACL rule with `readWrite` set to `3` will never match. If you want to treat 3 as both read and write, you need to express that in your query.
Likewise,

[2022-11-07 23:30] iegomez commented on #250
Depends on what you're trying to achieve, but probably not. E.g., if you want someone to be able to subscribe and read, but not write, you need to be able to accept values 1 and 4 for `$2`, but not a 2 which would grant publishing.

Take a look at this issue for an example of how to do unix like permissions (warning, I used a bitwise OR in a comment when it should have been an AND, the latest comm

[2022-11-07 23:34] iegomez commented on #250
Of course, you can keep it simple with exact matches and having ACL records for every permission needed, e.g. a record with value 1 and another with value 4 for topics you want a user to be able to read and subscribe.

[2022-11-08 00:03] beuluis commented on #250
Haha ok i think i got it now!

Changed the config value to
[code]

and updated my tables with

[code]

So all users with the group `default` are now allowed to subscribe to `reply/#` and `group/default/#`, read `reply/#` and read_write `group/default/#`.
The `system` user is a `superuser` and is allowed to se everything.

Thanks for your help and the linked issue that did the trick. Did not find i

[2022-11-08 00:03] #250 closed